{% load i18n %}

<a href="#" class="btn btn-default pull-right issue-btn-confidential" style="background-color: transparent;">
		<i class="fa fa-unlock"></i>
</a>
<div class="btn-group-vertical issue-confidential-options pull-right" data-toggle="buttons" style="display: none;">
	{% for group_name, choices in optgroups %}{% for choice in choices %}
	<label class="btn btn-default oc-radio-btn" for="{{ attrs.id }}_{{ forloop.counter }}">
		<input type="radio" value="{{ choice.0 }}" name="{{ name }}" id="{{ attrs.id }}_{{ forloop.counter }}">
		{{ choice.1 }} </label>
	{% endfor %}{% endfor %}
</div>
<div class="clear"></div>
<script>
	$('a.issue-btn-confidential').on('click', function() {
		$(this).next('.issue-confidential-options').show();
		// $('#modal-form .htmlarea').css('margin-top', '75px');
	});
	$('.issue-confidential-options label').on('click', function() {
		if ($(this).find('input').val() == 0) {
			$('.issue-btn-confidential').html('<i class="fa fa-unlock"></i>');
			$(this).closest('.modal-content').css('background-image', 'none');
			$('.issue_left_column').removeClass('is_confidential');
		} else {
			$('.issue-btn-confidential').html('<i class="fa fa-lock"></i>');
			$(this).closest('.modal-content').css('background-image', 'url("/static/images/line-marks.png")');
			$('.issue_left_column').addClass('is_confidential');
		};
		// $('#modal-form .htmlarea').css('margin-top', '0');
		$(this).parent().hide();
	});
</script>