*.py[cod]
*~
/db/ocd.db

# Local settings
/src/ocd/local_settings.py

# collected static files
/static/

# virtualenv stuff
/Scripts/
/Lib/
/Include/
/bin/
/share/

# aptana project files
/.project
/.pydevproject
/man/
/.settings/
db/2013-05-20.json
src/ocd/static/bootstrap3/
src/ocd/static/assets/
build/pip-delete-this-directory.txt
db/ocd_new.db
db/opencommunity.db
media/community_logo/Maya_3.jpg
media/community_logo/maya.jpg
media/community_logo/maya_1.jpg
media/community_logo/maya_2.jpg
src/communities/ignored
src/ocd/static/community_logo/maya.jpg
src/ocd/static/community_logo/maya_1.jpg
uploads/rngjlh7k5ru9he0iwcfv6blr/iyrokudyh9fk4ct53faczcm7/Maya.jpg
uploads/
src/ocd/static/bootstrap-3.0.0/
src/dummysmtp.cmd
src/run.cmd
src/trans1st.cmd
src/trans2nd.cmd
src/ocd/static/Chart.js/
*.orig
Boaz-Chen_OPEN-COMMUNITY/
/.idea/
build
media/community_logo
whoosh_index/

# editor files
*.sublime-project
*.sublime-workspace

db/ocd_new1.db
src/.idea/.name
src/.idea/encodings.xml
src/.idea/misc.xml
src/.idea/modules.xml
src/.idea/other.xml
src/.idea/scopes/scope_settings.xml
src/.idea/src.iml
src/.idea/testrunner.xml
src/.idea/vcs.xml
src/.idea/workspace.xml
pip-selfcheck.json
