*.py[cod]
*~
/db/ocd.db

# Local settings
/src/ocd/local_settings.py

# collected static files
/static/

# virtualenv stuff
/Scripts/
/Lib/
/Include/
/bin/
/share/

# aptana project files
/.project
/.pydevproject
/man/
/.settings/
db/2013-05-20.json
src/ocd/static/bootstrap3/
src/ocd/static/assets/
