*.py[cod]
*~
/db/ocd.db

# Local settings
/src/ocd/local_settings.py

# collected static files
/static/
# uploaded media files
/media/

# virtualenv stuff
/Scripts/
/Lib/
/Include/
/bin/
/share/

# aptana project files
/.project
/.pydevproject
/man/
/.settings/
db/2013-05-20.json
