# django
Django==1.9.8

# django apps
django-floppyforms==1.6.2
django-taggit==0.19.1

# general libs
pillow==3.3.0
bleach==1.4.3
psycopg2==2.6.2
pytz==2016.6.1
python-graph-core==1.8.2

# search
Whoosh==2.7.4
django-haystack==2.4.1

# queue
redis==2.10.5
hiredis==0.2.0
rq==0.6.0
django-rq==0.9.1

# dev stuff
ipython==5.0.0
django-extensions==1.6.7
django-debug-toolbar==1.5
django-nose==1.4.3
