# django
Django==1.5.1

# django apps
django-crispy-forms==1.2.3
South==0.7.6

# dev stuff
django-extensions==1.1.1
django-debug-toolbar==0.9.4
django-extensions==1.1.1
django-nose==1.1
ipython

# fabric
# fabric-virtualenv
