{% load i18n %}
{% load opencommunity %}

<li class="issue" data-issue="{{i.id}}">
    <div class="timer" data-url="{% url 'issue_set_length' community.id i.id %}">
        <span data-strict="{{i.length_in_minutes|minutes_strict}}">{{i.length_in_minutes|minutes|default:'--:--'}}</span>
    </div>
    <div class="grab"></div>
    <a href="{{i.get_absolute_url}}">
        {{i.title}}
        {% if object.upcoming_meeting_started and i.accepted_proposals.count == 0 %}
            <span class="undecided">
                {% trans "Undecided" %}
            </span>
        {% endif %}
    </a>
    {% if cperms.community.editagenda_community %}
        <a href="#" class="addremove"></a>
    {% endif %}
</li>
