{% load i18n %}
{% load opencommunity voting_tags %}

<li class="{% if i.is_confidential %}is_confidential {% endif %}issue oc_li" data-issue="{{i.id}}">
	{% if 'editagenda_community' in cperms %}
		<div class="grab"></div>
	{% endif %}
	<div class="available-issue-date">
		{{ i.created_at|ocshortdate }}
	</div>
	<a href="{{i.get_absolute_url}}"{% if not object.upcoming_meeting_is_published %} style="margin-{% if LANGUAGE_CODE == 'he' %}left{% else %}right{% endif %}: 100px;"{% endif %}>
		{{i.title}}
	</a>

	{% if 'editagenda_community' in cperms and not i.changed_in_current and not i.completed %}
		<div class="timer{% if not object.upcoming_meeting_started and i.is_upcoming %} timer_extra{% endif %}" data-url="{% url 'issue_set_length' committee.community.slug committee.slug i.id %}">
			<span data-strict="{{i.length_in_minutes|minutes_strict}}">{{i.length_in_minutes|minutes|default:'--:--'}}</span>
    </div>
    {% if not object.upcoming_meeting_started and i.is_upcoming and i.can_straw_vote %}
    <div class="user_votes_on_issue">
      {% user_votes_on_issue %}
    </div>
    {% endif %}
		<div class="icon-plus-minus agenda_plus_minus">
			<a href="#" class="addremove"></a>
		</div>
	{% else %}
		{% if i.can_straw_vote and 'vote' in cperms and user.id and not object.upcoming_meeting_started and i.is_upcoming %}
			<div class="user_votes_on_issue">
				{% user_votes_on_issue %}
			</div>
		{% endif %}
		{% if object.upcoming_meeting_started %}
			<div class="agenda_plus_minus
			{% if i.completed and 'view_update_status' in cperms %}tick{% else %}
			{% if i.changed_in_current and 'view_update_status' in cperms %}cog{% endif %}
			{% endif %}"{% if i.changed_in_current and 'view_update_status' in cperms %} data-toggle="tooltip" data-placement="top" title="{% trans 'Issue in discussion' %}"{% endif %}></div>
		{% endif %}
	{% endif %}
</li>
