{% load i18n %}
{% load opencommunity %}

<ul class="prop-table proposals procedure">
    <li class="drag-icon rule-icon order"
    data-title="{{p.title}}"
    data-date="{{p.decided_at_meeting.held_at|date:'Y-m-d'}}"
    data-tags="{{ p.tags.names|join:',' }}"></li>
    <li class="prop-title">
      <a href="{{p.get_absolute_url}}">{{ p.title }}</a>
    </li>
    <li class="prop-content">
        <div>{% trans 'Procedure approval date' %}: {{ p.decided_at_meeting.held_at|date:"DATE_FORMAT" }} </div>
        <div>{{p.content|userhtml}}</div>
    </li>
</ul>

