{% extends "base.html" %}
{% load i18n %}

{% block extra-page-id %}
	id="community-list"
{% endblock %}

{% block page_header %}
    {% trans "Open Community" %}
{% endblock %}

{% block header-end %}
    {% if user.id %}
        <a href="#endpanel" data-icon="bars" data-iconpos="notext"  data-rel="popup"></a>
    {% endif %}
{% endblock %}

{% block endpanel %}
    {% if user.id %}
        <div data-role="panel" data-position="left" id="endpanel">
            <ul data-role="listview">

                {% if user.is_staff %}
                    <li>
                        <a href="{% url 'admin:index' %}">{% trans "Admin" %}</a>
                    </li>
                {% endif %}

                <li data-role="list-divider">
                    {{user.display_name}}
                </li>

                <li>
                    <a href="{% url 'logout' %}">{% trans "Log out" %}</a>
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock %}


{% block content %}

    {% if user.id %}

          <h2>
              {% trans "My Communities" %}
          </h2>

          {% if user.memberships.count %}
                <ul class="community_home" data-role="listview">
                    {% for m in user.memberships.all %}
                      {% include 'communities/_community.html' with c=m.community role=m.get_default_group_name_display %}
                    {% endfor %}
                </ul>

          {% endif %}

        {% else %}

        <div class="ctr">
            {% trans "Plesae login to view your communities" %}
            <a href="{% url 'login' %}" data-role="button" data-inline="true" data-theme="a">
                {% trans "Login" %}
            </a>
        </div>

    {% endif %}

    {% if object_list %}

      <h2>
          {% trans "All Communities" %}
      </h2>

        <ul class="community_home" data-role="listview">
            {% for c in object_list %}
                {% include 'communities/_community.html' %}
            {% endfor %}
        </ul>

    {% endif %}
    
    {% if version %}
        <p class="version">{% trans "Version" %}: {{ version }}</p>
    {% else %}
        <p class="version">DEVELOPMENT SERVER</p>
    {% endif %}

{% endblock %}