{% extends "base.html" %}
{% load i18n %}

{% block extra-page-id %}
	id="community-list"
{% endblock %}

{% block page_header %}
{% endblock %}


{% block content %}

    {% if user.id %}

          <h2>
              {% trans "My communities" %}
          </h2>

          {% if user.memberships.count %}
                <ul class="community_home nav nav-pills nav-stacked">
                    {% for m in user.memberships.all %}
                      {% include 'communities/_community.html' with c=m.community role=m.get_default_group_name_display %}
                    {% endfor %}
                </ul>

          {% endif %}

    {% else %}

        <p class="text-center">
            {% trans "Plesae login to view your communities" %}
            <a href="{% url 'login' %}" class="btn btn-oc">
                {% trans "Login" %}
            </a>
        </p>

    {% endif %}

    {% if object_list %}

      <h2>
          {% trans "All Communities" %}
      </h2>

        <ul class="community_home nav nav-pills nav-stacked">
            {% for c in object_list %}
                {% include 'communities/_community.html' %}
            {% endfor %}
        </ul>

    {% endif %}
    
    {% if version %}
        <p class="version text-center">{% trans "Version" %}: 
            <span dir="ltr">{{ version }}</span>
        </p>
    {% else %}
        <p class="version text-center">DEVELOPMENT SERVER</p>
    {% endif %}

{% endblock %}