{% extends "base.html" %}
{% load i18n %}

{% block page_header %}
    {% trans "Ongoing Meeting" %}</a>
{% endblock %}

{% block content %}

    {% if object.upcoming_meeting_comments %}
        <div data-role="collapsible" data-collapsed="false"
            data-theme="c" data-content-theme="d" data-mini="true">

            <h4>{% trans "Comments" %}</h4>

            <p>
                {{object.upcoming_meeting_comments|linebreaksbr}}
            </p>
        </div>
    {% endif %}
        
    <h3>{% trans "Summary" %}</h3>
    <p>
        <textarea id="id_summary"></textarea>
    </p>

    <div data-role="collapsible" data-collapsed="false"
        data-theme="b" data-content-theme="d" >
        <h4>{% trans "Issues" %}</h4>

        <ul data-role="listview">
            {% for i in object.upcoming_issues %}

                <li>
                    <a href="{{i.get_absolute_url}}">
                        <h5>{{i.title}}</h5>
                        <p>
                            <ul class="proposals">
                                {% for p in i.proposals.all %}
                                    <li{% if p.is_accepted %} class="accepted"{% endif %}>
                                        {{p.title}}
                                    </li>
                                {% endfor %}
                            </ul>
                        </p>
                    </a>
                </li>

            {% endfor %}
        </ul>
    </div>

    <a data-role="button" data-theme="a" 
    href="{% url "upcoming_close" community.id %}" class="btn">
        {% trans "Close Meeting" %}
    </a>

{% endblock %}

{% block extrahead %}
{% endblock %}

{% block scripts %}
    <script src="{{STATIC_URL}}js/syncme.js"></script>
    <script>
    $(function(){
        $('#id_summary').syncMe();
    });
    </script>
{% endblock %}
