{% extends "dialog.html" %}
{% load i18n floppyforms %}

{% block page_header %}
    <span class="participant-title">
    	<span class="select-participants"{% if not object.full_participants.count %} style="display: none;"{% endif %}>{% trans "Select Participants" %} <button type="button" class="btn btn-default">{% trans "List" %}</button></span>
    	<span class="list-of-participants"{% if object.full_participants.count %} style="display: none;"{% endif %}>{% trans "List of Participants" %} <button type="button" class="btn btn-default">{% trans "Edit" %}</button></span>
	</span>
{% endblock %}

{% block content %}

<form id="participants_form">

<div id="p_select" style="display:none;" >
{% formfield form.upcoming_meeting_participants %}
{% formfield form.upcoming_meeting_guests %}
</div>  

<div class="participants-body-form">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#board" data-toggle="tab">{% trans "Board" %}</a>
		</li>
		<li>
			<a href="#members" data-toggle="tab">{% trans "Members" %}</a>
		</li>
		<li>
			<a href="#guests" data-toggle="tab">{% trans "Guests" %}</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="board">
      <div class="board_select">{% formfield form.board %}</div>
		</div>
		<div class="tab-pane" id="members">
			<ul class="list-group" id="members-list">
				{% for member in object.meeting_participants.members %}
				<li class="list-group-item">
					<div style="display: inline;line-height: 30px;">
						{{ member.display_name }}
					</div>
					<button type="button" class="pull-right btn btn-danger btn-sm del_member">
						<i class="fa fa-trash-o"></i>
					</button>
				</li>
				{% endfor %}
			</ul>
			<div class="row">
				<div class="form-group">
					<div class="col-xs-10">
						<input type="text" class="form-control" id="add_member"/>
					</div>
					<div class="col-xs-2">
						<button type="button" class="btn btn-default" id="add_member_btn">
							{% trans "Add" %}
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="guests">
			<ul class="list-group" id="guests-list">
				{% for guest in object.get_guest_list %}
				<li class="list-group-item">
					<div style="display: inline;line-height: 30px;">
						{{ guest }}
					</div>
					<button type="button" class="pull-right btn btn-danger btn-sm">
						<i class="fa fa-trash-o"></i>
					</button>
				</li>
				{% endfor %}
			</ul>
			<div class="form-group">
				<div class="row">
					<label class="col-sm-2 control-label text-right">{% trans "Name" %}</label>
					<div class="col-xs-8">
						<input type="text" class="form-control" id="guest_name" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<label class="col-sm-2 control-label text-right">{% trans "Email" %}</label>
					<div class="col-xs-8">
						<input type="email" class="form-control" id="guest_email" />
					</div>
					<div class="col-xs-2">
						<button class="btn btn-default" id="add_guest_btn" type="button">
							{% trans "Add" %}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</form>

{% block participants_list %}
<div class="participants-body-list"{% if object.full_participants.count %} style="display: none;"{% endif %}>
	<div class="panel panel-default">
		{% if object.meeting_participants.board %}
		<div class="panel-heading">
			<h3 class="panel-title">{% trans "Board" %}</h3>
		</div>
		<ul class="list-group">
			{% for board in object.meeting_participants.board %}
			<li class="list-group-item clearfix">
				<span style="line-height: 2;">{{ board.display_name }}</span>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% if object.meeting_participants.members %}
		<div class="panel-heading">
			<h3 class="panel-title">{% trans "Members" %}</h3>
		</div>
		<ul class="list-group">
			{% for member in object.meeting_participants.members %}
			<li class="list-group-item clearfix">
				<span style="line-height: 2;">{{ member.display_name }}</span>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% if object.get_guest_list %}
		<div class="panel-heading">
			<h3 class="panel-title">{% trans "Guests" %}</h3>
		</div>
		<ul class="list-group">
			{% for i in object.get_guest_list %}
			<li class="list-group-item">
				{{ i }}
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
</div>
{% endblock %}
{% endblock %}

{% block scripts %}
    <script>
      var typeahead_url = '{% url  "ac_user" community_id=object.id  %}';
    </script>
    <script src="{{STATIC_URL}}js/participants.js"></script>
{% endblock %}
