{% extends "base.html" %}
{% load i18n %}
{% load opencommunity %}

{% block extra-page-id %}
id="procedure-list"
{% endblock %}

{% block title %}
	<title>{{ community.name }} - {% trans "Procedure Book" %}</title>
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<h1>{% trans "Procedure Book" %}</h1>
  <form method="get" action=".">
  <div class="row">
      <div class="col-xs-12 form-group">
          <input type="text" name="q" class="form-control issue-search" placeholder="{% trans "Search by keywords" %}">
      </div>
      <div class="col-xs-12 form-group">
         <input type="submit" value="Search">
      </div>
  </div>
  </form>

  <div class="row">
      <div id="proc_tags" class="col-xs-12">
          <span class="title">{% trans 'Tags' %}:</span>
          {% for t in sorted_tags %}
              <a href="#" data-tag="{{ t.0 }}">{{ t.0 }}</a>
           {% if not forloop.last %}/{% endif %}    
          {% endfor %}
      </div>
  </div>
  
    <ul id="procedure-order" class="nav nav-tabs">
        <li class="pull-left"><span style="padding: 10px 0 0 20px; display:block; position: relative; font-weight: bold;">{% trans 'Sort by' %}:</span></li>
        <li><a href="#by_date" data-toggle="tab">{% trans "Approval date" %}</a></li>
        <li><a href="#by_title" data-toggle="tab">{% trans "Procedure name" %}</a></li>
    </ul>

    
    <div class="tab-content clearfix" style="clear: both; padding-top: 10px;">
        {% for p in procedure_list %}
            {% include "communities/_procedure.html" %}
        {% endfor %}
        {% if query %}
            <h3>{% trans "Results" %}</h3>

            {% for p in page.object_list %}
                {% include "communities/_procedure.html" %}
            {% endfor %}    
        {% endif %}
    </div>

{% endblock %}


{% block scripts %}
<script src="{{STATIC_URL}}js/jquery.tinysort.min.js"></script>
<script>
    function sort_procedures(by) {
    if(by == '#by_tag') {
        console.log('tag');
    } 
    else if(by == '#by_title') {
        $('.tab-content ul').tsort('li.order', {data: 'title'}); 
    }
    else if(by == '#by_date') {
        $('.tab-content ul').tsort('li.order', {data: 'date'});     
    }

    }
  
    $(function() {
        $('#procedure-order').on('click', 'a', function() {
            sort_procedures($(this).attr('href'));
        });
        $('#proc_tags').on('click', 'a:not(.show_all)', function() {
            var t = $(this).data('tag');
            console.log(t);
            $('.procedure').hide();
            $('.procedure li[data-tags*="' + t + '"]').closest('ul').show();
        });  
  });

</script>

{% endblock %}
