{% extends "dialog.html" %}
{% load i18n %}

{% block page_header %}
    {% if object.upcoming_meeting_started %}
      {% trans "Summary Draft" %}
    {% else %}
      {% trans "Publish" %}
    {% endif %}
{% endblock %}

{% block nofooter %}
<div class="modal-footer">
	<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#protocolPreview">
		{% if object.upcoming_meeting_started %}
			{% trans "Preview protocol" %}
		{% else %}
			{% trans "Preview draft" %}
		{% endif %}
	</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
    <input type="submit" class="btn btn-oc" value="{% trans "Publish" %}">
	<div id="protocolPreview" class="collapse"></div>
</div>
{% endblock %}

{% block page_scripts %}
{% if object.upcoming_meeting_started %}
<script>
	$.ajax({		
		url : "/{{ object.id }}/protocol-preview/",
		success : function(result) {
			$("#protocolPreview").html(result);
		}
	}); 
</script>
{% else %}
<script>
	$.ajax({
		url : "/{{ object.id }}/upcoming/publish/preview/",
		success : function(result) {
			$("#protocolPreview").html(result);
		}
	}); 
</script>
{% endif %}
{% endblock %}
