{% extends "communities/participants_form.html" %}
{% load i18n %}

{% block page_header %}
    {% if LANGUAGE_CODE == 'he' and community.no_meetings_community %}
    {% trans "Start update" %}
    {% else %}
    {% trans "Start meeting" %}
    {% endif %}
{% endblock %}



{% block participants_list %} {% endblock %}  
{% block btn_text %}
{% if LANGUAGE_CODE == 'he' and community.no_meetings_community %}
{% trans "Start update" %}
{% else %}
{% trans "Start meeting" %}
{% endif %}
{% endblock %}


{% block scripts %}
    {{ block.super }}
    <script>
        $(function() {
            $('.participants-body-form').show();
        });
    </script>
{% endblock %}   

