{% extends "base.html" %}
{% load i18n %}
{% load opencommunity %}

{% block extra-page-id %}
    id="upcoming-meeting"
{% endblock %}

{% block page_header %}
    {% trans "Upcoming Meeting" %}
    {% if object.upcoming_meeting_title and cperms.communities.viewupcoming_community %}
        {% if cperms.community.editagenda_community or object.upcoming_meeting_is_published %}
            - {{object.upcoming_meeting_title}}
        {% endif %}
    {% endif %}
{% endblock %}

{% block header-start %}
    {% if cperms.community.editupcoming_community %}
        <a href="#upcoming-panel" data-icon="edit" data-iconpos="notext" data-rel="panel"></a>
    {% else %}
        <a href="#" style="visibility:hidden"></a>
    {% endif %}
{% endblock %}

{% block header-end %}
    <a href="#issuespanel" data-icon="bars" data-iconpos="notext"  data-rel="popup"></a>
{% endblock %}

{% block startpanel %}
    <div data-role="panel" id="upcoming-panel">
        <ul data-role="listview">

            {% if cperms.community.editagenda_community %}
                <li data-icon="plus">
                    <a data-rel="form" href="{% url "issue_create_upcoming" community.id %}"  data-icon="plus" data-iconpos="notext">{% trans "Create Issue" %}</a>
                </li>
            {% endif %}

            {% if cperms.community.editupcoming_community %}
                <li data-icon="edit">
                    <a data-rel="form"
                        href="{% url "upcoming_edit" community.id %}">
                        {% trans "Edit" %}
                    </a>
                </li>
            {% endif %}

            {% if cperms.community.editparticipants_community and community.upcoming_meeting_started %}
                <li data-icon="edit">
                    <a data-rel="form"
                        href="{% url "upcoming_edit_participants" community.id  %}">
                        {% trans "Select Participants" %}
                    </a>
                </li>
            {% endif %}

            {% if cperms.community.editagenda_community %}
                <li>
                    <a data-rel="form" 
                    href="{% url "upcoming_publish" community.id  %}">
                        {% if object.upcoming_meeting_started %}
                          {% trans "Send Summary" %}
                        {% else %}
                          {% trans "Publish Agenda" %}
                        {% endif %}
                    </a>
                </li>
            {% endif %}
            
            {% if cperms.community.editupcoming_community %}
                <li>
                    <a data-rel="form" 
                    href="{% url "upcoming_start" community.id  %}">
                        {% if object.upcoming_meeting_started %}
                            {% trans "Undo Start Meeting" %}
                        {% else %}
                            {% trans "Start Meeting" %}
                        {% endif %}
                    </a>
                </li>
            {% endif %}

        </ul>
    </div>

{% endblock %}

{% block endpanel %}
    {% include "_main_panel.html" %}
{% endblock %}

{% block content %}

    {% if cperms.communities.viewupcoming_community %}
        {% if cperms.community.editagenda_community or object.upcoming_meeting_is_published %}

            {% if object.upcoming_meeting_started %}
                <p class="sub-title">
                    --{% trans "Meeting started" %}--
                </p>
            {% else %}

            {% if object.upcoming_meeting_is_published %}
                <p class="sub-title">
                    --{% trans "Published" %}--
                </p>
                <p class="sub-title" style="font-size: 14px">
                    ({% trans "Version" %} {{object.upcoming_meeting_version}} - {{object.upcoming_meeting_published_at}})
                </p>
            {% else %}
                <p class="sub-title">
                    --{% trans "Draft" %}--
                </p>
            {% endif %}
            {% endif %}

            <div class="meeting-info">
                <p>
                    <b>{% trans "Location" %}:</b>
                    <span>{{object.upcoming_meeting_location|default:_("Not set yet")}}</span>
                    <br/>
                    <b>{% trans "Scheduled at" %}:</b>
                    <span>{{object.upcoming_meeting_scheduled_at|default:_("Not set yet")}}</span>
                    {% if object.upcoming_meeting_comments %}
                        <p>
                            <span>{{object.upcoming_meeting_comments|safe}}</span>
                        </p>
                    {% endif %}
                </p>
            </div>

            <div id="agenda-container" class="agenda-list">

                <h4>
                    {% trans "Agenda items" %}
                    <span class="loader">
                        <img src="{{STATIC_URL}}images/ajax-loader.gif" alt="Loading"/>
                    </span>
                </h4>
                <ul id="agenda" data-role="listview" data-split-icon="minus" data-count-theme="a">
                        {% for i in object.upcoming_issues %}
                            {% include "communities/_issue.html" %}
                        {% endfor %}
                </ul>
            </div>

            {% if object.upcoming_meeting_started and cperms.community.editupcoming_community %}

                <h3>{% trans "Summary" %}</h3>
                <div class="ui-grid-solo">
                    <div class="ui-block-a">
                        <div class="ui-bar ui-bar-c">
                            <p>
                                <div class="push">
                                    <a data-rel="form" data-role="button" data-theme="a"
                                    data-inline="true"
                                    href="{% url "upcoming_edit_summary" community.id %}" class="btn">
                                        {% trans "Edit" %}
                                    </a>
                                </div>
                                {% if object.upcoming_meeting_summary %}
                                    {{object.upcoming_meeting_summary|safe}}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>

            {% endif %}

            {% if object.upcoming_meeting_started and cperms.meetings.add_meeting %}
                <div class="narrow">
                    <a data-rel="form" data-role="button" data-theme="a"
                    href="{% url "upcoming_close" community.id %}" class="btn">
                        {% trans "Close Meeting" %}
                    </a>
                </div>
            {% endif %}

            {% if cperms.community.editagenda_community %}

                <div id="available-agenda" class="agenda-list">

                    <h4>{% trans "Available Issues" %}</h4>

                    <ul id="available" data-role="listview" data-split-icon="plus">
                        {% for i in object.available_issues %}
                            {% include "communities/_issue.html" %}
                        {% endfor %}
                    </ul>

                </div>

            {% endif %}

        {% else %}

            <div class="notice">
                {% trans "Agenda not yet published" %}.
            </div>

        {% endif %}
    {% endif %}

{% endblock %}

{% block extrahead %}
{% endblock %}

{% block scripts %}
    <script src="{{STATIC_URL}}jquery-ui/js/jquery-ui-1.10.2.custom.js"></script>
    <script src="{{STATIC_URL}}js/jquery.ui.touch-punch.js"></script>
    <script src="{{STATIC_URL}}js/upcoming.js"></script>
    <script src="{{STATIC_URL}}js/issues.js"></script>
{% endblock %}
