{% extends "dialog.html" %}
{% load i18n %}

{% block page_header %}
    {% trans "Edit upcoming meeting" %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        /*
        $('#id_upcoming_meeting_scheduled_at').blur(function(event) {
            var date_str = $(this).val()
            var d = new Date(date_str)
            var d_as_millis = d.getTime()
            d_as_millis -= 24 * 60 * 60 * 1000
            var end_vote_time = new Date(d_as_millis)
            end_vote_time.setHours(0)
            end_vote_time.setMinutes(0)
            end_vote_time.setSeconds(0)
            
        })
        */
    </script>
{% endblock %}


