{% extends "base.html" %}
{% load i18n %}
{% load opencommunity %}

{% block extra-page-id %}
    id="upcoming-meeting"
{% endblock %}

{% block page_header %}
    {% trans "Upcoming Meeting" %}
    {% if object.upcoming_meeting_title and cperms.communities.viewupcoming_community %}
        {% if cperms.community.editagenda_community or object.upcoming_meeting_is_published %}
            - {{object.upcoming_meeting_title}}
        {% endif %}
    {% endif %}
{% endblock %}

{% block pagemenu %}
{% if cperms.community.editagenda_community %}
    <a class="btn btn-oc" data-rel="form" href="{% url "issue_create_upcoming" community.id %}">
    	<i class="fa fa-plus"></i> <span>{% trans "Create Issue" %}</span></a>
{% endif %}

{% if cperms.community.editupcoming_community %}
    <a class="btn btn-oc" data-rel="form"
        href="{% url "upcoming_edit" community.id %}"> 
        <i class="fa fa-edit"></i> <span>{% trans "Edit" %}</span>
    </a>
{% endif %}
        <a class="btn btn-oc" data-rel="form"
           href="{% url "contact_us" community.id %}">
            <i class="fa fa-edit"></i> <span>{%trans "Contact us"%}</span>
    </a>
{% if cperms.community.editparticipants_community and community.upcoming_meeting_started %}
    <a class="btn btn-oc" data-rel="form"
        href="{% url "upcoming_edit_participants" community.id  %}"> 
        <i class="fa fa-group"></i> <span>{% trans "Select Participants" %}</span>
    </a>
{% endif %}

{% if cperms.community.editagenda_community %}
    <a class="btn btn-oc" data-rel="form" 
    href="{% url "upcoming_publish" community.id  %}"> 
        {% if object.upcoming_meeting_started %}
          <i class="fa fa-envelope-o"></i> <span>{% trans "Summary Draft" %}</span>
        {% else %}
          <i class="fa fa-envelope-o"></i> <span>{% trans "Publish Agenda" %}</span>
        {% endif %}
    </a>
{% endif %}

{% if cperms.community.editupcoming_community %}
    <a class="btn btn-oc" data-rel="form" 
    href="{% url "upcoming_start" community.id  %}">
        {% if object.upcoming_meeting_started %}
            <i class="fa fa-undo"></i> <span>{% trans "Undo Start Meeting" %}</span>
        {% else %}
			<i class="fa fa-play-circle"></i> <span>{% trans "Start Meeting" %}</span>
        {% endif %}
    </a>
{% endif %}

{% endblock %}


{% block content %}
    {% if cperms.communities.viewupcoming_community %}
        {% if cperms.communities.viewupcoming_draft or object.upcoming_meeting_is_published %}

            {% if object.upcoming_meeting_started %}
                <h2 class="text-center">
                    --{% trans "Meeting started" %}--
                </h2>
            {% else %}

            {% if object.upcoming_meeting_is_published %}
                <h2 class="text-center">
                    --{% trans "Published" %}--
                </h2>
                <h2 class="text-center">
                    ({% trans "Version" %} {{object.upcoming_meeting_version}} - {{object.upcoming_meeting_published_at}})
                </h2>
            {% else %}
                <h2 class="text-center">
                    --{% trans "Draft" %}--
                </h2>
            {% endif %}
            {% endif %}

            <div class="oc_detail_top">
                <h5>
                	{% trans "Location" %}: <span>{{object.upcoming_meeting_location|default:_("Not set yet")}}</span>
                </h5>
                <h5>
                	{% trans "Scheduled at" %}: <span>{{object.upcoming_meeting_scheduled_at|default:_("Not set yet")}}
	                {% if object.upcoming_meeting_comments %}
                    {{object.upcoming_meeting_comments|safe}}
                	{% endif %}</span>
                </h5>
            </div>
            
            <div id="agenda-container" class="agenda-list">
                <h2>
                    {% trans "Agenda items" %}
                    <span class="loader">
                        <img src="{{STATIC_URL}}images/ajax-loader.gif" alt="Loading"/>
                    </span>
                </h2>
                <ul id="agenda" class="nav nav-pills nav-stacked">
                    {% for i in object.upcoming_issues %}
                        {% include "communities/_issue.html" %}
                    {% endfor %}
                </ul>
            </div>
            
            {% if object.upcoming_meeting_started and cperms.community.editupcoming_community %}

                <h2>{% trans "Summary" %}</h2>
                    <div class="push">
                        <a data-rel="form" href="{% url "upcoming_edit_summary" community.id %}" class="btn btn-oc">
                            {% trans "Edit" %}
                        </a>
                    </div>
                    {% if object.upcoming_meeting_summary %}
                        {{object.upcoming_meeting_summary|safe}}
                    {% endif %}

            {% endif %}

            {% if object.upcoming_meeting_started and cperms.meetings.add_meeting %}
                <div class="narrow">
                    <a href="{% url "upcoming_close" community.id %}" data-rel="form" class="btn btn-oc btn-block btn-lg">
                        {% trans "Close Meeting" %}
                    </a>
                </div>
            {% endif %}

            {% if cperms.community.editagenda_community %}
                
                <div id="available-agenda" class="agenda-list">         
                    <h2>{% trans "Available Issues" %}</h2>

                    <ul id="available" class="nav nav-pills nav-stacked">
                        {% for i in object.available_issues %}
                            {% include "communities/_issue.html" %}
                        {% endfor %}
                    </ul>
                </div>
                
            {% endif %}

        {% else %}

            <div class="notice text-center">
                {% trans "Agenda not yet published" %}.
            </div>

        {% endif %}
    {% endif %}

{% endblock %}

{% block extrahead %}
{% endblock %}

{% block scripts %}
    <script src="{{STATIC_URL}}jquery-ui/js/jquery-ui-1.10.2.custom.js"></script>
    <script src="{{STATIC_URL}}js/jquery.ui.touch-punch.js"></script>
    <script src="{{STATIC_URL}}js/upcoming.js"></script>
    <script src="{{STATIC_URL}}js/issues.js"></script>
{% endblock %}
