{% load i18n %}
{% load opencommunity highlight  %}

<ul class="prop-table proposals assignment">
    <li class="drag-icon task-icon order"
    data-title="{{assgn.object.title}}"
    data-status="{% if assgn.object.task_completed %}completed{% elif assgn in late %}late{% else %}open{% endif %}"
    data-date="{{assgn.due_by|date:'Y-m-d'}}"
    ></li>
    <li class="prop-title">
      <a href="{{assgn.object.get_absolute_url}}">{{ assgn.object.title }}</a>
    </li>
    <li class="prop-content">
        <div><span>{% trans 'Due Date' %}: {{ assgn.due_by|date:"DATE_FORMAT" }}</span>
              <span>{% trans 'Assigned To' %}: {{ assgn.assignee}}</span>  
       </div>
        <div>
        {% with assgn.object.content as res %}
            {% highlight res with query css_class "highlighted_result" html_tag "span" max_length "240" %}
        {% endwith %}
        </div>
    </li>
</ul>

