{% load i18n opencommunity %}
       
<h2>{% trans "Vote by the" %} {{ object.issue.community.board_name|default:_("Board") }}</h2>
<div class="board_vote clearfix">
     <div class="col-xs-4 prop-infavor">
			<h4>{% trans "For" %}</h4>
			<p>
				{{ proposal|board_by_vote:'pro'|length }} - {% widthratio proposal|board_by_vote:'pro'|length proposal|board_votes_count 100 %}%
			</p>
			{% if proposal|board_by_vote:'pro'|length %}
			<ul>
  				{% for u in proposal|board_by_vote:'pro' %}
				<li>
			      {{ u.display_name }}
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
		<div class="col-xs-4 prop-nutral">
			<h4>{% trans "Abstain" %}</h4>
			<p>
				{{ proposal|board_by_vote:'neut'|length }} - {% widthratio proposal|board_by_vote:'neut'|length proposal|board_votes_count 100 %}%
			</p>
			{% if proposal|board_by_vote:'neut'|length %}
			<ul>
  				{% for u in proposal|board_by_vote:'neut' %}
				<li>
			      {{ u.display_name }}
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
		<div class="col-xs-4 prop-against">
			<h4>{% trans "Against" %}</h4>
			<p>
				{{ proposal|board_by_vote:'con'|length }} - {% widthratio proposal|board_by_vote:'con'|length proposal|board_votes_count 100 %}%
			</p>
			{% if proposal|board_by_vote:'con'|length %}
			<ul>
  				{% for u in proposal|board_by_vote:'con' %}
				<li>
			      {{ u.display_name }}
				</li>
				{% endfor %}
			</ul>
			{% endif %}
    </div>
</div>   
