{% load i18n opencommunity %}
       
<div class="board_vote clearfix">
		<h2>{% trans "Chairman Vote" %}</h2>
     <div class="col-xs-4 prop-infavor">
			<h4>{% trans "For" %}</h4>
			<p>
				{{ proposal|board_by_vote:'pro'|length }} - {% widthratio proposal|board_by_vote:'pro'|length proposal|board_votes_count 100 %}%
			</p>
			<ul>
  				{% for u in proposal|board_by_vote:'pro' %}
				<li>
			      {{ u.display_name }}
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-xs-4 prop-nutral">
			<h4>{% trans "Abstain" %}</h4>
			<p>
				{{ proposal|board_by_vote:'neut'|length }} - {% widthratio proposal|board_by_vote:'neut'|length proposal|board_votes_count 100 %}%
			</p>
			<ul>
  				{% for u in proposal|board_by_vote:'neut' %}
				<li>
			      {{ u.display_name }}
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-xs-4 prop-against">
			<h4>{% trans "Against" %}</h4>
			<p>
				{{ proposal|board_by_vote:'con'|length }} - {% widthratio proposal|board_by_vote:'con'|length proposal|board_votes_count 100 %}%
			</p>
			<ul>
  				{% for u in proposal|board_by_vote:'con' %}
				<li>
			      {{ u.display_name }}
				</li>
				{% endfor %}
			</ul>
    </div>
</div>   
