{% load i18n  %}

<div id="board_vote_btns" class="vote-btns prop_votes text-center col-xs-12 col-sm-8 col-sm-offset-2">
	<div class="row">
		<div class="col-xs-4">
      <a class="btn btn-pro btn-block vote-action{% if user_vote == 1 %} vote_marked{% endif %}" href="{% url 'vote_on_proposal' community_id=community.id pk=proposal.id %}" id="vote-pro"> <span class="glyphicon glyphicon-thumbs-up"></span> {% trans "Pro" %}</a>
		</div>
		<div class="col-xs-4">
			<a class="btn btn-default btn-block vote-action{% if user_vote == 0 %} vote_marked{% endif %}" href="{% url 'vote_on_proposal' community_id=community.id pk=proposal.id %}" id="vote-neut">{% trans "Abstain" %}</a>
		</div>
		<div class="col-xs-4">
			<a class="btn btn-con btn-block vote-action{% if user_vote == -1 %} vote_marked{% endif %}" href="{% url 'vote_on_proposal' community_id=community.id pk=proposal.id %}" id="vote-con"> <span class="glyphicon glyphicon-thumbs-down"></span> {% trans "Con" %}</a>
		</div>
	</div>
</div>


