{% load i18n voting_tags opencommunity %}
	  <div class="board_vote clearfix" id="chairman_vote_panel">
		<div class="col-xs-12 clearfix" style="border-bottom: 1px solid">
			<div class="col-xs-4"></div>
			<div class="col-xs-8">
				<div class="col-xs-4 text-center" style="background: #a4cb53;">
					<h5 style="margin:5px 0">
						<button class="btn btn-default btn-sm all-pro" data-value="pro" data-href="{% url 'vote_on_proposal' committee.community.slug committee.slug proposal.id %}">{% trans "For" %}</button>
					</h5>
				</div>
				<div class="col-xs-4 text-center" style="background: #ffffff;">
					<h5 style="margin:5px 0">
						<button class="btn btn-default btn-sm all-neutral" data-value="neut" data-href="{% url 'vote_on_proposal' committee.community.slug committee.slug proposal.id %}">{% trans "Abstain" %}</button>
					</h5>
				</div>
				<div class="col-xs-4 text-center" style="background: #d95e59;">
					<h5 style="margin:5px 0">
						<button class="btn btn-default btn-sm all-con" data-value="con" data-href="{% url 'vote_on_proposal' committee.community.slug committee.slug proposal.id %}">{% trans "Against" %}</button>
					</h5>
				</div>
			</div>
		</div>
		{% for key, vote in board_votes.per_user.items %}
			<div class="col-xs-12 clearfix user_vote_line"{% if forloop.last %} style="border-bottom: 1px solid;"{% endif %}>
				<div class="col-xs-4">
					{{ key.display_name }}
				</div>
				<div class="col-xs-8">
          <fieldset data-uid="{{ key.id }}" {% if vote and not vote.voted_by_chairman and user != key %} disabled{% endif %}>
          <div class="col-xs-4 text-center" style="background: #a4cb53;">
						<div class="radio-inline">
							<label>
								<input type="radio" data-href="{% url 'vote_on_proposal' committee.community.slug committee.slug proposal.id %}" name="votesRadios{{key.id}}" value="pro" {% if vote and vote.value == 1 %}checked="checked"{% endif %}>
							</label>
						</div>
					</div>
					<div class="col-xs-4 text-center" style="background: #ffffff;">
						<div class="radio-inline">
							<label>
								<input type="radio" data-href="{% url 'vote_on_proposal' committee.community.slug committee.slug proposal.id %}" name="votesRadios{{key.id}}" value="neut" {% if vote and vote.value == 0 %}checked="checked"{% endif %}>
							</label>
						</div>
					</div>
					<div class="col-xs-4 text-center" style="background: #d95e59;">
						<div class="radio-inline">
							<label>
								<input type="radio" data-href="{% url 'vote_on_proposal' committee.community.slug committee.slug proposal.id %}" name="votesRadios{{key.id}}" value="con" {% if vote and vote.value == -1 %}checked="checked"{% endif %}>
							</label>
						</div>
					</div>
          </fieldset>
				</div>
			</div>
		{% endfor %}
		<div class="col-xs-12 clearfix">
			<div class="col-xs-4"></div>
			<div id="member_vote_sum" class="col-xs-8">
				{% with proposal=object %}
				{% include 'issues/_member_vote_sum.html' %}
				{% endwith %}
			</div>
		</div>
    </div>
