{% load i18n %}

{% if c.active or cperms.issues.editclosed_issuecomment or cperms.issues.editopen_issuecomment and c.is_open  %}
    {% if c.meeting or cperms.issues.add_proposal %}
    {# only board and above can see comments from "current" meeting #}
    <li{% if not c.active %} class="deleted"{% endif %}>
    
        {% if cperms.issues.editclosed_issuecomment or cperms.issues.editopen_issuecomment and c.is_open  %}
            <form class="delete-comment push" method="post" action="{{c.get_delete_url}}">
                {% csrf_token %}
                <span class="delete-btn">
                    <button data-icon="delete" data-iconpos="notext" data-theme="e" data-inline="true">{% trans "Delete" %}</button>
                </span>
                <span class="undelete-btn">
                    <button name="undelete" value="1" data-icon="back" data-iconpos="notext" data-theme="e" data-inline="true">{% trans "Undelete" %}</button>
                </span>
            </form>
        
            <span class="edit-comment push">
                <button data-id="{{c.id}}" data-url="{{c.get_edit_url}}" 
                data-icon="edit" data-iconpos="notext" data-theme="e" data-inline="true"
                >{% trans "Edit" %}</button>
            </span>

            <span class="cancel-edit-comment push">
                <button data-icon="delete" data-iconpos="notext" data-theme="c" data-inline="true">{% trans "Cancel" %}</button>
            </span>
        {% endif %}

        <span class="comment-inner">
            <i>
                {% if c.meeting %}
                    <b>
                        <a href="{{c.meeting.get_absolute_url}}">{{c.meeting.get_title_or_date}}:</a>
                    </b>
                {% endif %}
                {{c.created_by}} ({% trans "at" %} {{c.created_at}})
            </i>
            <blockquote>
                {{c.content|safe}}
            </blockquote>

            {% if c.last_edited_by %}
                <i>
                    {% trans "version" %} {{c.version}},
                    {% trans "Last edited by" %} {{c.last_edited_by}} {% trans "at" %} {{c.last_edited_at}}
                </i>
            {% endif %}
    
        </span>
    
    </li>
    
    {% endif %}
    
{% endif %}
