{% load i18n %}
{% load opencommunity %}

{% if c.active or cperms.issues.editclosed_issuecomment or cperms.issues.editopen_issuecomment and c.is_open  %}
    {% if c.meeting or cperms.issues.view_proposal_in_discussion %}
    <li{% if not c.active %} class="deleted"{% endif %}>
    
        {% if cperms.issues.editclosed_issuecomment or cperms.issues.editopen_issuecomment and c.is_open  %}
            <form class="delete-comment pull-right" method="post" action="{{c.get_delete_url}}">
                {% csrf_token %}
                <span class="delete-btn pull-right">
                    <button class="btn btn-comment"></button>
                </span>
                <span class="undelete-btn pull-right">
                    <button class="btn btn-comment" name="undelete" value="1"></button>
                </span>
            </form>
        
            <span class="edit-comment pull-right">
                <button class="btn btn-comment" data-id="{{c.id}}" data-url="{{c.get_edit_url}}"></button>
            </span>

            <!-- <span class="cancel-edit-comment pull-right">
                <button class="btn btn-comment"></button>
            </span> -->
        {% endif %}

        <div class="comment-inner">
            <p>
                {% if c.meeting %}
                    <a href="{{c.meeting.get_absolute_url}}">{{c.meeting.get_title_or_date}}:</a>
                {% endif %}

                <i>
                    {{c.created_by}} ({% trans "at" %} {{c.created_at}})
                </i>
            </p>

            {{c.content|userhtml}}

            {% if c.last_edited_by %}
                <i>
                    {% trans "version" %} {{c.version}},
                    {% trans "Last edited by" %} {{c.last_edited_by}} {% trans "at" %} {{c.last_edited_at}}
                </i>
            {% endif %}

        </div>

    </li>

    {% endif %}
    
{% endif %}
