{% load i18n opencommunity %}

{% if object.abstract %}
    <h2>{% trans "Background for next meeting" %}</h2>
    <div class="oc_detail_top">
        {{object.abstract|userhtml}}
        {% if object.attachments.count %}
	    <div class="issue_attachments">
	        <ul>
	            {% for att in object.attachments.all %}
	                <li>
	                    <a href="{{ att.get_absolute_url }}" class="file_ext {{ att.get_icon }}">{{att.title}}</a>
	
	                    {% if cperms.issues.editopen_issue %}
	                        <a id="remove-attachment" href="{% url 'attachment_delete' community.id object.id att.id %}" data-rel="form"><img src="{{ STATIC_URL }}images/icon-remove.gif"/></a>
	                    {% endif %}
	                </li>
	            {% endfor %}
	        </ul>
	    </div>
	{% endif %}
    </div>
{% endif %}

