{% load i18n %}
{% load opencommunity %}

<div class="col-xs-12">
    <h1>{{object.title}}</h1>
	<div class="pull-left">
	    <h5 style="clear: both;">{% trans "By:" %} {{ object.created_by}}. {{ object.created_at}}</h5>
	</div>
	{% if cperms.issues.editclosed_issue or not object.is_archived %}
		{% if cperms.issues.editopen_issue or object.created_by == user %}
		<div class="pull-right">
			<h5>
				<a data-rel="form" data-replace=".issue-top" href="{{object.get_edit_url}}" title='{% trans "Edit" %}' style="color: #6C6C6E;"> <i class="fa fa-edit"></i> {% trans "Edit" %}</a>
				<a data-rel="form" href="{{object.get_delete_url}}" title='{% trans "Delete" %}' style="color: #6C6C6E;"> <i class="fa fa-trash-o"></i> {% trans "Delete" %}</a>
			</h5>
		</div>
		{% endif %}
	{% endif %}
</div>
<div class="clearfix"></div>
<span class="loader">
    <img src="{{STATIC_URL}}images/ajax-loader.gif" alt="Loading"/>
</span>

{% if object.content or object.attachments.count %}
    <div class="oc_detail_top">

        {% if object.content %}
            <h4>{% trans "Content" %}</h4>
            {{object.content|userhtml}}
        {% endif %}

    </div>
{% endif %}
