{% load i18n %}
{% load voting_tags community_tags opencommunity %}

<div>
    <div class="issue-top" style="border-bottom: 1px solid #e2e2e2;">
        {% include "issues/_issue_title.html" %}
    </div>

        <h2 class="filter-title pull-left">{% trans "Background" %}</h2>
        <div class="abstracts">

            {% if cperms.issues.editclosed_issue or not object.is_archived %}
                {% if cperms.issues.editopen_issue or object.created_by == user %}
                    <div class="filter filter-upcoming pull-right">
                        <h5>
                            <i class="fa fa-edit"></i> <a data-rel="form" data-replace="#issue-abstract" href="{% url 'issue_edit_abstract' object.community.id object.id %}" title='{% trans "Edit Abstract" %}' style="color: #6C6C6E;">{% trans "Edit Abstract" %}</a>
                            <i class="fa fa-paperclip"></i> <a id="add-attachment" data-rel="form" href="{% url 'add_attachment' community.id object.id %}" title='{% trans "Add attachment" %}' style="color: #6C6C6E;">{% trans "Add attachment" %}</a>
                        </h5>
                    </div>
                {% endif %}
            {% endif %}

            {% for ai in object.agenda_items.all %}
                {% if ai.background or ai.attachments.count %}
                    <div class="issue-abstract on filter-meeting-{{ai.meeting.id}} filter" style="clear: both;" popo="p">
                        <a class="filter filter-subtitle" href="{{ai.meeting.get_absolute_url}}">{{ai.meeting.get_title_or_date}}:</a>
                        {{ai.background|default_if_none:""|userhtml}}
                    </div>
                    {% if ai.attachments.count %}
                        <ul style="clear: both;margin:0">
                            {% for att in ai.attachments.all %}
                                <li class="issue-attachments on filter-meeting-{{ai.meeting.id}} filter">
                                    <a href="{{ att.get_absolute_url }}" class="file_ext {{ att.get_icon }}">{{att.title}}</a>
                                    {% if cperms.issues.editopen_issue %}
                                        <a id="remove-attachment" href="{% url 'attachment_delete' community.id object.id att.id %}" data-rel="form"><img src="{{ STATIC_URL }}images/icon-remove.gif"/></a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
               {% endif %}
            {% endfor %}
            

           {% if object.abstract or object.current_attachments.count %}
            <div id="issue-abstract" style="clear: both;">
                    <div class="issue-abstract filter-upcoming filter">
                        <a class="filter" href="{{community.get_absolute_url}}">{% trans "Upcoming Meeting" %}</a>
                           {{object.abstract|default_if_none:""|userhtml}}
                    </div>
            </div>
            <ul style="clear: both;margin:0">
              {% for att in object.current_attachments.all %}
                  <li class="issue-attchments filter-upcoming filter">
                      <a href="{{ att.get_absolute_url }}" class="file_ext {{ att.get_icon }}">{{att.title}}</a>
                      {% if cperms.issues.editopen_issue %}
                          <a id="remove-attachment" href="{% url 'attachment_delete' community.id object.id att.id %}" data-rel="form"><img src="{{ STATIC_URL }}images/icon-remove.gif"/></a>
                      {% endif %}
                  </li>  
              {% endfor %}
            </ul>
            {% endif %}
        </div>

    <h2 class="filter-title">
        {% trans "Decisions" %}
    </h2>
    <div>
        {% for ai in object.agenda_items.all %}
            {% if ai.proposals.count %}
                <div class="filter-meeting-{{ai.meeting.id}} filter">
                    {% for proposal in ai.proposals|dictsortreversed:"created_at" %}
                        {% include 'issues/_proposal.html' %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {% if object.proposals.open.count  %}
    <h2 class="filter-title">
        {% trans "Proposals" %}
    </h2>
    {% endif %}

    <div>
        <div class="open-proposals filter-upcoming filter">
            {% for proposal in object.proposals.open %}
                {% include 'issues/_proposal.html' %}
                {% if can_straw_vote and not proposal.decided and cperms.issues.vote and user|member_of:community %}
                    <div class="issue_proposal_vote">
                        {% include 'issues/_vote.html' %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        {% if cperms.issues.add_proposal and not object.is_archived %}
            <div class="narrow clear filter filter-upcoming">
                <a class="btn btn-oc btn-lg btn-block" data-rel="form" data-append-to=".open-proposals" href="{% url "proposal_create" community.id object.id %}">{% trans "Add Proposal" %}</a>
            </div>
        {% endif %}
    </div>

    <h2 class="filter-title">
        {% trans "Summary" %}
    </h2>
    {% if object.active_comments.count or cperms.issues.add_issuecomment and object.community.upcoming_meeting_started and object.is_upcoming %}
    <div class="issuecomments">
        <ul id="comments" class="comments">
            {% for ai in object.agenda_items.all %}
                {% if ai.comments.count %}
                    {% for c in ai.comments %}
                        {% include "issues/_comment.html" %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% for c in object.new_comments %}
                {% include "issues/_comment.html" %}
            {% endfor %}
            {% if cperms.issues.add_issuecomment and object.community.upcoming_meeting_started and object.is_upcoming %}
                <li class="rich_editor filter-upcoming filter">
                    <form id="add-comment" method="post">
                        {% csrf_token %}
                        {{form}}
                        <div class="col-xs-12 text-center rich_editor_box">
                            <button class="add-comment-btn btn btn-oc btn-lg" disabled="1" style="width: 200px;">
                                {% trans "Save" %}
                            </button>
                        </div>
                    </form>
                </li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
    {% if cperms.meetings.add_meeting %}
        {% if object.is_current and not object.completed %}
        <form id="issue-complete" method="post" action="{% url 'issue_complete' community.id issue.id %}">
          {% csrf_token %}
          <input name="complete" type="hidden" value="1"/>
          <div class="narrow">
              <button class="close-issue-btn btn btn-oc btn-block btn-lg">
                  {% trans "Complete discussion" %}
              </button>
          </div>
        </form>
        <br/>
        
        {% elif object.completed and object.is_current or object.is_archived %}
        <form id="issue-undo-complete"  method="post" action="{% url 'issue_complete' community.id issue.id %}">
          {% csrf_token %}
          <input name="undo_complete" type="hidden" value="1"/>
          <div class="narrow">
              <button class="close-issue-btn btn btn-oc btn-block btn-lg">
                {% trans "Undo complete discussion" %}
              </button>
          </div>
        </form>
        <br/>
        
        {% elif not object.is_archived %}
        <form id="issue-archive" method="post" action="{% url 'issue_complete' community.id issue.id %}">
          {% csrf_token %}
          <input name="archive" type="hidden" value="1"/>
          <div class="narrow">
              <button class="close-issue-btn btn btn-oc btn-block btn-lg">
                  {% trans "Archive issue" %}
              </button>
          </div>
        </form>
        <br/>
        {% endif %}

    {% endif %}
</div>
