{% load i18n opencommunity %}
{% with pro_voters=proposal|board_by_vote:'pro' con_voters=proposal|board_by_vote:'con' neut_voters=proposal|board_by_vote:'neut' %}

<div class="col-xs-4 text-center" style="background: #a4cb53;">
	<h5>{{ pro_voters|length }} - {% widthratio pro_voters|length board_attending|length 100 %}%</h5>
</div>
<div class="col-xs-4 text-center" style="background: #ffffff;">
	<h5>{{ neut_voters|length }} - {% widthratio neut_voters|length board_attending|length 100 %}%</h5>
</div>
<div class="col-xs-4 text-center" style="background: #d95e59;">
	<h5>{{ con_voters|length }} - {% widthratio con_voters|length board_attending|length 100 %}%</h5>
</div>

{% endwith %}
