{% load i18n %}
<ul class="prop-table proposals{% if proposal.is_open %} open{% endif %}">
    <a href="{{proposal.get_absolute_url}}" style="display: none;"></a>
    <li class="drag-icon
    {% if proposal.type == 1 %}task-icon{% endif %}
    {% if proposal.type == 2 %}rule-icon{% endif %}
    {% if proposal.type == 3 %}general-icon{% endif %}"
    data-id="{{proposal.id}}"
    data-accepted="{{proposal.status}}"></li>
    <li class="prop-title">
    	{{proposal.title}}
    </li>
    <li class="prop-content">
        {% if proposal.type == 1 %}
        <p class="assign">
            {% if proposal.assigned_to %}
            <b>{% trans "Assigned to" %}:</b> {{ proposal.assigned_to }}&nbsp;
            {% endif %}
            {% if proposal.due_by %}
            <b>{% trans "Due by" %}:</b> {{ proposal.due_by }}
            {% endif %}
        </p>
        {% endif %}
        {{proposal.content|safe}}
    </li>

	{% if proposal.decided %}
	    {% if cperms.issues.view_proposal_in_discussion or not proposal.is_open %}
	        <li class="check_box {% if proposal.status == proposal.statuses.ACCEPTED %}checked{% endif %}{% if proposal.status == proposal.statuses.REJECTED %}rejected{% endif %}">
	    {% else %}
	        <li class="check_box">
	    {% endif %}
	{% else %}
		{% if can_straw_vote %}
	        <li class="check_box_vote">
    			<canvas id="proposal{{ proposal.id }}Chart" height="40px" width="40px"></canvas>
		{% else %}
	        <li class="check_box">
    	{% endif %}
    {% endif %}
    </li>
</ul>
