{% load i18n %}
{% load opencommunity highlight  %}

<ul class="prop-table proposals procedure">
    <li class="drag-icon rule-icon order"
    data-title="{{p.object.title}}"
    data-date="{{p.object.decided_at_meeting.held_at|date:'Y-m-d'}}"
    data-tags="{{ p.object.tags.names|join:',' }}"></li>
    <li class="prop-title">
      <a href="{{p.object.get_absolute_url}}">{{ p.object.title }}</a>
    </li>
    <li class="prop-content">
        <div>{% trans 'Procedure approval date' %}: {{ p.object.decided_at_meeting.held_at|date:"DATE_FORMAT" }} </div>
        <div>
        {% with p.object.content as res %}
            {% highlight res with query css_class "highlighted_result" html_tag "span" max_length "240" %}
        {% endwith %}
        </div>
    </li>
</ul>

