{% load i18n voting_tags %}

<div class="col-xs-12 visible-xs">
    <h5 class="pull-left arguments_for">{% trans "Why yes" %}?</h5>
    <h5 class="pull-right arguments_against">{% trans "Why no" %}?</h5>
    {% for arg in proposal.elegantly_interleaved_for_and_against_arguments %}
        {% include 'issues/_mix_arguments.html' %}
    {% endfor %}
</div>
<div class="arguments_for col-xs-12 col-sm-6 hidden-xs">
    <h5>{% trans "Why yes" %}?</h5>
    <table class="arguments-table pro-table">
        <tbody>
        {% if request.resolver_match.url_name == 'issue' %}
            {% for arg in proposal.arguments_for %}
                {% if forloop.counter <= 2 %}
                {% include 'issues/_pro_argument.html' %}
                {% endif %}
            {% endfor %}
        {% else %}
            {% for arg in proposal.arguments_for %}
                {% include 'issues/_pro_argument.html' %}
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    {% if proposal.id|user_vote_result:request.user.id == 'pro' and proposal.id|user_proposal_vote_id:request.user.id %}
    <form id="create-argument" method="post" data-vote="pro" action="{% url 'create_vote_argument' proposal.issue.community.id proposal.id|user_proposal_vote_id:request.user.id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_argument" class="control-label">{% trans "Add argument" %}:</label>
            <textarea class="form-control" rows="2" id="id_argument" name="argument"></textarea>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-oc argument-modal-btn" disabled="disabled" data-toggle="modal"
                    data-target="#argumentModal">{% trans "Submit" %}
            </button>
        </div>
    </form>
    {% endif %}
</div>
<div class="arguments_against col-xs-12 col-sm-6 hidden-xs">
    <h5>{% trans "Why no" %}?</h5>
    <table class="arguments-table con-table">
        <tbody>
        {% if request.resolver_match.url_name == 'issue' %}
            {% for arg in proposal.arguments_against %}
                {% if forloop.counter <= 2 %}
                {% include 'issues/_con_argument.html' %}
                {% endif %}
            {% endfor %}
        {% else %}
            {% for arg in proposal.arguments_against %}
                {% include 'issues/_con_argument.html' %}
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    {% if proposal.id|user_vote_result:request.user.id == 'con' and proposal.id|user_proposal_vote_id:request.user.id %}
    <form id="create-argument" method="post" datt-vote="con" action="{% url 'create_vote_argument' proposal.issue.community.id proposal.id|user_proposal_vote_id:request.user.id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_argument" class="control-label">{% trans "Add argument" %}:</label>
            <textarea class="form-control" rows="2" id="id_argument" name="argument"></textarea>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-oc argument-modal-btn" disabled="disabled" data-toggle="modal"
                    data-target="#argumentModal">{% trans "Submit" %}
            </button>
        </div>
    </form>
    {% endif %}
</div>
<div class="modal fade" id="editArgumentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{% trans "Edit argument" %}</h4>
            </div>
            <div class="modal-body">
                <p>{% trans "Editing argument will erase all supported votes" %}</p>
                <form id="edit-argument" method="post" action="">
                    <div class="form-group">
                        <label class="control-label">{% trans "Argument" %}</label>
                        <textarea id="edit_argument_text" class="form-control" rows="4" name="argument"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-3">
                    <button type="button" class="btn btn-default btn-block" data-dismiss="modal">
                        {% trans "Cancel" %}
                    </button>
                </div>
                <div class="col-xs-5 col-sm-3">
                    <button type="submit" id="edit-argument-submit" class="btn btn-success btn-block">
                        {% trans "Confirm" %}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
