{% load i18n voting_tags %}

<div class="vote_arguments clear">
    <div class="arguments_for col-xs-12 col-sm-6">
        <h5>{% trans "Why yes" %}?</h5>
        <table class="arguments-table pro-table">
            {% for arg in proposal.arguments_for %}
            {% include 'issues/_pro_argument.html' %}
            {% endfor %}
        </table>
        {% if proposal.id|user_vote_result:request.user.id == 'pro' %}
        <form id="create-argument" method="post" data-vote="pro" action="{% url 'create_vote_argument' community.id proposal.id|user_proposal_vote_id:request.user.id %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_argument" class="control-label">{% trans "Add argument" %}:</label>
                <textarea class="form-control" rows="2" id="id_argument" name="argument"></textarea>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-oc argument-modal-btn" disabled="disabled" data-toggle="modal"
                        data-target="#argumentModal">{% trans "Submit" %}
                </button>
            </div>
        </form>
        {% endif %}
    </div>
    <div class="arguments_against col-xs-12 col-sm-6">
        <h5>{% trans "Why no" %}?</h5>
        <table class="arguments-table con-table">
            {% for arg in proposal.arguments_against %}
            {% include 'issues/_con_argument.html' %}
            {% endfor %}
        </table>
        {% if proposal.id|user_vote_result:request.user.id == 'con' %}
        <form id="create-argument" method="post" datt-vote="con" action="{% url 'create_vote_argument' community.id proposal.id|user_proposal_vote_id:request.user.id %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_argument" class="control-label">{% trans "Add argument" %}:</label>
                <textarea class="form-control" rows="2" id="id_argument" name="argument"></textarea>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-oc argument-modal-btn" disabled="disabled" data-toggle="modal"
                        data-target="#argumentModal">{% trans "Submit" %}
                </button>
            </div>
        </form>
        {% endif %}
    </div>
</div>

<div class="modal fade" id="argumentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{% trans "Confirm argument submission" %}</h4>
            </div>
            <div class="modal-body">
                {% trans "Pay attention" %}:
                <br>
                <ol>
                    <li>
                        {% trans "Adding argument will expose your voting decision and the argument will show your name." %}
                    </li>
                    <li>
                        {% trans "You won't be able to change your vote after adding an argument." %}
                    </li>
                </ol>
            </div>
            <div class="modal-footer">
                <div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-3">
                    <button type="button" class="btn btn-default btn-block" data-dismiss="modal">
                        {% trans "Cancel" %}
                    </button>
                </div>
                <div class="col-xs-5 col-sm-3">
                    <button type="submit" id="argument-submit" class="btn btn-success btn-block">
                        {% trans "Confirm" %}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>