{% extends "base.html" %}
{% load i18n %}
{% load opencommunity %}

{% block extra-page-id %}
	id="issue-list"
{% endblock %}

{% block page_header %}
    {% trans "Issues" %}
{% endblock %}

{% block pagemenu %}
	{% if user.id and cperms.issues.add_issue %}
    <a href="{% url "issue_create" community.id %}" class="btn btn-oc" data-rel="form">
        <span class="glyphicon glyphicon-plus"> <span>{% trans "Add" %}</span></span>
    </a>
    {% endif %}
{% endblock %}

{% block content %}

    <form class="form-horizontal" role="search">
	<div class="form-group">
	    <label class="col-lg-1 control-label">{% trans "Search" %}:</label>
	    <div class="col-lg-11 input-group">
	      <input type="text" class="form-control" placeholder="">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button">{% trans "Search" %}</button>
	      </span>
	    </div>
	</div>
    </form>
		<table class="table table-condensed issue-table">
        {% for object in object_list %}
				<tr>
					<td class="issue_date">{{ object.created_at|ocshortdate }}</td>
					<td class="issue_title left_arrow">
						<a href="{{ object.get_absolute_url }}">
						{{ object.title }}</a>
					</td>
				</tr>
        {% endfor %}
		</table>

{% endblock %}

{% block dialogs %}
{% endblock %}

{% block scripts %}
    <script src="{{STATIC_URL}}js/issues.js"></script>
{% endblock %}
