{% extends "dialog.html" %}
{% load i18n %}

{% block page_header %}
    {% trans "Delete Attachment" %}
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% trans "Are you sure?" %}
        <span>
	        <button class="btn btn-danger btn-lg">{% trans "Yes" %}</button>
	        <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">{% trans "No" %}</button>
        </span>
        {% block nofooter %}
        {% endblock %}
    </form>
{% endblock %}
