{% extends "base.html" %}
{% load i18n %}
{% load opencommunity %}

{% block extra-page-id %}
	id="issue-list"
{% endblock %}

{% block page_header %}
    {% trans "Issues" %}
{% endblock %}

{% block pagemenu %}
    <a href="{% url "issue_create" community.id %}" class="list-group-item">
        {% trans "Add" %}
    </a>
{% endblock %}

{% block content %}

    <span class="search">{% trans "Search" %}:</span>
    <ul class="content_in" data-role="listview" data-filter="true" data-filter-placeholder="">
        {% for object in object_list %}
			<table class="table table-condensed issue-table">
				<tr>
					<td class="issue_date">{{ object.created_at|ocshortdate }}</td>
					<td class="issue_title">
						<a href="{{ object.get_absolute_url }}">
						{{ object.title }}</a>
					</td>
				</tr>
			</table>
        {% endfor %}
    </ul>

{% endblock %}

{% block dialogs %}
{% endblock %}

{% block scripts %}
    <script src="{{STATIC_URL}}js/issues.js"></script>
{% endblock %}
