{% extends "dialog.html" %}
{% load i18n %}

{% block extra-page-id %}
    id="issue-create"
{% endblock %}

{% block page_header %}
    {% trans "Create Issue" %}
{% endblock %}

{% block content %}
    {% csrf_token %}
    {{form}}
    <h3>{% trans "New Proposal" %}</h3>
    <ul id="proposal-type" class="nav nav-tabs">
		<li class="active"><a href="#">{% trans "None" %}</a></li>
		<li><a href="#">{% trans "General" %}</a></li>
		<li><a href="#">{% trans "Rule" %}</a></li>
		<li><a href="#">{% trans "Task" %}</a></li>		
	</ul>
    {{form.new_proposal}}

{% endblock %}

{% block scripts %}
<script>
    $(function() {
        $('#id_proposal-type').closest('.form-group').hide();
        init_proposal_tabs(true);
        $("ul#proposal-type li")[0].click()
        var ac_url = '{% url "ac_user" community_id=community.id %}';
        init_user_autocomplete(ac_url);
        $("#id_proposal-content").css('height', '100px');
     })
</script>

{% endblock %}