{% extends "base.html" %}

{% block content %}
    <h2>{{community.name}} &gt;
        Issues &gt; 
        {{object.title}}</h2>
    <div>
        
        <h3>Abstract</h3>
        <pre>{{object.abstract}}</pre>
        
        <h3>Content</h3>
        <pre>{{object.content}}</pre>
        
        
        <h3>Proposal</h3>
        <ul>
            {% for proposal in object.proposals.all %}
                
                <li>
                    <h4>{{proposal.title}}</h4>
                    <pre>{{proposal.content}}</pre>
                </li>
                
            
            {% endfor %}
        </ul>
        
    </div>
{% endblock %}