{% extends "dialog.html" %}
{% load i18n %}

{% block page_header %}
    {% trans "Delete" %}
{% endblock %}

{% block content %}

    <form method="post">
        {% csrf_token %}
        {% trans "Are you sure?" %}
    </form>
{% endblock %}
{% block nofooter %}
<div class="modal-footer">
    <button type="button" class="btn btn-success" data-dismiss="modal">{% trans "No" %}</button>
    <input type="submit" class="btn btn-danger" value="{% block btn_text %}{% trans "Yes" %}{% endblock %}">
</div>
{% endblock %}
