{% extends "dialog.html" %}
{% load i18n %}

{% block extra-page-id %}
    id="issue-create"
{% endblock %}

{% block page_header %}
    {% trans "Create Issue" %}
{% endblock %}

{% block content %}
    {% csrf_token %}
    {{form}}
    <h3>{% trans "New Proposal" %}</h3>
    <ul id="issue-proposal-type" class="nav nav-tabs">
		<li class="active"><a href="#">{% trans "None" %}</a></li>
		<li><a href="#">{% trans "Task" %}</a></li>
		<li><a href="#">{% trans "Rule" %}</a></li>
		<li><a href="#">{% trans "General" %}</a></li>
	</ul>
    {{form.new_proposal}}

<script>
	$('#id_proposal-type').closest('.form-group').hide();
</script>
    <script>
        refreshProposalFormNew();
    </script>

{% endblock %}