{% extends "dialog.html" %}
{% load i18n %}

{% block extra-page-id %}
    id="issue-create"
{% endblock %}

{% block form_name %}
<div class="issue-form-bg"></div>
{% endblock %}

{% block modal_content_classes %}
{% if form.instance.is_confidential %}is_confidential{% endif %}
{% endblock modal_content_classes %}

{% block page_header %}
    {% if form.instance.id %}
        {% trans "Edit issue" %}
    {% else %}
        {% trans "New issue" %}
    {% endif %}
{% endblock %}

{% block content %}

    {{form}}

{% endblock %}
