{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load voting_tags community_tags %}

{% block extra-page-id %}
id="issue-detail"
{% endblock %}

{% block page_header %}
{% trans "Issue" %}
{% endblock %}

{% block pagemenu %}
    {% if cperms.issues.editclosed_issue or not object.is_archived %}
        {% if cperms.issues.editopen_issue or object.created_by == user %}
            <a data-rel="form" data-replace=".issue-top" class="btn btn-oc" href="{{object.get_edit_url}}" title='{% trans "Edit" %}'>
                 <i class="fa fa-edit"></i> <span>{% trans "Edit" %}</span>
            </a>
            {% if cperms.issues.editopen_issue %}
                <a id="add-attachment" data-rel="form" class="btn btn-oc" href="{% url 'add_attachment' community.id object.id %}" title='{% trans "Add attachment" %}'>
                    <i class="fa fa-paperclip"></i> <span>{% trans 'Add attachment' %}</span>
                </a>
            {% endif %}
            <a class="btn btn-oc" data-rel="form" href="{{object.get_delete_url}}" title='{% trans "Delete" %}'>
                <i class="fa fa-trash-o"></i> <span>{% trans "Delete" %}</span>
            </a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}

{% if object.is_archived %}

<h2 class="text-center"> --{% trans "Closed" %}-- </h2>

{% else %}

{% if object.is_upcoming %}
    {% if community.upcoming_meeting_is_published or cperms.communities.viewupcoming_draft %}
		<h2 class="text-center"> --{% trans "In upcoming meeting" %}-- </h2>
    {% endif %}
{% endif %}

{% endif %}
{% if object.can_straw_vote and not user.id %}
<div class="text-center" style="margin-bottom: 10px;">
	<a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-warning">{% trans "Login to vote" %}</a>
</div>
{% endif %}

    <div class="issue-top">
        {% include "issues/_issue_title.html" %}
    </div>


    {% with can_straw_vote=object.can_straw_vote %}

        {% csrf_token %}

        <div class="issue_proposal">

            {% if object.proposals.closed %}

                <h2>{% trans "Past Proposals" %}</h2>

                {% for proposal in object.proposals.closed %}
                    {% include 'issues/_proposal.html' %}
                {% endfor %}

            {% endif %}


            <div class="open-proposals">
                <h2>
                    {% trans "Proposals" %}
                </h2>

                {% for proposal in object.proposals.open %}

                    {% include 'issues/_proposal.html' %}

                    {% if can_straw_vote and not proposal.decided and cperms.issues.vote and user|member_of:community %}
                        <div class="issue_proposal_vote">
                            {% include 'issues/_vote.html' %}
                        </div>
                    {% endif %}

                {% endfor %}
            </div>
        </div>

    {% endwith %}

{% if cperms.issues.add_proposal and not object.is_archived %}
<div class="narrow clear">
    <a class="btn btn-oc btn-lg btn-block" data-rel="form" data-append-to=".open-proposals" href="{% url "proposal_create" community.id object.id %}">{% trans "Add Proposal" %}</a>
</div>
{% endif %}

{% if object.active_comments.count or cperms.issues.add_issuecomment and object.community.upcoming_meeting_started and object.is_upcoming %}
<div class="issuecomments">
    <h2>{% trans "Summary" %}</h2>
    <ul id="comments">
        {% for c in object.comments.all %}
        {% include "issues/_comment.html" %}
        {% endfor %}
        {% if cperms.issues.add_issuecomment and object.community.upcoming_meeting_started and object.is_upcoming %}
        <li class="rich_editor">
            <form id="add-comment" method="post">
                {% csrf_token %}
                {{form}}
                <div class="narrow">
                    <button class="btn btn-oc btn-lg btn-block">{% trans "Save" %}</button>
                </div>
            </form>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}

    
{% if cperms.meetings.add_meeting and object.community.upcoming_meeting_started and object.status == object.statuses.IN_UPCOMING_MEETING %}
<br/>
<form id="issue-complete" method="post" action="{% url 'issue_complete' community.id issue.id %}">
    {% csrf_token %}
    <input name="enable" type="hidden" value="{{object.completed|yesno:'0,1'}}"/>
    <div class="narrow">
        <button class="btn btn-oc btn-block btn-lg">
            {% if object.completed %}{% trans "Undo complete discussion" %}{% else %}{% trans "Complete discussion" %}{% endif %}
        </button>
    </div>
</form>
<br/>
{% endif %}

{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{{STATIC_URL}}css/issue.css"/>
{% endblock %}

{% block scripts %}
<script src="{{STATIC_URL}}js/issue.js"></script>
<script src="{{STATIC_URL}}js/Chart.js"></script>
<script src="{{STATIC_URL}}js/proposal.js"></script>
<script src="{{STATIC_URL}}js/_piechart.js"></script>
{% for proposal in object.proposals.open %}
<script>
    createChart(
        {{ proposal.votes_pro|default_if_none:0 }},
        {{ proposal.votes_con|default_if_none:0 }},
        {{ proposal.community_members|subtract:proposal.votes_con|default_if_none:0|subtract:proposal.votes_pro|default_if_none:0 }},
        {{ proposal.id }}
        );
</script>
{% endfor %}
<script>
    $(function() {
        $('ul.prop-table.proposals').on('click', function() {
            window.location=$(this).find('a').attr('href');
        });
    });
</script>
<script src="{% url 'jsi18n' %}"></script>
{% endblock %}
