{% extends "base.html" %}
{% load i18n %}
{% load opencommunity %}

{% block extra-page-id %}
id="issue-list"
{% endblock %}

{% block page_header %}
{% trans "Issues" %}
{% endblock %}

{% block pagemenu %}
{% if user.id and cperms.issues.add_issue %}
<div class="one_action_icon">
	<a href="{% url "issue_create" community.id %}" class="btn btn-oc" data-rel="form"> <i class="fa fa-plus"></i> {% trans "Add" %} </a>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
	<!-- <h2 class="col-xs-3 col-sm-1">{% trans "Search" %}:</h2> -->
	<div class="col-xs-12 form-group">
		<input type="text" class="form-control issue-search" placeholder="{% trans "Search in agenda list" %}">
	</div>
</div>
<table class="table table-condensed issue-table">
	{% for object in object_list %}
	<tr>
		<td class="issue_date">{{ object.created_at|ocshortdate }}</td>
		<td class="issue_title left_arrow"><a href="{{ object.get_absolute_url }}"> {{ object.title }}</a></td>
	</tr>
	{% endfor %}
</table>

{% endblock %}

{% block dialogs %}
{% endblock %}

{% block scripts %}
<script src="{{STATIC_URL}}js/issues.js"></script>
{% endblock %}
