{% extends "base.html" %}
{% load i18n humanize voting_tags community_tags opencommunity %}

{% block extra-page-id %}
id="proposal-detail"
{% endblock %}

{% block title %}
	<title>
		{{ object.issue.community.name }} - {{ object.title }}  
	</title>
{% endblock %}

{% block page_header %}
    {% if issue_frame %}
    <span class="visible-xs">
        <a href="{% url 'issues' community.id %}" style="color: #6C6C6E;text-decoration: none;">{% trans "All issues" %}</a>
    </span>
    {% endif%}
{% endblock %}

{% comment %}
{% endcomment %}

{% block content %}
    {% if issue_frame %}
        <div id="issue_frame">
    {% endif %}        

    <div class="meeting_header">
    {% if not issue_frame %}
        {% if meeting_context %}
        <a class="three_dot_sentence level1" href="{{meeting_context.get_absolute_url}}">{% if meeting_context.title %}{{ meeting_context.title }}{% endif %} {% if meeting_context.held_at %}{% if meeting_context.title %} / {% endif %}{{ meeting_context.held_at|date:"j F Y" }}{% endif %}</a>
        {% else %}
            <a class="three_dot_sentence level1" href="{{object.issue.community.get_upcoming_absolute_url}}">{{object.issue.community.upcoming_meeting_title|default:_("Upcoming Meeting")}}{% if object.issue.community.upcoming_meeting_scheduled_at %} / {% endif %}{{object.issue.community.upcoming_meeting_scheduled_at|date:"j F Y"}}</a>
        {% endif %}
    {% else %} 
        <h2 class="hidden-xs">{% trans 'Issues' %}</h2>
    {% endif %}
    </div>

    <div class="issue_header">
        <div class="issue_header_inner">
            <a class="three_dot_sentence level2" href="{{object.issue.get_absolute_url}}?m_id={{meeting_context.id}}{{issue_frame|yesno:'&s=1,'}}">{{ object.issue.title }}</a>
        </div>
    </div>


<div  class="proposal_main clearfix">    
<div class="proposal_right_column col-sm-3 hidden-xs">
	<ul class="issues_list">
        {% if object.issue.proposals.closed.count %}
          <h5>{% trans "Decisions" %}</h5>
            {% for proposal in object.issue.proposals.closed %}
                <li>
                	{% if object == proposal %} <div class="pull-right" style="width: 15px;"><span class="active_proposal pull-right"></span></div>{% endif %}
                    <a href="{{ proposal.get_absolute_url }}?m_id={{meeting_context.id}}{{issue_frame|yesno:'&s=1,'}} ">{{ proposal }}</a>
                </li>
            {% endfor %}
        {% endif %}

		{% if object.issue.proposals.open.count %}
	        <h5>{% trans "Proposals" %}</h5>
			{% for i in object.issue.proposals.open %}
			<li>
				{% if object == i %} <div class="pull-right" style="width: 15px;"><span class="active_proposal pull-right"></span></div>{% endif %}
				<a href="{{ i.get_absolute_url }}?m_id={{meeting_context.id}}{{issue_frame|yesno:'&s=1,'}}">{{ i }}</a>
			</li>
			{% endfor %}
		{% endif %}
	</ul>
</div>

{% include 'issues/proposal_detail_main.html' %}

</div>
{% if issue_frame %}
    </div>
{% endif %}        
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{{STATIC_URL}}css/proposal.css"/>
<link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/typeahead.js-bootstrap.css"/>
{% endblock %}

{% block scripts %}
{% if object.can_show_straw_votes %}
    <script src="{{STATIC_URL}}js/Chart.js"></script>
    <script src="{{STATIC_URL}}js/_piechart.js"></script>
    <script>
        createChart(
        {{ object.votes_pro }},
        {{ object.votes_con }},
        {{ object.community_members|subtract:object.votes_con|subtract:object.votes_pro }},
        {{ object.id }}
        );
    </script>
{% endif %}
<script src="{{STATIC_URL}}bootstrap/js/typeahead.min.js"></script>
<script src="{{STATIC_URL}}js/hogan-2.0.0.js"></script>
<script src="{{STATIC_URL}}js/issues.js"></script>
<script src="{{STATIC_URL}}js/proposal.js"></script>
{% if object.issue.community.upcoming_meeting_started %}
	<script src="{{STATIC_URL}}js/proposal_members_vote.js"></script>
{% endif %}
{% endblock %}
