{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
<li>
    <a href="../../../../..">{% trans "Communities" %}</a><span class="divider">/</span>
</li>
<li>
    <a href="../../../..">{{community.name}}</a><span class="divider">/</span>
</li>
<li>
    <a href="../../../">{% trans "Issues" %}</a><span class="divider">/</span>
</li>
<li>
    <a href="../../">{{issue.title}}</a><span class="divider">/</span>
</li>
<li class="active">
    {% trans "New Proposal" %}
</li>
{% endblock %}

{% block content %}

    {% crispy form %}
    

{% endblock %}