{% extends "base.html" %}
{% load i18n humanize voting_tags community_tags opencommunity %}

{% block extra-page-id %}
id="proposal-detail"
{% endblock %}

{% block page_header %}
{% endblock %}

{% comment %}
{% block pagemenu %}
<!-- {% if object.is_task and cperms.issues.edittask_proposal %}
{% if cperms.issues.editclosed_proposal or object.is_open %}
<a class="btn btn-oc" href="{{object.get_edit_task_url}}" data-rel="form">
    <i class="fa fa-undo"></i> <span>{% trans "Reassign task" %}</span>
</a>
{% endif %}
{% endif %} -->
{% endblock %}
{% endcomment %}

{% block content %}

<div class="meeting_header">
	{% if meeting_id %}
		<a class="three_dot_sentence level1" href="{{meeting_id.get_absolute_url}}">{{ meeting_id.title }}{% if meeting.title and meeting.held_at %} / {% endif %}{{ meeting_id.held_at|date:"j F Y" }}</a>
	{% else %}
		<a class="three_dot_sentence level1" href="{{object.community.get_upcoming_absolute_url}}">{{object.community.upcoming_meeting_title|default:_("Upcoming Meeting")}}{% if object.community.upcoming_meeting_title and object.community.upcoming_meeting_scheduled_at %} / {% endif %}{{object.community.upcoming_meeting_scheduled_at|date:"j F Y"}}</a>
	{% endif %}
</div>

<div class="issue_header">
	<div class="issue_header_inner">
		<a class="three_dot_sentence level2" href="{{object.issue.get_absolute_url}}?m_id={{meeting_id.id}}">{{ object.issue.title }}</a>
	</div>
</div>

<div class="proposal_main clearfix">
<div class="proposal_right_column col-sm-3 hidden-xs">
	<ul class="issues_list">
        {% if object.issue.proposals.closed %}
          <h5>{% trans "Decisions" %}</h5>
            {% for proposal in object.issue.proposals.closed %}
                <li>
                	{% if object == proposal %} <div class="pull-right" style="width: 15px;"><span class="active_proposal pull-right"></span></div>{% endif %}
                	<a href="{{ proposal.get_absolute_url }}?m_id={{meeting_id.id}}">{{ proposal }}</a>
                </li>
            {% endfor %}
        {% endif %}

        <h5>{% trans "Proposals" %}</h5>
		{% for i in object.issue.proposals.open %}
		<li>
			{% if object == i %} <div class="pull-right" style="width: 15px;"><span class="active_proposal pull-right"></span></div>{% endif %}
			<a href="{{ i.get_absolute_url }}?m_id={{meeting_id.id}}">{{ i }}</a>
		</li>
		{% endfor %}
	</ul>
</div>

<div class="proposal_left_column col-sm-9 col-xs-12">
<div class="proposal_left_column_inner">
{% if object.can_straw_vote and not user.id %}
<div class="text-center" style="margin-bottom: 10px;">
	<a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-warning">{% trans "Login to vote" %}</a>
</div>
{% endif %}

<div class="proposal" data-id="{{object.id}}" data-accepted="{{object.status}}">

    <div class="pull-left">
        <h1 style="padding: 5px 10px;">{{object.title}}</h1>
    </div>
    <div class="pull-right">
	    {% if cperms.issues.view_proposal_in_discussion or not proposal.is_open %}
	        {% if object.status == object.statuses.ACCEPTED or object.status == object.statuses.REJECTED %}
	            <div class="{{object.get_status_class}}">
	                
	                {% if object.status == object.statuses.ACCEPTED %}
	                    <i class="fa fa-check-circle"></i> {% trans "Proposal accepted" %}!
	                {% endif %}
	                {% if object.status == object.statuses.REJECTED %}
	                    <i class="fa fa-times-circle"></i> {% trans "Proposal rejected" %}!
	                {% endif %}
	                
	                {% if object.decided_at_meeting %}
	                	<a href="{{ object.decided_at_meeting.get_absolute_url }}" class="text-center" style="display: block;">({{ object.decided_at_meeting.get_title_or_date }})</a>
	                {% endif %}
	        
	                {% if object.can_vote and cperms.issues.acceptopen_proposal %}
	                    <a href="#" class="unaccept btn btn-warning btn-md" data-value="{{object.statuses.IN_DISCUSSION}}">{% trans "Cancel approval" %}</a>
	                {% endif %}
	            </div>
	        {% endif %}
	    {% endif %}
		{% if cperms.issues.editclosed_proposal or object.is_open %}
			{% if cperms.issues.editopen_proposal or object.created_by == user %}
				<div class="col-xs-12 text-right">
					{% if not object.is_task or cperms.issues.edittask_proposal %}
						<a href="{{object.get_edit_url}}" data-rel="form" style="color: #6C6C6E;"> <i class="fa fa-edit"></i> <span>{% trans "Edit" %}</span> </a>
					{% endif %}
					<a href="{{object.get_delete_url}}" data-rel="form" style="color: #6C6C6E;"> <i class="fa fa-trash-o"></i> <span>{% trans "Delete" %}</span> </a>
				</div>
			{% endif %}
		{% endif %}
    </div>
	<div class="oc_detail_top row clear" style="margin-right: -5px;margin-left: -5px;border:0;background: none;">
        {% if object.type == 1 %}
            {% if object.assigned_to %}
    			<div class="pull-left">
	        		<h5><span class="glyphicon glyphicon-user"></span> {% trans "Assigned to" %}: {{ object.assigned_to }}&nbsp;&nbsp;</h5>
	        	</div>
            {% if object.assigned_to and object.due_by %}{% endif %}
            {% endif %}
            {% if object.due_by %}
    			<div class="pull-left">
                    <h5><span class="glyphicon glyphicon-calendar"></span> {% trans "Due by" %}: {{ object.due_by|date:"d/m/Y" }}&nbsp;&nbsp;</h5>
	        	</div>
            {% endif %}
        {% endif %}
		<div class="pull-left">
            <h5 style="line-height: 18px;"> {% trans "By:" %} {{ object.created_by }}. {{ object.created_at|date:"d/m/Y" }}</h5>
    	</div>
    	<div class="col-xs-12" style="border-top: 1px solid; clear: both;margin-bottom: 10px;"></div>
		<h5 style="clear: both;">
		    {% if object.content %}
		        {{object.content|userhtml}}
		    {% endif %}
		</h5>
	</div>
</div>

    {% with proposal=object c=proposal.issue.community %}
        {% if proposal.can_straw_vote and cperms.issues.vote and user|member_of:c %}
            {% include 'issues/_vote.html' %}
        {% endif %}
        {% if proposal.can_show_straw_votes %}
            <div id="results_container">
                {% include 'issues/_proposal_vote_results.html' %}
            </div>
        {% endif %}
	{% endwith %}

    {% if object.can_vote and cperms.issues.acceptopen_proposal %}
    <form id="proposal-form" method="post">
        {% csrf_token %}
        <div class="narrow accept_reject_btns accept-buttons text-center">
            {% if object.status != object.statuses.ACCEPTED %}
            <button class="btn btn-default btn-lg" name="accepted" value="{{object.statuses.ACCEPTED}}" style="border-bottom: 5px solid #a4cb53">
                {% trans "Accept proposal" %}
            </button>
            {% endif %}
            {% if object.status != object.statuses.REJECTED %}
            <button class="btn btn-default btn-lg" name="accepted" value="{{object.statuses.REJECTED}}" style="border-bottom: 5px solid #d95e59">
                {% trans "Reject proposal" %}
            </button>
            {% endif %}
        </div>
    </form>
    {% endif %}
</div>
</div>
</div>
</div>
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{{STATIC_URL}}css/proposal.css"/>
<link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/typeahead.js-bootstrap.css"/>
{% endblock %}

{% block scripts %}
{% if object.can_show_straw_votes %}
    <script src="{{STATIC_URL}}js/Chart.js"></script>
    <script src="{{STATIC_URL}}js/_piechart.js"></script>
    <script>
        createChart(
        {{ object.votes_pro }},
        {{ object.votes_con }},
        {{ object.community_members|subtract:object.votes_con|subtract:object.votes_pro }},
        {{ object.id }}
        );
    </script>
{% endif %}
<script src="{{STATIC_URL}}bootstrap/js/typeahead.min.js"></script>
<script src="{{STATIC_URL}}js/hogan-2.0.0.js"></script>
<script src="{{STATIC_URL}}js/issues.js"></script>
<script src="{{STATIC_URL}}js/proposal.js"></script>
<script>
	$(function() {
		var Meeting = $('.proposal_main').outerHeight();
		var Issue = $('.proposal_right_column').outerHeight();
		var Proposal = $('.proposal_left_column').outerHeight();
		if ((Issue + 20) < Proposal) {
			$('.proposal_right_column').outerHeight(Proposal-20);
		};
		if (Issue > Proposal) {
			$('.proposal_left_column').outerHeight(Issue+20);
		};
	});
</script>
{% endblock %}
