{% extends "dialog.html" %}
{% load i18n %}

{% block extra-page-id %}
	id="create-proposal"
{% endblock %}

{% block form_name %}
<div class="proposal-form-bg"></div>
{% endblock %}

{% block modal_content_classes %}
{% if form.instance %}{% if form.instance.is_confidential %}is_confidential{% endif %}{% endif %}
{% endblock modal_content_classes %}

{% block page_header %}
    {% if form.instance.id %}
        {% trans "Edit proposal" %}
    {% else %}
        {% trans "New proposal" %}
    {% endif %}
{% endblock %}

{% block header-end %}
{% endblock %}

{% block content %}
    <ul id="proposal-type" class="nav nav-tabs">
      <li><a href="#">{% trans "General" %}</a></li>
      <li><a href="#">{% trans "Rule" %}</a></li>
      <li><a href="#">{% trans "Task" %}</a></li>
   </ul>
    {{ form }}

<script>

	$('a.proposal-btn-confidential').parent().parent().css({
		'margin-top': '-40px',
		'margin-bottom': '0'
	});
    function get_tag_start(q) {
      var last_comma = q.lastIndexOf(',');
      console.log(q);
      return ('js');
    }

      /*
      .on('focus', function (event) {
          existing_tags = $(this).val();
          console.log('----------->> ' + existing_tags);
      })
*/
    var existing_tags = '';

    function fix_tags(res) {
        console.log(res);
        $.each(res, function() {
            if(existing_tags.length > 1) {
                 existing_tags = existing_tags.replace(/\s*,\s*/, '');
                 $(this)[0]['value'] = existing_tags + ',' + $(this)[0]['value'] ;
            }
        });

        return(res)
    }

    function init_prop_autocomplete() {
      var ac_url = '{% url "autocomplete_tag" community_id=community.id %}';
      var ta = $('#id_proposal-tags').typeahead({
            name: 'tags',
            remote: {
                url:  ac_url + '?tag=%QUERY',
                //filter: fix_tags,
            }
        }).css('background-color', '#fff')

      .on('typeahead:selected', function (event, datum) {
          // existing_tags = event.target.value;
          //datum['value'] = '---- ' ; //existing_tags + datum['value'];
          //return(false);

          var tags_val = datum['value'];
          var idx = existing_tags.lastIndexOf(',');
          if(idx < 0) {
              idx = existing_tags.length - 1;
          }
          if(tags_val.indexOf(existing_tags) == -1) {
              tags_val = existing_tags.substring(0,idx) + ',' + tags_val;
          }
          console.log('>>> ' + existing_tags);
          $(this).val(tags_val);

      });
    }


    $(function() {
        /* a map between proposal type, to order of appearance (tab index) */
        var type_idx_map = {
            1: 2,
            2: 1,
            3: 0
        }
        var type_select = $('#id_proposal-type');
        type_select.closest('.form-group').hide();
        $('#id_proposal-tags').addClass('form-control');
        var sel_idx = 0;
        {% if object %}
            sel_idx = type_idx_map[{{ object.type }}]
        {% endif %}
        init_proposal_tabs(false);
        $("ul#proposal-type li")[sel_idx].click()
        var ac_url = '{% url "ac_user" community_id=community.id %}';
        init_user_autocomplete(ac_url);
        /* init_prop_autocomplete(); */

      });
</script>

{% endblock %}

{% block nofooter %}
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
    <button type="submit" id="proposal_edit_submit" data-toggle data-target class="btn btn-oc">{% trans 'Save' %}</button>
    <div class="collapse" id="confidentialVerification">
        <hr>
        <div class="text-center">
            <p>{% trans "Are you sure you want to remove the confidentiality" %}?</p>
            <button type="submit" class="btn btn-oc">{% trans 'I am positive' %}</button>
        </div>
    </div>
</div>
{% endblock %}
