{% extends "base.html" %}
{% load i18n humanize voting_tags community_tags opencommunity %}

{% block extra-page-id %}
id="proposal-detail"
{% endblock %}

{% block page_header %}
    {% if issue_frame %}
    <span class="visible-xs">
        <a href="{% url 'issues' community.id %}" style="color: #6C6C6E;text-decoration: none;">{% trans "All Issues" %}</a>
    </span>
    {% endif%}
{% endblock %}

{% comment %}
{% block pagemenu %}
<!-- {% if object.is_task and cperms.issues.edittask_proposal %}
{% if cperms.issues.editclosed_proposal or object.is_open %}
<a class="btn btn-oc" href="{{object.get_edit_task_url}}" data-rel="form">
    <i class="fa fa-undo"></i> <span>{% trans "Reassign task" %}</span>
</a>
{% endif %}
{% endif %} -->
{% endblock %}
{% endcomment %}

{% block content %}
    {% if issue_frame %}
        <div id="issue_frame">
    {% endif %}        

    <div class="meeting_header">
    {% if not issue_frame %}
        {% if meeting_id %}
            <a class="three_dot_sentence level1" href="{{meeting_id.get_absolute_url}}">{{ meeting_id.title }}{% if meeting.title and meeting.held_at %} / {% endif %}{{ meeting_id.held_at|date:"j F Y" }}</a>
        {% else %}
            <a class="three_dot_sentence level1" href="{{object.issue.community.get_upcoming_absolute_url}}">{{object.issue.community.upcoming_meeting_title|default:_("Upcoming Meeting")}}{% if object.issue.community.upcoming_meeting_scheduled_at %} / {% endif %}{{object.issue.community.upcoming_meeting_scheduled_at|date:"j F Y"}}</a>
        {% endif %}
    {% else %} 
        <h2 class="hidden-xs">{% trans 'Issues' %}</h2>
    {% endif %}
    </div>

    <div class="issue_header">
        <div class="issue_header_inner">
            <a class="three_dot_sentence level2" href="{{object.issue.get_absolute_url}}?m_id={{meeting_id.id}}{{issue_frame|yesno:'&s=1,'}}">{{ object.issue.title }}</a>
        </div>
    </div>


<div  class="proposal_main clearfix">    
<div class="proposal_right_column col-sm-3 hidden-xs">
	<ul class="issues_list">
        {% if object.issue.proposals.closed %}
          <h5>{% trans "Decisions" %}</h5>
            {% for proposal in object.issue.proposals.closed %}
                <li>
                	{% if object == proposal %} <div class="pull-right" style="width: 15px;"><span class="active_proposal pull-right"></span></div>{% endif %}
                    <a href="{{ proposal.get_absolute_url }}?m_id={{meeting_id.id}}{{issue_frame|yesno:'&s=1,'}} ">{{ proposal }}</a>
                </li>
            {% endfor %}
        {% endif %}

        <h5>{% trans "Proposals" %}</h5>
		{% for i in object.issue.proposals.open %}
		<li>
			{% if object == i %} <div class="pull-right" style="width: 15px;"><span class="active_proposal pull-right"></span></div>{% endif %}
			<a href="{{ i.get_absolute_url }}?m_id={{meeting_id.id}}{{issue_frame|yesno:'&s=1,'}}">{{ i }}</a>
		</li>
		{% endfor %}
	</ul>
</div>

{% include 'issues/proposal_detail_main.html' %}

</div>
{% if issue_frame %}
    </div>
{% endif %}        
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{{STATIC_URL}}css/proposal.css"/>
<link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/typeahead.js-bootstrap.css"/>
{% endblock %}

{% block scripts %}
{% if object.can_show_straw_votes %}
    <script src="{{STATIC_URL}}js/Chart.js"></script>
    <script src="{{STATIC_URL}}js/_piechart.js"></script>
    <script>
        createChart(
        {{ object.votes_pro }},
        {{ object.votes_con }},
        {{ object.community_members|subtract:object.votes_con|subtract:object.votes_pro }},
        {{ object.id }}
        );
    </script>
{% endif %}
<script src="{{STATIC_URL}}bootstrap/js/typeahead.min.js"></script>
<script src="{{STATIC_URL}}js/hogan-2.0.0.js"></script>
<script src="{{STATIC_URL}}js/issues.js"></script>
<script src="{{STATIC_URL}}js/proposal.js"></script>
{% endblock %}
