{% extends "dialog.html" %}
{% load i18n %}

{% block extra-page-id %}
	id="create-proposal"
{% endblock %}

{% block page_header %}
    {% if form.instance.id %}
        {% trans "Edit Proposal" %}
    {% else %}
        {% trans "New Proposal" %}
    {% endif %}
{% endblock %}

{% block header-end %}
{% endblock %}

{% block content %}
    <ul id="proposal-type" class="nav nav-tabs">
      <li class="active"><a href="#">{% trans "General" %}</a></li>
      <li><a href="#">{% trans "Rule" %}</a></li>
      <li><a href="#">{% trans "Task" %}</a></li>
   </ul>
    {{ form }}

<script>

	function refreshProposalForm() {

		// prevent html5 required field
		$('#id_proposal-type').val() == '';

		// hide task related fields
		var els = $('#id_proposal-assigned_to').parent().parent();
		var els1 = $('#id_proposal-due_by').parent().parent();
		if ($('#id_proposal-type').val() == '1') {
			els.show();
			els1.show();
		} else {
			els.hide();
			els1.hide();
		}

	}


	function refreshProposalEditForm() {

		// prevent html5 required field
		$('#id_type').val() == '';
		// hide task related fields
		if ($('#id_type').val() == '1') {
			$('#id_assigned_to').closest('.form-group').show()
         $('#id_due_by').closest('.form-group').show()
		} else {
         $('#id_assigned_to').closest('.form-group').hide()
			$('#id_due_by').closest('.form-group').hide()
		}

	}
	

    $(function() {
        //refreshProposalEditForm();
        //refreshProposalForm();
        $('#id_type').closest('.form-group').hide();
        init_proposal_tabs(false);
        //$('body').on('change', '#id_proposal-type', refreshProposalForm);
        // $('body').on('change', '#id_type', refreshProposalEditForm);
        var ac_url = '{% url "ac_user" community_id=community.id %}';
        init_user_autocomplete(ac_url);
	});
</script>

{% endblock %}
