{% extends "base.html" %}
{% load i18n %}

{% block page_header %}{% trans "Password reset" %}{% endblock %}
{% block content %}

<p>
	{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}
</p>

<form action="" method="post" role="form">
	{% csrf_token %}
	{{ form.email.errors }}
	<div class="form-group">
		<label for="id_email">{% trans 'Email address:' %}</label>
		{{ form.email }}
	</div>
	<input type="submit" class="btn btn-oc" value="{% trans 'Reset my password' %}" />
</form>

{% endblock %}
