/* Generic style */

html {
	font-family: "Alef", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
	background: url('images/background.jpg') repeat;
	direction: rtl;
	/*{global-font-family}*/
	font-family: "Alef", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: "Alef", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #6C6C6E;
}
h1 {
	font-size: 24px;
	padding: 5px 0;
	margin: 0;
}
h2 {
	font-size: 18px;
	margin-top: 10px;
}
.modal-body h3 {
	font-size: 18px;
}
.oc_detail_top h5 span {
	font-weight: normal;
}
.loader {
    display:none;
}
.loader img {
    width: 20px;
    height: 20px;
}
.loading .loader {
    display:inline;
}
a {
	color: #67b7cd;
}
.clear {
	clear: both;
}
p > a {
	word-break: break-word;
}
.container {
	margin-bottom: 30px;
}

/* Errors */

ul.errorlist {
	list-style-type: none;
	padding: 0;
}
ul.errorlist li {
	color: red;
}

/* Forms */

.modal-body {
	padding: 20px 20px 10px 20px;
}
.modal-content {
	background: url('images/background.jpg') repeat;
}
.modal-header {
	background-image: url('images/title_bg.png');
	border-radius: 6px 6px 0 0;
}
.modal-title {
	color: #fff;
}
.modal-header .close {
	color: #fff;
	opacity: 1;
}
.modal-footer {
	margin-top: 0;
}
.form-group {
	margin-bottom: 10px;
}
#upcoming-meeting .field-send_to ul {
	list-style-type: none;
}
.form-group input.form-control.issue-search {
	border-radius: 15px;
	padding-left: 40px;
	background-image: url('images/search.png');
	background-repeat: no-repeat;
	background-position: 10px;
	font-size: 18px;
}
.field-upcoming_meeting_participants ul {
	list-style-type: none;
}
.field-upcoming_meeting_participants p.help-block {
	display: none;
}
/*#upcoming-meeting .modal-content .field-held_at #id_held_at_0,
#upcoming-meeting .modal-content .field-held_at #id_held_at_1 {
	width: 45%;
	display: inline-block;
}*/

.oc-dt-split input {
	width: 49%;
	display: inline-block;
}
#issue-proposal-type {
	margin-bottom: 10px;
}
#issue-proposal-type.nav-tabs > li.active > a,
#issue-proposal-type.nav-tabs > li.active > a:hover,
#issue-proposal-type.nav-tabs > li.active > a:focus {
	border-bottom-color: #dddddd;
}

/* General buttons */

.btn-oc,
.btn-oc:hover,
.btn-oc:active {
	color: #fff;
}
.btn-oc {
	color: #fff;
	text-shadow: none;
	background-color: #194e5c;
	border-color: #fff;
}
.btn-oc:hover {
	opacity: 0.9;
}
.btn-pro,
.btn-pro:hover,
.btn-pro:active {
	color: #fff;
	background-color: #668428;
}
.btn-pro {
	color: #fff;
	text-shadow: none;
	background-color: #a4cb53;
	border-color: #a4cb53;
}
/*.btn-pro:hover {
	opacity: 0.9;
}*/
.btn-con,
.btn-con:hover,
.btn-con:active {
	color: #fff;
	background-color: #952722;
}
.btn-con {
	color: #fff;
	text-shadow: none;
	background-color: #d95e59;
	border-color: #fff;
}
/*.btn-con:hover {
	opacity: 0.9;
}*/
.btn-accept,
.btn-accept:hover,
.btn-accept:active {
	color: #333;
}
.btn-accept {
	color: #333;
	font-weight: bold;	
	background-color: #c3dc9b;
	border-color: #d8e0df;
}
.btn-accept:hover {
	opacity: 0.9;
}
.btn-reject,
.btn-reject:hover,
.btn-reject:active {
	color: #333;
}
.btn-reject {
	color: #333;
	font-weight: bold;
	background-color: #dbae82;
	border-color: #e8d8df;
}
.btn-reject:hover {
	opacity: 0.9;
}
.unaccept.btn-oc {
	border-color: transparent;
}
.narrow {
    max-width: 265px;
    margin: 1.5em auto;
}
.one_action_icon {
    max-width: 200px;
    margin: 0 auto;
}
.btn-group-justified {
	margin-bottom: 10px;
}
.accept_reject_btns {
    max-width: 300px;
}
.edit-comment button {
	background: url(images/comment_edit_pencil.png) no-repeat;
}
.delete-comment button {
	background: url(images/comment_delete_trash.png) no-repeat center;
}
.delete-comment .undelete-btn button {
	background: url(images/comment_undelete.png) no-repeat center;
}
/*.cancel-edit-comment button {
	background: url(images/comment_delete_action.png) no-repeat center;
}*/
.btn-comment, .btn-comment:hover, .btn-comment:focus, .btn-comment:active {
	border-color: transparent;
}
.btn-comment, .btn-comment:active, .btn-comment[disabled], fieldset[disabled] .btn-comment {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn-comment {
	width: auto;
	height: 20px;
	cursor: pointer;
	border-radius: 0;
}

/* Navbar */

nav.oc_navbar {
	background-image: url('images/title_bg.png');
/*	background: #428bca;*/
/*	margin-bottom: 0;*/
}
.navbar-default .navbar-brand {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
/*	width: 60%;
	margin-right: 20%;*/
}
.navbar-default .navbar-collapse {
	background-image: -webkit-linear-gradient( top, #fcfcfc, #e7e7e8 );
}
.navbar-default .navbar-nav > li > a {
	color: #333333;
}
.oc_menu {
	border: 0;
	width: 32px;
	height: 32px;
	background: url('images/left_action.png') no-repeat;
}
.oc_user_menu {
	background: url('images/user_action.png') no-repeat;
}
.navbar-default .navbar-toggle.oc_menu:hover,
.navbar-default .navbar-toggle.oc_menu:focus {
	background-color: transparent;
}
.navbar-default.oc_navbar .navbar-brand:hover,
.navbar-default.oc_navbar .navbar-brand:focus {
	color: #fff;
}
p.user_nav {
	width: 100%;
	margin: 10px 15px;
}
#login-page ul .list-group,
#login-page button.navbar-toggle,
#community-list ul .list-group,
#community-list button.navbar-toggle {
	display: none;
}
#login-page .col-lg-10,
#login-page .col-md-9,
#login-page .col-sm-9,
#community-list .col-lg-10,
#community-list .col-md-9,
#community-list .col-sm-9 {
	width: 100%;
}
#login-page .navbar-default .navbar-brand,
#community-list .navbar-default .navbar-brand {
	width: 100%;
	margin-right: 0;
}
/* Hide login button from community list page */
#community-list #login_navbar {
	display: none;
}
/* List */

.oc_li {
	background: #448698;
}
.oc_li a {
	color: #fff;
}
.left_arrow {
	padding-left: 35px;
	background-image: url('images/arrow-left.png');
	background-repeat: no-repeat;
	background-position: 10px 50%;
}
.nav > li.oc_li > a:hover, .nav > li.oc_li > a:focus {
	background-color: transparent;
}
#agenda li.issue.oc_li a {
	margin: 0 40px 0 100px;
	padding-right: 0;
	padding-left: 0;
}
#available li.issue.oc_li a {
	margin-left: 41px;
	word-break: break-word;
}
#agenda li .grab {
    width: 40px;
    height: 40px;
    background: url('images/drag-handle.png') center no-repeat;
    float: right;
    cursor: move;
}
#agenda .completed {
	position: relative;
}
#available .completed {
    display: none;
}
#available .timer {
	display: none;
}
.timer {
	position: absolute;
	top: 10px;
	left: 45px;
    background: transparent;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
#agenda li.issue a.addremove,
#available li.issue a.addremove {
	display: block;
	margin: 0;
	width: 100%;
	height: 100%;
}
#agenda .icon-plus-minus {
	background: url('images/minus_action.png') no-repeat 50% 50%;
}
#available .icon-plus-minus {
	background: url('images/plus_action.png') no-repeat 50% 50%;
}
.tick {
	background: url('images/tick.png') no-repeat 50% 50%;
}
.cog {
	background: url('images/cog.png') no-repeat 50% 50%;
}
.agenda_plus_minus {
	position: absolute;
	width: 40px;
	height: 100%;
	border-right: 1px solid #fff;
	top: 0;
	left: 0;
}
.title_w_right_icon {
	display: block;
	padding-right: 55px;
	line-height: 29px;
	background-color: #448698;
	background-position: right;
	background-repeat: no-repeat;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
} 
.title_w_right_icon:hover {
	text-decoration: none;
	color: #fff;
} 
#issue-list .form-horizontal .control-label {
	font-size: 18px;
	padding-top: 5px;
}
/* Page header, Details, description, location */

.page_title {
	font-size: 30px;
	color: #4a4949;
	padding: 5px 0;
	font-weight: bold;
}

.oc_detail_top {
	padding: 0 15px;
	border-top: 1px solid #d8d8d9;
	border-bottom: 1px solid #d8d8d9;
	background: #fcfcfc;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e7e7e8 ), to( #fcfcfc ));
	background-image: -webkit-linear-gradient( top, #e7e7e8 , #fcfcfc );
	background-image: -moz-linear-gradient( top, #e7e7e8 , #fcfcfc );
	background-image: -ms-linear-gradient( top, #e7e7e8 , #fcfcfc );
	background-image: -o-linear-gradient( top, #e7e7e8 , #fcfcfc );
	background-image: linear-gradient( top, rgb(231, 231, 232) , #fcfcfc );
}

.summary_box {
	padding: 15px;
	border-top: 1px solid #d8d8d9;
	border-bottom: 1px solid #d8d8d9;
	background: #fcfcfc;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e7e7e8 ), to( #fcfcfc ));
	background-image: -webkit-linear-gradient( top, #e7e7e8 , #fcfcfc );
	background-image: -moz-linear-gradient( top, #e7e7e8 , #fcfcfc );
	background-image: -ms-linear-gradient( top, #e7e7e8 , #fcfcfc );
	background-image: -o-linear-gradient( top, #e7e7e8 , #fcfcfc );
	background-image: linear-gradient( top, rgb(231, 231, 232) , #fcfcfc );
}

/* Tables */

table.meeting-table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #ceced0;
	margin-bottom: 15px;
}
table.issue-table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 2px;
}
.meeting-table thead tr th {
    font-weight: normal;
    color: #fff;
    text-decoration: none;
	padding: 5px 0;
}
#meeting-detail .meeting-table thead tr th {
	vertical-align: middle;
}
.meeting-table tbody tr td.sub_count {
	background-color: #cacccd;
	padding: 0;
}
#meeting-detail .meeting-table tbody {
	background: #fff;
} 
#meeting-detail .meeting-table tbody tr td a {
	text-decoration: none;
	font-size: 15px;
	color: #6c6c6e;
	overflow: hidden;
	word-break: break-word;
	display: block;
}
.meeting-table tbody tr.table_divider {
	border-bottom: 1px solid #ceced0;
}
.meeting-table tbody tr.table_divider td {
	padding-bottom: 10px;
}
.meeting-table tbody tr:last-child.table_divider {
	border-bottom: 0;
}
#meeting-detail table.meeting-table tbody tr td {
	border-top: 0;
}
.meeting-header {
	height: 60px;
	background: #064556;
}
.meeting-header-title {
	padding-top: 4px;
	padding-bottom: 4px;
	border-left: 1px dashed #8f9698;
}
.meeting-header-users {
	padding-top: 14px;
	padding-bottom: 14px;
	border-left: 1px dashed #8f9698;
	height: 100%;
}
.meeting-header-users:last-child {
	border-left: 0;
}
.emp {
    font-weight: 900;
    font-size: 110%;
    color: #000;
}
.show-participants {
	display: block;
	line-height: 32px;
	padding-right: 45px;
	background-image: url('images/users.png');
	background-repeat: no-repeat;
	background-size: 32px 32px;
	background-position: right center;
	height: 100%;
}
.show-protocol {
	display: block;
	line-height: 32px;
	height: 100%;
	text-align: center;
}
.users {
	color: #fff;
	font-size: 24px;
}
.select-meeting {
	display: block;
	line-height: 25px;
	padding-right: 45px;
	background: url('images/date-grid-icon.png') no-repeat right center;
}
.show-participants:hover,
.select-meeting:hover {
	text-decoration: none;
}
.select-meeting p {
	margin: 0;
	font-size: 18px;
	color: #fff;
}
.summary {
	padding: 15px;
}
.summary p {
	margin: 0;
}
.meeting-table tbody tr td.sub_count.num2,
.meeting-table tbody tr td.sub_count.num4,
.meeting-table tbody tr td.sub_count.num6,
.meeting-table tbody tr td.sub_count.num8 {
	background-color: #dcddde;
}
.meeting-table thead tr th.head_title {
	font-size: 18px;
	padding-left: 30px;
	padding-right: 10px;
	background: url(images/arrow-left.png) #448698 no-repeat 10px 50%;
	word-break: break-word;
}
.issue-table tr td.title {
	font-size: 16px;
	padding: 10px 5px 5px 5px;
	line-height: 1;
	font-weight: bold;
	word-break: break-word;
}
.issue-table tbody tr td.issue_title {
	padding: 0 10px 0 35px;
	word-break: break-word;
	min-height: 50px;
	vertical-align: middle;
}
.issue-table tbody tr td.issue_title a {
	color: #fff;
	font-size: 18px;
	display: block;
}
.issue-table tbody tr td.issue_title a:hover {
	text-decoration: none;
}
table.issue-table tr td {
	border-top: 0;
	background-color: #448698;
	color: #fff;
}
.issue-table tr td.name {
	font-size: 15px;
	padding: 0 10px 5px 10px;
}
.meeting-table tbody tr td.body_title {
	padding-top: 10px;
}
.meeting-table tbody tr td {
	padding-right: 25px;
}
.meeting-table tbody tr td a.ui-link p {
	margin: 0;
}
.meeting-table tbody tr td a.ui-link {
	text-decoration: none;
	font-size: 15px;
	color: #6c6c6e !important;
	display: block;
	font-weight: normal;
	max-height: 2.6em;
	overflow: hidden;
	word-break: break-word;
}
.meeting-table tbody tr td.body_title a.ui-link {
	max-height: 18px;
	overflow: hidden;
}
.meeting-table thead tr th a {
    color: #fff;
    text-decoration: none;
/*    display: block;*/
    max-height: 2.6em;
	overflow: hidden;
}
.meeting-table thead tr th.count {
    font-size: 30px;
    background: #3d3c3c;
    width: 38px;
	text-align: center;
}
.meeting-table thead tr th.count a {
    width: 38px;
}
.issue-table tr td.icon {
    /*font-size: 30px;*/
    background: url(images/issue-icon.png) no-repeat center #3d3c3c;
    width: 45px;
	text-align: center;
}
table.issue-table tr td.issue_date {
	width: 60px;
	padding-top: 14px;
	padding-bottom: 14px;
	background: #3d3c3c;
	text-align: center;
	font-size: 16px;
	vertical-align: middle;
}
#issue-list table.issue-table {
	border-spacing: 0 2px;
	border-collapse: separate;
}
.issue-list {
	cursor: pointer;
}

/* Proposal page table & more */

.agendaitem {
    border: 1px solid #ccc;
    margin-bottom: 6px;
    background: #f0f0f0;
    padding: 0 6px;
}

.open-proposals h2:last-child,
.comments h2:last-child {
    display:none;
}

ul.prop-table {
	display: table;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 1px solid #d8e0df;
	background: #ffffff;
	list-style-type: none;
}
#issue-detail ul.prop-table {
	cursor: pointer;
}
/*ul.prop-table a {
	display: block;
}*/
ul:last-child.prop-table {
	margin-bottom: 15px;
}
ul.proposals li.drag-icon {
	display: table-cell;
	width: 40px;
}
.wide-icon {
	display: table-cell;
	width: 48px;
	background-color: #e3e3e3;
}
ul:nth-child(even).proposals li.drag-icon {
	background-color: #cacccd;
}
ul:nth-child(odd).proposals li.drag-icon {
	background-color: #dcddde;
}
ul.proposals li.prop-title {
	padding: .7em 15px 0 15px;
	word-break: break-word;
	font-weight: bold;
}
a ul.proposals li.prop-title {
	color: #6c6c6e;
	font-size: 15px;
	font-weight: bold;
	white-space: normal;
	text-decoration: none;
	word-break: break-word;
}
ul.proposals li.prop-content {
	padding: 0 15px .7em 15px;
}
ul.proposals li.prop-content a {
	color: #6c6c6e;
	font-weight: normal;
}
ul.proposals li.prop-content p {
	color: #6c6c6e;
	font-size: 15px;
	margin: 0;
	white-space: normal;
	word-break: break-word;
}
.proposal {
	position: relative;
}
.proposal-info {
	padding: 15px;
	border: 1px solid #d8e0df;
	background: #fff;
}
#proposal-detail .proposal-info {
	margin-top: 15px;
	clear: both;
}
.proposal-info p {
	word-break: break-word;
	margin: 10px 0;
}
.unaccept {
	position: absolute;
	top: 0;
	left: 0;
	margin: 7px;
}
#proposal-detail .accepted {
	position: relative;
	background: url(images/accepted.png) no-repeat right center #b8d29a;
	border: 1px solid #d8e0df;
	padding: 17px 50px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 20px;
}
#proposal-detail .rejected {
    position: relative;
    background: url(images/proposal-rejected.png) no-repeat #d2af7d;
    background-position: 99% 50%;
    border: 1px solid #e8d8df;
	padding: 17px 50px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
	margin-top: 20px;
}
#proposal-detail .accepted a:hover,
#proposal-detail .rejected a:hover {
	text-decoration: none;
}

/* Protocol & Agenda ajax preview */

#protocolPreview {
	text-align: right;
	padding-top: 20px;
}

/* Messages */

.notice {
    font-weight: bold;
    font-size: larger;
    margin: 1em 2em;
    background: #FFF3A5;
    border: 2px solid #777;
    padding: 1em 2em;
}

/* Issue detail comments */

.comments {
	padding: 0;
	margin-bottom: 1px;
}
.comments .historic_comments > li,
.comments > li {
	padding: 5px;
	background: #fff;
	list-style-type: none;
	margin-bottom: 1px;
}
.comments li.editing {
	background: transparent;
}
.comments li.editing div {
	/*padding-left: 26px;*/
}
.comment-inner {
	color: #6c6c6e;
	font-size: 14px;
}
.comment-inner .userhtml {
	font-size: 15px;
}
.comments li.rich_editor {
	background: transparent;
	padding: 10px 0 0 0;
}
.issue_attachments ul {
	list-style-type: none;
	padding-right: 0;
}
.issue_attachments a:hover.file_ext {
	text-decoration: none;
}
ul#invitations {
	list-style-type: none;
}
form.delete-invitation {
/*	display: inline;*/
	margin-right: 10px;
}
.comment-switch-active {
	text-decoration: underline;
}
.history_toggle {
	position: absolute;
	right: 15px;
	font-size: 14px;
}
#comment-switch {
	cursor: pointer;
}

/* Images & Icons */

.check_box {
	display: table-cell;
	width: 40px;
	background: url(images/proposal-uncheck.png) no-repeat center;
	border-right: 1px solid #d8e0df;
}
.check_box_vote {
	display: table-cell;
	width: 40px;
	vertical-align: middle;
	border-right: 1px solid #d8e0df;
}
.check_box.checked {
	background: url(images/proposal-check.png) no-repeat center;
}
.check_box.rejected {
	background: url(images/proposal-rejected.png) no-repeat center;
}
.nohal {
	position: absolute;
	top: 1px;
	left: 9px;
	width: 13px;
	height: 17px;
	background: url(images/nohal.png) no-repeat;
}
.task {
	position: absolute;
	top: 1px;
	left: 5px;
	width: 22px;
	height: 11px;
	background: url(images/task.png) no-repeat;
}
.general-icon {
	background-image: url(images/general-icon.png);
	background-repeat: no-repeat;
	background-position: center;
}
.task-icon {
	background-image: url(images/task-icon.png);
	background-repeat: no-repeat;
	background-position: center;
}
.rule-icon {
	background-image: url(images/rule-icon.png);
	background-repeat: no-repeat;
	background-position: center;
}
.prop_back_icon {
	background-image: url('images/prop-back.png');
}
.file_ext {
	padding-right: 25px;
	background-size: 18px 18px;
	background-position: right;
	background-repeat: no-repeat;
}
.pdf {background-image: url('images/icons/pdf.png');}
.txt {background-image: url('images/icons/simple-text.png');}
.doc {background-image: url('images/icons/word.png');}
.xl {background-image: url('images/icons/excel.png');}
.img {background-image: url('images/icons/jpeg.png');}
.ppt {background-image: url('images/icons/ppt.png');}
.vid {background-image: url('images/icons/video.png');}
.snd {background-image: url('images/icons/audio.png');}

i.fa + span {
	display: none;
}

/* Pie Chart */

.piechart {
	margin: 10px 0;
	background: #fff;
	padding-top: 10px;
	border: 1px solid #d8e0df;
}
.piechart span {
	font-size: 1.1em;
	vertical-align: top;
}

.piechart a {
   font-size: 1.1em;
   vertical-align: top;
   color: #000;
   text-decoration: none;
}

.piechart span span {
	font-size: 1em;
	width: 35px;
	display: inline-block;
}
.for {
	color: #a4cb53;
}
.against {
	color: #d95e59;
}
.dnp {
	color: #666;
}
.chart_divider {
	height: 1px;
	border-top: 1px dotted;
	margin-bottom: 10px;
}
.chart_datetime {
	border-bottom: 1px solid #d8e0df;
	padding-bottom: 10px;
	margin-bottom: 10px;	
}

/* Votes */

.change_vote {
	background: #fff3a5;
	padding: 10px 20px;
	color: #666;
	font-size: 16px;
	font-weight: bold;
}
.issue_proposal_vote .change_vote {
	margin-top: -10px;
}
.prop_votes {
	height: 35px;
	margin-bottom: 10px;
}
#proposal-detail .prop_votes {
	margin-top: 10px;
}
.issue_proposal_vote {
	height: 55px;
	background: #fff;
	border-right: 1px solid #d8e0df;
	border-left: 1px solid #d8e0df;
	border-bottom: 1px solid #d8e0df;
	margin-bottom: 20px;
	padding: 10px 0;
}
.change_vote~.issue_proposal_vote {
	padding-top: 0;
}
.issue_proposal_vote:last-child {
	margin-bottom: 0;
}
.proposal_count {
	color: green;
}
.votes_count {
	color: red;
}
.vote-badge {
	color: #448698;
	background: #fff;
}
.no-vote-badge {
	background: transparent;
	color: #fff;
	border: 1px solid;
}

/* WYSIHTML5 Editor */

.wysiwyg-text-align-left {
    text-align: left;
}
.wysiwyg-text-align-right {
    text-align: right;
}
.wysiwyg-text-align-center {
    text-align: center;
}
.oc_detail_top ol,
.oc_detail_top ul,
#proposal-detail .proposal .proposal-info ol,
#proposal-detail .proposal .proposal-info ul,
.summary_box ol,
.summary_box ul {
	margin-bottom: 0;
}
.oc_detail_top p,
.comments .comment-inner .userhtml,
.comments .comment-inner ol,
.comments .comment-inner ul {
	margin-bottom: 5px;
}

/* Footer */

.version {
	margin-top: 15px;
}

/* Responsive */

/* Extra small devices, mostly for patches (smartphone, up to 480px) */
@media (max-width: 480px) {
	ul.wysihtml5-toolbar > li:last-child {
		display:none
		}
	.mobile_line_break {
		display: block;
	}
	.show-participants {
		padding-right: 0;
		background-position: center;
	}
	.meeting-header-users {
		padding: 14px 0;
	}
}		

/* Extra small devices (smartphone, up to 767px) */
@media (max-width: 767px) {
	.modal-dialog {
		padding: 0;
	}
    .ios-chrome.modal-open {
        margin: 0;
    }
    .ios-chrome.modal-open .notmodal {
        display:none;
    }
    .ios-chrome .modal {
        position:inherit;
        padding: 0;
    }
    .ios-chrome .modal-dialog {
        padding: 0;
    }
    .ios-chrome .modal-backdrop {
        display:none;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	p.user_nav {
		margin: 15px;
	}
	nav.oc_navbar .navbar-collapse {
		background-color: transparent;
	}
	#login-page .col-lg-10,
	#login-page .col-md-9,
	#login-page .col-sm-9,
	#community-list .col-lg-10,
	#community-list .col-md-9,
	#community-list .col-sm-9 {
		width: 100%;
	}
	.navbar-default .navbar-brand {
		width: 100%;
		margin-right: 0;
	}
	.navbar-default .navbar-collapse {
		background-image: url('images/title_bg.png');
	}
	.navbar-default .navbar-nav > li > a,
	.navbar-default p.navbar-text {
		color: #fff;
	}
	i.fa + span {
		display: inline;
	}
	.change_vote {
		padding: 10px 40px;
	}
	.change_vote span {
		margin-left: 30px;
	}
	.mobile_line_break {
		display: inline;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
