.box {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.box h4 {
    border-bottom: 1px solid #ccc;
    padding: 8px;
    margin-top: 0;
    background: #f5f5f5;
}


@media (min-width: 980px) {
    body {
        margin-top: 70px;
    }
}

.loading:after {
    width: 10px;
    height: 10px;
    background: url("images/ajax-loader.gif") no-repeat;
    content:".....";
}


.ongoing .proposals li {
    text-decoration: line-through;
}

.ongoing .proposals li.accepted {
    text-decoration: none;
    font-weight: bold;
}

