{% extends "base.html" %}
{% load floppyforms %}
{% load i18n %}

{% block page_header %}{% trans "Import invitation list" %}{% endblock %}

{% block content %}

<div class="form-group">
	<a class="btn btn-xs btn-warning" href="{{ MEDIA_URL }}sample_csv.csv"><span class="glyphicon glyphicon-file"></span> {% trans "Sample file" %}</a>
</div>
<form role="form" enctype="multipart/form-data" method="post">{% csrf_token %}
	<div class="form-group">
		{% form import_invitation_form using 'floppyforms/layouts/default.html' %}
	</div>
	<div class="form-group">
		<input type="submit" class="btn btn-oc" value="Submit" />
	</div>
</form>
{% endblock %}
