{% extends "dialog.html" %}
{% load i18n opencommunity %}

{% block page_header %}
    {% trans "Invite member" %}
{% endblock %}

{% block content %}

    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="form-group clearfix">
        {{ field.errors }}
        <label for="{{ field.id_for_label }}" class="control-label">
        {{ field.label }}
        {% if field.field.required %}
            <span class="required">*</span>
        {% endif %}
        </label>
        <div class="controls field-{{ field.html_name }}">
            {{ field|addcss:"form-control" }}
        </div>
    </div>
    {% endfor %}

{% endblock %}
