{% extends "base.html" %}
{% load i18n %}

{% block title %}
<title>
    {{ object_list.0.community.name }} - {% trans "Members" %}
</title>
{% endblock %}

{% block extra-page-id %}
id="members-groups"
{% endblock %}

{% block page_header %}
    <a class="btn btn-oc" data-rel="form" href="{% url 'group:create' community.slug %}">{% trans "Create Group" %}</a>
    <a class="btn btn-oc" data-rel="form" href="{% url 'create_invitation' community.slug %}">{% trans "New member" %}</a>
    <a class="btn btn-oc" href="{% url 'group_role:list' community.slug %}">{% trans "Group Role" %}</a>
{% endblock %}

{% block content %}

<div class="col-xs-12 col-sm-6 well">
    <h2>{{ community.name }}</h2>
    <div class="form-group">
        <input type="text" class="form-control member-search" placeholder="{% trans 'Search members' %}">
    </div>
    <div class="row clearfix">
        <div class="col-xs-12 col-sm-6">
            {% for member in members %}
            {% ifchanged member.user.display_name.0 %}
            <h2>&nbsp;&nbsp;&nbsp;{{ member.user.display_name.0 }}</h2>
            {% endifchanged %}
            {% if forloop.counter == 10 %}
        </div>
        <div class="col-xs-12 col-sm-6">
            {% endif %}
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                </span>

                <div class="checkbox form-control members-list-abc">
                    <label>
                        <input type="checkbox" name="members" value="{{ member.user.id }}"> {{ member.user.display_name }}
                    </label>
                </div>
            </div>
            {% if forloop.last %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="col-xs-12 col-sm-6 well">
    <div class="selected-members-list">
    </div>
    <button class="btn btn-primary" data-rel="form" data-url="{% url 'members_groups_update' community.slug %}?action=1">
        {% trans "Add to groups" %}
    </button>
    <button class="btn btn-primary" data-rel="form" data-url="{% url 'members_groups_update' community.slug %}?action=2">
        {% trans "Remove from groups" %}
    </button>
    <button class="btn btn-primary" data-rel="form" data-url="{% url 'members_community_remove' community.slug %}">
        {% trans "Remove from community" %}
    </button>
</div>

{% endblock %}
