{% extends "base.html" %}
{% load i18n voting_tags %}

{% block extra-page-id %}
id="member-profile"
{% endblock %}

{% block page_header %}
{{ object.user.display_name }}
{% endblock %}

{% block content %}
<div class="col-xs-12 col-md-4">
	<p>
		{% trans "Position" %}: {% trans object.default_group_name %}
	</p>
	<p>
		{% trans "Serves since" %}: {{ object.created_at|date:"d F Y" }}
	</p>
	<p>
		{% trans "Email" %}: {{ object.user.email }}
	</p>
	<h3>{% trans "Meetings participation" %}</h3>
	<p class="pull-left">
		{{ object.meetings_participation }} {% trans "Out of" %} {{ object.total_meetings }} - {{ object.meetings_participation_percantage }}%
	</p>
	<canvas class="pull-left" id="participationChart" height="40px" width="40px"></canvas>
</div>
<div class="col-xs-12 col-md-4">
	<h3>{% trans "Tasks" %}</h3>
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#late" data-toggle="tab">{% trans "Late" %} ({{ object.member_late_tasks.count }})</a>
		</li>
		<li>
			<a href="#open" data-toggle="tab">{% trans "Open" %} ({{ object.member_open_tasks.count }})</a>
		</li>
		<li>
			<a href="#close" data-toggle="tab">{% trans "Close" %} ({{ object.member_close_tasks.count }})</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active member_tasks" id="late">
			{% for p in object.member_late_tasks %}
			<div class="task_devider">
				<p>
					<b>{{ p.title }}</b>
				</p>
				<p>
					<span class="glyphicon glyphicon-calendar"></span> {% trans "Due by" %}: {{ p.due_by }}
				</p>
				<p>
					{{ p.content|safe }}
				</p>
			</div>
			{% endfor %}
		</div>
		<div class="tab-pane member_tasks" id="open">
			{% for p in object.member_open_tasks %}
			<div class="task_devider">
				<p>
					<b>{{ p.title }}</b>
				</p>
				<p>
					<span class="glyphicon glyphicon-calendar"></span> {% trans "Due by" %}: {{ p.due_by }}
				</p>
				<p>
					{{ p.content|safe }}
				</p>
			</div>
			{% endfor %}
		</div>
		<div class="tab-pane member_tasks" id="close">
			{% for p in object.member_close_tasks %}
			<div class="task_devider">
				<p>
					<b>{{ p.title }}</b>
				</p>
				<p>
					<span class="glyphicon glyphicon-calendar"></span> {% trans "Due by" %}: {{ p.due_by }}
				</p>
				<p>
					{{ p.content|safe }}
				</p>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<div class="col-xs-12 col-md-4">
	<h3>{% trans "Summary of votes participation" %}</h3>
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#pro" data-toggle="tab" style="background: #a4cb53;">{% trans "Pro" %} ({{ object.member_proposal_pro_votes.count }})</a>
		</li>
		<li>
			<a href="#neutral" data-toggle="tab" style="background: #ffffff;">{% trans "Neutral" %} ({{ object.member_proposal_nut_votes.count }})</a>
		</li>
		<li>
			<a href="#con" data-toggle="tab" style="background: #d95e59;">{% trans "Con" %} ({{ object.member_proposal_con_votes.count }})</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="pro" style="background: #a4cb53;padding-bottom: 10px;">
			{% if object.member_proposal_pro_votes_accepted.count %}
			<p style="padding: 5px 15px 0 15px;">
				{% widthratio object.member_proposal_pro_votes_accepted.count object.member_proposal_pro_votes.count 100 %}%
				{% trans "of decisions voted for were accepted" %} ({{ object.member_proposal_pro_votes_accepted.count }})
			</p>
			{% for p in object.member_proposal_pro_votes %}
		  		<a style="display: block;margin: 0 5%;background: #fff;padding: 5px;" href="{{p.proposal.issue.get_absolute_url}}">{{p.proposal.issue.title}}</a>
				<ul class="prop-table proposals" style="margin: 0 auto 10px auto;width: 90%;">
				    <li class="drag-icon {% if p.proposal.type == 1 %}task-icon{% endif %}{% if p.proposal.type == 2 %}rule-icon{% endif %}{% if p.proposal.type == 3 %}general-icon{% endif %}"></li>
				    <li class="prop-title">{{p.proposal.title}}</li>
				    <li class="prop-content">
				        <p class="assign">
				        	{% trans "By:" %} {{ p.proposal.created_by }}. {{ p.proposal.created_at|date:"d/m/Y" }}
				        </p>
				    </li>
				   <li class="check_box {% if p.proposal.status == p.proposal.statuses.ACCEPTED %}checked{% endif %}{% if p.proposal.status == p.proposal.statuses.REJECTED %}rejected{% endif %}"></li>
				</ul>
			{% endfor %}
			{% endif %}
		</div>
		<div class="tab-pane" id="neutral" style="background: #ffffff;padding-bottom: 10px;">
			{% if object.member_proposal_nut_votes_accepted.count %}
			<p style="padding: 5px 15px 0 15px;">
				{% widthratio object.member_proposal_nut_votes_accepted.count object.member_proposal_nut_votes.count 100 %}%
				{% trans "of decisions didn't vote were accepted" %} ({{ object.member_proposal_nut_votes_accepted.count }})
			</p>
			{% for p in object.member_proposal_nut_votes %}
		  		<a style="display: block;margin: 0 5%;background: #fff;padding: 5px;" href="{{p.proposal.issue.get_absolute_url}}">{{p.proposal.issue.title}}</a>
				<ul class="prop-table proposals" style="margin: 0 auto 10px auto;width: 90%;">
				    <li class="drag-icon {% if p.proposal.type == 1 %}task-icon{% endif %}{% if p.proposal.type == 2 %}rule-icon{% endif %}{% if p.proposal.type == 3 %}general-icon{% endif %}"></li>
				    <li class="prop-title">{{p.proposal.title}}</li>
				    <li class="prop-content">
				        <p class="assign">
				        	{% trans "By:" %} {{ p.proposal.created_by }}. {{ p.proposal.created_at|date:"d/m/Y" }}
				        </p>
				    </li>
					<li class="check_box {% if p.proposal.status == p.proposal.statuses.ACCEPTED %}checked{% endif %}{% if p.proposal.status == p.proposal.statuses.REJECTED %}rejected{% endif %}"></li>
				</ul>
			{% endfor %}
			{% endif %}
		</div>
		<div class="tab-pane" id="con" style="background: #d95e59;padding-bottom: 10px;">
			{% if object.member_proposal_con_votes_accepted.count %}
			<p style="padding: 5px 15px 0 15px;">
				{% widthratio object.member_proposal_con_votes_accepted.count object.member_proposal_con_votes.count 100 %}%
				{% trans "of decisions voted against were rejected" %} ({{ object.member_proposal_con_votes_accepted.count }})
			</p>
			{% for p in object.member_proposal_con_votes %}
		  		<a style="display: block;margin: 0 5%;background: #fff;padding: 5px;" href="{{p.proposal.issue.get_absolute_url}}">{{p.proposal.issue.title}}</a>
				<ul class="prop-table proposals" style="margin: 0 auto 10px auto;width: 90%;">
				    <li class="drag-icon {% if p.proposal.type == 1 %}task-icon{% endif %}{% if p.proposal.type == 2 %}rule-icon{% endif %}{% if p.proposal.type == 3 %}general-icon{% endif %}"></li>
				    <li class="prop-title">{{p.proposal.title}}</li>
				    <li class="prop-content">
				        <p class="assign">
				        	{% trans "By:" %} {{ p.proposal.created_by }}. {{ p.proposal.created_at|date:"d/m/Y" }}
				        </p>
				    </li>
					<li class="check_box {% if p.proposal.status == p.proposal.statuses.ACCEPTED %}checked{% endif %}{% if p.proposal.status == p.proposal.statuses.REJECTED %}rejected{% endif %}"></li>
				</ul>
			{% endfor %}
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{STATIC_URL}}js/Chart.js"></script>
<script src="{{STATIC_URL}}js/_participantchart.js"></script>
<script>
	createChart(
		{{ object.meetings_participation }},
		{{ object.total_meetings|subtract:object.meetings_participation }}
	);
</script>
{% endblock %}
