{% extends "base.html" %}
{% load i18n %}

{% block extra-page-id %}
id="members-list"
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}

{% if object_list %}

<div>
	<h2>{% trans "Members" %}</h2>
	<ul class="list-group">
		{% for object in object_list %}
		<li class="list-group-item">
			<a href="{{ object.get_absolute_url }}" style="color: #333333;">
				{{ object.user.display_name }}
				({{ object.get_default_group_name_display }})
			</a>
		</li>
		{% endfor %}
	</ul>
</div>

{% else %}

<div>
	{% trans "No members." %}
</div>

{% endif %}

<div>
	<h2>{% trans "Invitations" %}</h2>
	<ul id="invitations" class="list-group">
		{% for object in invites %}
		{% include 'users/_invitation.html' %}
		{% endfor %}
		<li class="clearfix">
			<h2>{% trans "New invitation" %}</h2>
			<form method="post" id="invite-form">
				{% csrf_token %}
				{{form}}
				<input class="btn btn-oc" type="submit" value="{% trans "Invite" %}">
			</form>
		</li>
	</ul>
</div>

{% endblock %}

{% block scripts %}

<script src="{{STATIC_URL}}js/memberships.js"></script>

{% endblock %}
