{% extends "base.html" %}
{% load i18n voting_tags %}

{% block extra-page-id %}
id="member-profile"
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="col-xs-12 col-md-4">
	<h1>{{ object.user.display_name }}</h1>
	<p>
		{% trans "Position" %}: {% trans object.default_group_name %}
	</p>
	<p>
		{% trans "Serves since" %}: {{ object.created_at|date:"d F Y" }}
	</p>
	<p>
		{% trans "Email" %}: {{ object.user.email }}
	</p>
	<h2>{% trans "Meetings participation" %}</h2>
	<canvas class="pull-left" id="participationChart" height="40px" width="40px"></canvas>
	{% if object.total_meetings %}
		<p>{{ object.meetings_participation_percantage }}%<br />{{ object.meetings_participation }} {% trans "Out of" %} {{ object.total_meetings }}</p>
	{% endif %}
</div>
<div class="col-xs-12 col-md-4">
	<h2>{% trans "Tasks" %}</h2>
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#late" data-toggle="tab">{% trans "Late" %} ({{ object.member_late_tasks.count }})</a>
		</li>
		<li>
			<a href="#open" data-toggle="tab">{% trans "Open" %} ({{ object.member_open_tasks.count }})</a>
		</li>
		<li>
			<a href="#close" data-toggle="tab">{% trans "Close" %} ({{ object.member_close_tasks.count }})</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active member_tasks" id="late">
			{% for p in object.member_late_tasks %}
			<div class="task_devider">
				<p>
					<b>{{ p.title }}</b>
				</p>
				<p>
					<span class="glyphicon glyphicon-calendar"></span> {% trans "Due by" %}: {{ p.due_by }}
				</p>
				<p>
					{{ p.content|safe }}
				</p>
			</div>
			{% endfor %}
		</div>
		<div class="tab-pane member_tasks" id="open">
			{% for p in object.member_open_tasks %}
			<div class="task_devider">
				<p>
					<b>{{ p.title }}</b>
				</p>
				<p>
					<span class="glyphicon glyphicon-calendar"></span> {% trans "Due by" %}: {{ p.due_by }}
				</p>
				<p>
					{{ p.content|safe }}
				</p>
			</div>
			{% endfor %}
		</div>
		<div class="tab-pane member_tasks" id="close">
			{% for p in object.member_close_tasks %}
			<div class="task_devider">
				<p>
					<b>{{ p.title }}</b>
				</p>
				<p>
					<span class="glyphicon glyphicon-calendar"></span> {% trans "Due by" %}: {{ p.due_by }}
				</p>
				<p>
					{{ p.content|safe }}
				</p>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<div class="col-xs-12 col-md-4">
	<h2>{% trans "Summary of votes participation" %}</h2>
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#pro" data-toggle="tab" style="background: #a4cb53;">{% trans "For" %} ({{ object.member_votes_dict.pro|length }})</a>
		</li>
		<li>
			<a href="#neutral" data-toggle="tab" style="background: #ffffff;">{% trans "Abstain" %} ({{ object.member_votes_dict.neut|length }})</a>
		</li>
		<li>
			<a href="#con" data-toggle="tab" style="background: #d95e59;">{% trans "Against" %} ({{ object.member_votes_dict.con|length }})</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="pro" style="background: #a4cb53;padding: 10px;">
			<div class="tab-content-pro">
				{% if object.member_votes_dict.pro_count %}
				<p>
					{% widthratio object.member_proposal_pro_votes_accepted.count object.member_votes_dict.pro_count 100 %}%
					{% trans "of decisions voted for were accepted" %} ({{ object.member_proposal_pro_votes_accepted.count }})
				</p>
				{% for issue,proposals in object.member_votes_dict.pro.items %}
					<div class="member_proposals_outer">
			  		<a class="member_vote_part" href="{{issue.get_absolute_url}}">{{issue.title}}</a>
						<div class="member_proposals_inner">
							{% for p in proposals %}
							<ul class="prop-table proposals prop-pad">
							    <li class="drag-icon {% if p.type == 1 %}task-icon{% endif %}{% if p.type == 2 %}rule-icon{% endif %}{% if p.type == 3 %}general-icon{% endif %}"></li>
							    <a href="{{p.get_absolute_url}}" style="display: block;background: #fff;text-decoration: none;color: #6C6C6E;border-bottom: 1px solid #d8e0df;">
							    <li class="prop-title">{{p.title}}</li>
							    <li class="prop-content">
							        <p class="assign">
							        	{% trans "By:" %} {{ p.created_by }}. {{ p.created_at|date:"d/m/Y" }}
							        </p>
							    </li>
							    </a>
							   <li class="check_box {% if p.status == p.statuses.ACCEPTED %}checked{% endif %}{% if p.status == p.statuses.REJECTED %}rejected{% endif %}" style="background-color: #ffffff;border-bottom: 1px solid #d8e0df;"></li>
							</ul>
							{% endfor %}
						</div>
					</div>
				{% endfor %}
				{% endif %}
			</div>
		</div>
		<div class="tab-pane" id="neutral" style="background: #ffffff;padding: 10px;">
			<div class="tab-content-neutral">
				{% if object.member_votes_dict.neut_count %}
				<p>
					{% widthratio object.member_proposal_nut_votes_accepted.count object.member_votes_dict.neut_count 100 %}%
					{% trans "of decisions didn't vote were accepted" %} ({{ object.member_proposal_nut_votes_accepted.count }})
				</p>
				{% for issue,proposals in object.member_votes_dict.neut.items %}
				<div class="member_proposals_outer">
			  		<a class="member_vote_part" href="{{issue.get_absolute_url}}">{{issue.title}}</a>
					<div class="member_proposals_inner">
					{% for p in proposals %}
						<ul class="prop-table proposals prop-pad">
						    <li class="drag-icon {% if p.type == 1 %}task-icon{% endif %}{% if p.type == 2 %}rule-icon{% endif %}{% if p.type == 3 %}general-icon{% endif %}"></li>
						    <a href="{{p.get_absolute_url}}" style="display: block;background: #fff;text-decoration: none;color: #6C6C6E;border-bottom: 1px solid #d8e0df;">
						    <li class="prop-title">{{p.title}}</li>
						    <li class="prop-content">
						        <p class="assign">
						        	{% trans "By:" %} {{ p.created_by }}. {{ p.created_at|date:"d/m/Y" }}
						        </p>
						    </li>
						    </a>
							<li class="check_box {% if p.status == p.statuses.ACCEPTED %}checked{% endif %}{% if p.status == p.statuses.REJECTED %}rejected{% endif %}" style="background-color: #ffffff;border-bottom: 1px solid #d8e0df;"></li>
						</ul>
					{% endfor %}
					</div>
				</div>
				{% endfor %}
				{% endif %}
			</div>
		</div>
		<div class="tab-pane" id="con" style="background: #d95e59;padding: 10px;">
			<div class="tab-content-neutral">
				{% if object.member_votes_dict.con_count %}
				<p>
					{% widthratio object.member_proposal_con_votes_accepted.count object.member_votes_dict.con_count 100 %}%
					{% trans "of decisions voted against were rejected" %} ({{ object.member_proposal_con_votes_accepted.count }})
				</p>
				{% for issue,proposals in object.member_votes_dict.con.items %}
				<div class="member_proposals_outer">
			  		<a class="member_vote_part" href="{{issue.get_absolute_url}}">{{issue.title}}</a>
					<div class="member_proposals_inner">
					{% for p in proposals %}
					<ul class="prop-table proposals prop-pad">
					    <li class="drag-icon {% if p.type == 1 %}task-icon{% endif %}{% if p.type == 2 %}rule-icon{% endif %}{% if p.type == 3 %}general-icon{% endif %}"></li>
					    <a href="{{p.get_absolute_url}}" style="display: block;background: #fff;text-decoration: none;color: #6C6C6E;border-bottom: 1px solid #d8e0df;">
					    <li class="prop-title">{{p.title}}</li>
					    <li class="prop-content">
					        <p class="assign">
					        	{% trans "By:" %} {{ p.created_by }}. {{ p.created_at|date:"d/m/Y" }}
					        </p>
					    </li>
					    </a>
						<li class="check_box {% if p.status == p.statuses.ACCEPTED %}checked{% endif %}{% if p.status == p.statuses.REJECTED %}rejected{% endif %}" style="background-color: #ffffff;border-bottom: 1px solid #d8e0df;"></li>
					</ul>
					{% endfor %}
					</div>
				</div>
				{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{STATIC_URL}}js/Chart.js"></script>
<script src="{{STATIC_URL}}js/_participantchart.js"></script>
<script>
	createChart(
		{{ object.meetings_participation }},
		{{ object.total_meetings|subtract:object.meetings_participation }}
	);
</script>
{% endblock %}
