{% extends "dialog.html" %}
{% load i18n %}

{% block extra-page-id %}
    id="group-member-update"
{% endblock %}

{% block page_header %}
    {% trans "Group" %}
{% endblock %}

{% block content %}
    {% csrf_token %}
    {{ form }}
{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            $('#modal-form').on('shown.bs.modal', function (e) {
                var members = [];
                var groups = [];
                $('input[name="groups"]').prop('checked', false);
                $('.members-list-abc input:checked').each(function () {
                    members.push($(this).val());
                    var user_groups_list = $(this).data('groups');
                    $.each(user_groups_list, function (i, el) {
                        if ($.inArray(el, groups) === -1) groups.push(parseInt(el));
                    });
                });
                $('#id_members').val(members);
                $('input[name="groups"]').each(function () {
                    if ($.inArray(parseInt($(this).val()), groups) !== -1) $(this).prop('checked', true);
                })
            })
        });
    </script>

{% endblock %}
