{% extends "base.html" %}
{% load i18n %}

{% block title %}
	<title>
		{{ object_list.0.community.name }} - {% trans "Members" %}  
	</title>
{% endblock %}

{% block extra-page-id %}
id="members-list"
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}

{% if object_list %}

<div class="col-xs-12 col-sm-6">
	<h2>{{ board_name }}</h2>
	<ul class="list-group">
		{% for board in board_list %}
		<li class="list-group-item">
			<a href="{{ board.get_absolute_url }}" style="color: #333333;">
				{{ board.user.display_name }}
				({{ board.get_default_group_name_display }})<br />
				<span style="font-size: 12px;">{{ board.user.email }}</span>
			</a>
		</li>
		{% endfor %}
	</ul>
	<h2>{% trans "Members" %}</h2>
	<ul class="list-group">
		{% for member in member_list %}
		<li class="list-group-item">
			{# <a href="{{ member.get_absolute_url }}" style="color: #333333;"> #}
				{{ member.user.display_name }}
				({{ member.get_default_group_name_display }})<br />
				<span style="font-size: 12px;">{{ member.user.email }}</span>
			{# </a> #}
		</li>
		{% endfor %}
	</ul>
</div>

{% else %}

<div class="col-xs-12 col-sm-6">
	{% trans "No members." %}
</div>

{% endif %}

<div class="col-xs-12 col-sm-6">
  <ul id="invitations" class="list-group">
		<li class="clearfix">
			<h2>{% trans "New invitation" %}</h2>
			<form method="post" id="invite-form">
				{% csrf_token %}
				{{form}}
				<input class="btn btn-oc" type="submit" value="{% trans "Invite" %}">
			</form>
		</li>
        <h2{% if not invites.count %} class="hide" {% endif %}> {% trans "Invitations" %} </h2>
		{% for object in invites %}
		{% include 'users/_invitation.html' %}
		{% endfor %}
	</ul>
</div>

{% endblock %}

{% block scripts %}

<script src="{{STATIC_URL}}js/memberships.js"></script>

{% endblock %}
