{% extends "base.html" %}
{% load i18n %}

{% block page_header %}
    {% trans "Meetings" %}
{% endblock %}

{% block header-start %}
    <a href="#upcoming-panel" data-icon="bars" data-iconpos="notext" data-rel="popup"></a>
{% endblock %}

{% block header-end %}
    <a href="#issuespanel" data-icon="bars" data-iconpos="notext" data-rel="popup"></a>
{% endblock %}

{% block startpanel %}
    <div data-role="popup" id="upcoming-panel">
        <ul data-role="listview">
            <li data-icon="edit">
                <a href="{% url "upcoming_edit" community.id  %}">{% trans "Edit" %}</a>
            </li>
            <li>
                <a href="{% url "upcoming_publish" community.id  %}">{% trans "Publish" %}</a>
            </li>
        </ul>
    </div>

{% endblock %}

{% block endpanel %}
    {% include "_main_panel.html" %}
{% endblock %}


{% block content %}

<ul data-role="listview">
    {% for object in object_list %}
        <li>
            <a href="{{ object.get_absolute_url }}">
                {{ object.held_at }}
                {% if object.location %}
                    , {{ object.location }}
                {% endif %} 
            </a>
        </li>
    {% endfor %}
</ul>

{% endblock %}

{% block scripts %}

<script></script>

{% endblock %}
