{% extends "base.html" %}
{% load i18n %}

{% block breadcrumb %}
<li>
	<a href="../../..">{% trans "Communities" %}</a><span class="divider">/</span>
</li>
<li>
	<a href="../..">{{community.name}}</a><span class="divider">/</span>
</li>
<li>
	<a href="../">{% trans "Meetings" %}</a><span class="divider">/</span>
</li>
<li class="active">
	{{object.scheduled_at}}
</li>
{% endblock %}

{% block content %}

<div class="row">

	<div class="span6">

		<h2>{{object.scheduled_at}}</h2>

		<p class="lead">
			{{object.location}}
		</p>


		{% if object.comments %}
		<p>
			{{object.comments|linebreaksbr}}
		</p>
		{% endif %}

	</div>

	<div class="span6">
       <style scoped>
            .issues li[data-set="0"] i {visibility:hidden}
       </style>

		<h3>{% trans "Issues" %}</h3>
        {% if object.is_closed %}
            <p class="alert alert-success">
                {% trans "Agenda published at" %} {{object.closed_at}}
            </p>
        {% else %}
            <p class="alert alert-warn">
                {% trans "Agenda is not final" %}
            </p>
        {% endif %}
		<ul class="issues unstyled">
		        

    			{% for i in issues %}
    
    			<li data-issue="{{i.id}}" data-set="{{i.in_upcoming_meeting|yesno:'1,0'}}">
    			    <a href="#">
    			        
        				<i class="icon-ok"></i>
                        {{i.title}}
        			</a>
    			</li>
    
    			{% endfor %}

		</ul>
        <form method="post" action="close/">
            {% csrf_token %}
            <button>{% trans "Publish" %}</button>
        </form>
	</div>

</div>
{% endblock %}

{% block scripts %}
    <script src="{{STATIC_URL}}js/meeting.js"></script>
{% endblock %}
