{% extends "base.html" %}
{% load i18n %}

{% block extra-page-id %}
	id="meeting-list"
{% endblock %}

{% block page_header %}
    {% trans "Meetings" %}
{% endblock %}

{% block header-end %}
    <a href="#issuespanel" data-icon="bars" data-iconpos="notext" data-rel="popup"></a>
{% endblock %}

{% block endpanel %}
    {% include "_main_panel.html" %}
{% endblock %}


{% block content %}

    {% if object_list %}

        <ul data-role="listview">
            {% for object in object_list %}
                <li>
                    <a href="{{ object.get_absolute_url }}">
                        {% if object.title %}
                            {{object.title}} -
                        {% endif %}
                        {{ object.held_at }}
                        {% if object.location %}
                            , {{ object.location }}
                        {% endif %} 
                    </a>
                </li>
            {% endfor %}
        </ul>

    {% else %}

        <div class="ui-grid-solo">
            <div class="ui-block-a">
                <div class="ui-bar ui-bar-e">
                    {% trans "This community did not conduct any meeting yet." %}
                </div>
            </div>
        </div>

    {% endif %}


{% endblock %}

{% block scripts %}

{% endblock %}
