{% extends "base.html" %}
{% load i18n %}
{% load humanize %}


{% block breadcrumb %}
    <li>
        <a href="../../..">{% trans "Communities" %}</a><span class="divider">/</span>
    </li>
    <li>
        <a href="../..">{{community.name}}</a><span class="divider">/</span>
    </li>
    <li>
        <a href="../">{% trans "Meetings" %}</a><span class="divider">/</span>
    </li>
    <li class="active">
        {{object.held_at}}
    </li>
{% endblock %}

{% block content %}

<div class="row">

    <div class="span6">

        <h2>{{object.held_at|date:"DATETIME_FORMAT"}}</h2>

        <p class="lead">
            {{object.location}}
        </p>


        {% if object.comments %}
        <p>
            {{object.comments|linebreaksbr}}
        </p>
        {% endif %}

    </div>

    <div class="span6">
        <ul class="nav nav-tabs nav-stacked issues-list">
            {% for a in object.agenda_items.all %}
                <li>
                    <a href="{{ a.get_absolute_url }}">
                        {{ a.title }}
                        <span class="label">
                            {{ a.created_at|naturaltime}}
                        </span>
                        {% with proposals=a.accepted_proposals.count %}
                            {% if proposals %}
                                <span class="badge badge-success">
                                    {{ proposals}}
                                </span>
                            {% endif %}
                        {% endwith %}
                    </a>
                </li>
            {% endfor %}
        </ul>

    </div>

</div>
{% endblock %}

{% block scripts %}
{% endblock %}
