{% extends "dialog.html" %}
{% load i18n %}

{% block page_header %}
    {% trans "Close meeting" %}</a>
{% endblock %}

{% block content %}

    <div class="alerts">
        {% if no_participants %} 
            <p>{% trans 'No participants selected for meeting' %}!</p>
        {% endif %}
    </div>

    {% with community.issues_ready_to_close as issues %}
        {{ form }}
    {% endwith %}

     <div class="alerts">
        <p><b>{% trans "Please note, editing the meeting's information is not possible after close" %}!</b></p>
     </div>
{% endblock %}

{% block nofooter %}
<div class="modal-footer">
	<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#protocolPreview">
		{% trans "Preview protocol" %}
	</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
    <input type="submit" class="btn btn-oc" value="{% trans "Close meeting" %}">
	<div id="protocolPreview" class="collapse"></div>
</div>
{% endblock %}

{% block page_scripts %}
<script>
	$.ajax({
		url : "protocol-preview/",
		success : function(result) {
			$("#protocolPreview").html(result);
		}
	}); 
</script>
{% endblock %}
