{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load letter_tag %}

{% block extra-page-id %}
	id="meeting-detail"
{% endblock %}

{% block page_header %}
    {% trans "Meetings" %}
{% endblock %}

{% block header-start %}
    <a href="#meeting-panel" data-icon="bars" data-iconpos="notext" data-rel="popup"></a>
{% endblock %}

{% block header-end %}
    <a href="#issuespanel" data-icon="bars" data-iconpos="notext"  data-rel="popup"></a>
{% endblock %}

{% block startpanel %}
    <div data-role="popup" id="meeting-panel">
        <ul data-role="listview">
            <li>
                <a href="#">{% trans "Share Link" %}</a>
            </li>
        </ul>
    </div>

{% endblock %}

{% block endpanel %}
    {% include "_main_panel.html" %}
{% endblock %}

{% block content %}

<div class="row">

    <div class="span6">

    <div class="ui-grid-solo">
        <div class="ui-block-a">
            <div class="ui-bar meeting-header">
                <a href="#meetings" data-rel="dialog" data-theme="a" 
                 data-icon="arrow-d" data-iconpos="right" class="select-meeting">
                	<p>פגישה מספר {{object.id}}<br />
                    {{object.held_at|date:"m/Y"}}</p>
                </a>
                <a href="#participants" data-rel="dialog" data-theme="a" 
                 data-icon="arrow-d" data-iconpos="right" class="show-participants">
                    <div class="users">
                    	<p>{{total_participants}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

{% comment %}
  <!--------- Boaz said to remove to different page -----------------------
      {% if object.location %}
          <div data-role="collapsible" data-collapsed="false"
              data-theme="c" data-content-theme="d" data-mini="true">
              <h4>{% trans "Meeting Details" %}</h4>
      
              <p>
                  
                      <b>{% trans "Location" %}:</b>
                      {{object.location|default:_("Not set yet")}}
                  
              </p>
          </div>
      {% endif %}
  
      {% if object.comments %}
          <div data-role="collapsible" data-collapsed="false"
              data-theme="c" data-content-theme="d" data-mini="true">
  
              <h4>{% trans "Comments" %}</h4>
  
              <p>
                  {{object.comments|linebreaksbr}}
              </p>
          </div>
      {% endif %}
  ----------------------- End of stuff to remove -------------------------->
  
    {% endcomment %}
    {% if object.summary %}
        <div data-role="collapsible" data-collapsed="false"
            data-theme="b" data-content-theme="d" data-corners="false">
    
            <!--h4>{% trans "Summary" %}</h4-->
            <p class="summary">
                {{object.summary|linebreaksbr}}
            </p>
        </div>
    {% endif %}

        {% for a in object.agenda.all %}

                <ul class="agenda_itemlist" data-role="listview" data-inset="true">
                    <li class="agenda" data-theme="b">
                    <a href="{{ a.issue.get_absolute_url }}">
                        <div class="agenda_list">{{ forloop.counter }}</div>&nbsp;&nbsp;{{ a.issue.title }}
                    </a>
                    </li>
                    {% if a.closed %}
                        {% for p in a.issue.accepted_proposals %}
                            <li class="sub_agenda">
                                <a class="agenda_items" href="{{p.get_absolute_url}}">
                                    <div class="letter_count num{{ forloop.counter }}">{{ forloop.counter|to_char }}</div>
                                    <p>{# {{p.get_type_display}}: #} <b>{{p.title}}</b></p>
                                    <br />
                                    <p>{{p.content}}</p>
                                </a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="sub_agenda">
                            <a class="agenda_items" href="#">
                                <div class="letter_count num{{ forloop.counter }}">*</div>
                                <p><b>{% trans "Undecided" %}</b></p>
                            </a>
                        </li>
                    {% endif %}
                </ul>

        {% endfor %}


    </div>

</div>
{% endblock %}

{% block dialogs %}
    <div data-role="dialog" id="meetings">
        <div data-role="header">
            <h2>{% trans "Meetings" %}</h2>
        </div>
        <div data-role="content">
            <ul data-role="listview">
                {% for m in community.meetings.all %}
                    <li><a href="{{m.get_absolute_url}}">{{m}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div data-role="dialog" id="participants">
        <div data-role="header">
            <h2>{% trans "Participants" %}</h2>
        </div>
        <div data-role="content">
            <ul data-role="listview">
                {% for p in object.participations.all %}
                    <li>
                        {{p.display_name}}
                        {% if p.default_group_name %}
                            ({{p.get_default_group_name_display}})
                        {% endif %}
                    </li>
                {% endfor %}

                {% for g in guest_list %}
                    <li>
                        {{g}}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
$(function(){
    $('#meeting-selector').change(function() {
        
    })
})
</script>

{% endblock %}
