{% extends "dialog.html" %}
{% load i18n %}

{% block page_header %}
    {% trans "Close meeting" %}</a>
{% endblock %}

{% block content %}

    {% with community.issues_ready_to_close as issues %}

        {% if not issues %}
            <div>
                {% trans "No decisions were made in this meeting."%}
            </div>
        {% endif %}

        {{ form }}

    {% endwith %}

{% endblock %}

{% block nofooter %}
<div class="modal-footer">
	<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#protocolPreview">
		{% trans "Preview protocol" %}
	</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
    <input type="submit" class="btn btn-oc" value="{% trans "Close meeting" %}">
	<div id="protocolPreview" class="collapse"></div>
</div>
{% endblock %}

{% block page_scripts %}
<script>
	$.ajax({
		url : "upcoming/publish/preview/",
		success : function(result) {
			$("#protocolPreview").html(result);
		}
	}); 
</script>
{% endblock %}
