{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
    <li>
        <a href="../../..">{% trans "Communities" %}</a><span class="divider">/</span>
    </li>
    <li>
        <a href="../..">{{community.name}}</a><span class="divider">/</span>
    </li>
    <li>
        <a href="..">{% trans "Upcoming Meeting" %}</a><span class="divider">/</span>
    </li>
    <li>
        {% trans "Close meeting" %}</a>
    </li>
{% endblock %}

{% block content %}

    <div class="row">

        <div class="span6">
            
            {% with community.issues_ready_to_close as issues %}
    
                {% if issues %}
                    
                    <h3>{% trans "Decisions" %}</h3>
                    <ul class="unstyled">
                        {% for i in issues %}
                            <li>
                                <b>{{i.title}}</b>
                                <ul>
                                    {% for p in i.accepted_proposals %}
                                        <li>
                                            {{p.title}}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>

                        {% endfor %}
                    </ul>

                    <hr/>

                    {% crispy form %}
                {% else %}
                    <div class="alert alert-warning">
                        {% trans "No decisions were made in this meeting."%}
                    </div>
                {% endif %}

            {% endwith %}

        </div>

    </div>
{% endblock %}

{% block extrahead %}
    <link href="{{ STATIC_URL }}jquery-ui/css/ui-lightness/jquery-ui-1.10.2.custom.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="{{STATIC_URL}}jquery-ui/js/jquery-ui-1.10.2.custom.js"></script>
    <script src="{{STATIC_URL}}js/syncme.js"></script>
    <script src="{{STATIC_URL}}js/meeting.js"></script>
    <script>
    $(function(){
        $('#id_summary').syncMe();
    });
    </script>
{% endblock %}
