{% extends 'base.html' %}

{% load i18n highlight %}

{% block extrahead %}
    <link href="{{ STATIC_URL }}search/results_page.css" rel="stylesheet">
{% endblock %}

{% block page_header %} {% trans "Search" %} {% endblock %}

{% block content %}
    <form method="get" action=".">
        <table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>
		
    <ul class="nav nav-tabs">
      <li class="active"><a href="#" data-toggle="tab">{% trans "All" %}</a></li>
      <li><a href="?q={{ query }}&amp;models=issues.issue" data-toggle="tab">{% trans "Issues" %}</a></li>
      <li><a href="?q={{ query }}&amp;models=issues.proposal" data-toggle="tab">{% trans "Proposals" %}</a></li>
    </ul>

        {% if query %}
            <h3>{% trans "Results" %}</h3>

            {% for result in page.object_list %}
                {{ result.verbose_name }}
                <p>
                    {# <a href="{{ result.object.get_absolute_url }}">{% highlight result.title with query css_class "highlighted_result" html_tag "span" %}</a> #}
                    <a href="{{ result.object.get_absolute_url }}">{{  result.title }}</a>
                </p>
                <p>
                {% with result.text|striptags as stripped_result_text %}
                    {% highlight stripped_result_text with query css_class "highlighted_result" html_tag "span" %}
                {% endwith %}
                </p>
            {% empty %}
                <p>{% trans "No results found." %}</p>
            {% endfor %}
            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; {% trans "Previous" %}{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}{% trans "Next" %} &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}
