.ctr {
    text-align: center;
}

.push {
    float:left;
}

.push .ui-btn {
    margin: 0 3px 0 0;
}

.narrow {
    max-width: 300px;
    margin: 1.5em auto;
}


.notice {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    margin: 1em 2em;
    background: #FFF3A5;
    border: 2px solid #777;
    padding: 1em 2em;
}


.issue.loading {
    opacity: 0.5 !important;
}

.issue.loading .ui-btn-inner .ui-btn-inner {
    visibility: hidden;
}

.issuecomments .form-actions {
    max-width: 100px;
    margin: -0.5em auto -1em auto;
}

#agenda {
    position:relative;
    margin: -9px;
}

#agenda a {
    -webkit-touch-callout: none;
}

/*#available-agenda li .grab,*/
#agenda li .grab {
    width: 25px;
    height: 30px;
    background: url('images/drag-handle.png') center no-repeat;
    float: right;
    padding: 8px 8px 4px 8px;
}

li .timer {
    display: none;
}

#agenda li .timer {
    display: block;
    float: left;
    padding: 2px 8px 2px 8px;
    margin: 8px 0 0 45px;
    background: transparent;
    text-shadow: none;
    color: #fff;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    font-size: 14px;
    font-weight: bold;
/*    border: #888 1px solid;*/
}
#agenda li .ui-btn-inner.ui-li-has-alt a.ui-link-inherit {
	padding-left: 0;
	padding-right: 0;
}
#agenda .completed {
	margin-right: 0;
	margin-left: 0;
	position: relative;
	top: 3px;
/*    margin-right: -15px;
    margin-left: 3px;*/
}

#agenda .completed img {
}

#available .completed {
    display: none;
}

.loader {
    display:none;
}

.loading .loader {
    display:inline;
}


.form-popup form {
    padding: 10px;
    overflow: auto;
    max-height: 80%;
}

.form-popup .close-dialog {
    margin: 0 5px;
}

.ui-field-contain {
    margin: 0.2em 0 0.8em;
}

.form-popup .ui-field-contain label.ui-input-text {
    font-weight: bold;
    width: auto;
}

/*body {
    font-family: "Alef", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}*/
.ui-body-c, .ui-overlay-c {
    background: url("images/background.jpg") repeat;
}

.table-inner {
	padding: 15px;
}

table.meeting-table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #ceced0;
	margin-bottom: 15px;
}
table.issue-detail-table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 2px;
}

.meeting-table thead tr th {
    font-weight: normal;
    color: #fff;
    text-decoration: none;
	padding: 5px 0;
}

.meeting-table thead tr th.head_title {
	font-size: 18px;
	padding-left: 30px;
	padding-right: 10px;
	background: url(images/arrow-left.png) #448698 no-repeat 10px 50%;
	word-break: break-all;
}
.issue-detail-table tr td.title {
	font-size: 24px;
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	background: #448698;
	text-shadow: none;
	font-weight: bold;
	word-break: break-all;
}
.issue-detail-table tr td.name {
	text-shadow: none;
	font-size: 15px;
	color: #fff;
	padding: 0 10px 5px 10px;
	background: #448698;
}

.meeting-table tbody tr td.body_title {
	padding-top: 10px;
}

.meeting-table tbody tr td {
	padding-right: 25px;
}

.meeting-table tbody tr td a.ui-link p {
	margin: 0;
}

.meeting-table tbody tr td a.ui-link {
	text-decoration: none;
	font-size: 15px;
	color: #6c6c6e !important;
	display: block;
	font-weight: normal;
	max-height: 2.6em;
	overflow: hidden;
}

.meeting-table tbody tr td.body_title a.ui-link {
	max-height: 18px;
	overflow: hidden;
}

.meeting-table thead tr th a {
    font-weight: normal !important;
    color: #fff !important;
    text-decoration: none !important;
    display: block;
    max-height: 2.6em;
	overflow: hidden;
}

.meeting-table thead tr th.count {
    font-size: 30px;
    background: #3d3c3c;
    width: 38px;
	text-align: center;
}

.issue-detail-table tr td.icon {
    font-size: 30px;
    background: url(images/thumbup.png) no-repeat center #3d3c3c;
    width: 45px;
	text-align: center;
}

.meeting-table tbody tr td.sub_count {
    font-size: 30px;
    width: 38px;
	text-align: center;
	background: #cacccd;
	padding: 0;
}

.meeting-table tbody {
	background: #fff;
}

.meeting-table tbody tr.table_divider {
	border-bottom: 1px solid #ceced0;
}

.meeting-table tbody tr.table_divider td {
	padding-bottom: 10px;
}

.meeting-table tbody tr:last-child.table_divider {
	border-bottom: 0;
}

.meeting-table tbody tr td.sub_count.num2,
.meeting-table tbody tr td.sub_count.num4,
.meeting-table tbody tr td.sub_count.num6,
.meeting-table tbody tr td.sub_count.num8 {
	background: #dcddde;
}

.meeting-table thead tr td a {
    font-weight: normal !important;
    color: #3d3c3c !important;
    text-decoration: none !important;
    display: block;
}

.ui-btn-up-b .agenda_list {
    display: inline-block;
    font-weight: normal;
    font-size: 30px;
    color: #fff;
    text-shadow: none;
    padding: 5px 0;
    width: 38px;
    text-align: center;
    border-right: 1px solid #3d3c3c;
    border-left: 1px solid #3d3c3c;
}

.ui-btn-hover-b .agenda_list {
    display: inline-block;
    font-weight: normal;
    font-size: 30px;
    color: #fff;
    text-shadow: none;
    background: #3d3c3c;
    padding: 5px 0;
    width: 38px;
    text-align: center;
    border-right: 1px solid #3d3c3c;
    border-left: 1px solid #3d3c3c;
}
/* Left arrow for list item */
li.agenda.ui-li a.ui-link-inherit {
    padding: 0 0 0 40px;
    background: url(images/arrow-left.png) no-repeat 2% 50%;
    font-size: 18px;
}
#issue-list li a.ui-link-inherit,
#community-list li a.ui-link-inherit,
#issue-detail li a.ui-link-inherit,
#meetings li a.ui-link-inherit,
#participants li a.ui-link-inherit,
#meeting-list li a.ui-link-inherit {
    background: url(images/arrow-left.png) no-repeat 2% 50%;
}

#community-list li a.ui-link-inherit {
    margin-right: 20px;
}


/* End Left arrow for list item */
.ui-listview {
    border-radius: 0;
}
.ui-listview-inset .ui-li {
    border-width: 0;
}
.ui-li .ui-btn-inner a.ui-link-inherit, 
.ui-li-static.ui-li {
}
.ui-li .ui-btn-inner a.agenda_items.ui-link-inherit {
    padding-right: 0;
}
.letter_count {
    float: right;
    padding: .5em 0;
    background: #cacccd;
    color: #3d3c3c;
    width: 38px;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    border-left: 1px solid #ceced0;
}
.letter_count.num2,
.letter_count.num4,
.letter_count.num6,
.letter_count.num8 {
	background: #dcddde;
}
.agenda_items {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
#main_header.ui-bar-a {
    background-image: url(images/title_bg.png);

}
#main_header a.ui-btn-icon-notext {
	width: 32px;
	height: 32px;
}
#main_header .ui-bar-a .ui-shadow, .ui-bar-b .ui-shadow, .ui-bar-c .ui-shadow,
#main_header span.ui-shadow,
#main_header span.ui-icon-shadow,
#main_header.ui-bar-a .ui-shadow {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#community-list a.ui-btn-left span.ui-icon,
#meeting-list a.ui-btn-left span.ui-icon,
#issue-list a.ui-btn-left span.ui-icon,
#issue-detail a.ui-btn-left span.ui-icon,
#proposal-detail a.ui-btn-left span.ui-icon,
#issue-create a.ui-btn-left span.ui-icon,
#members-list a.ui-btn-left span.ui-icon,
#upcoming-meeting a.ui-btn-left span.ui-icon,
#meeting-detail a.ui-btn-left span.ui-icon {

	background: none;
	-webkit-border-radius: none;
	border-radius: none;
}
#meeting-detail a.ui-btn-right span.ui-icon,
#issue-detail a.ui-btn-right span.ui-icon,
#proposal-detail a.ui-btn-right span.ui-icon,
#upcoming-meeting a.ui-btn-right span.ui-icon,
#issue-list a.ui-btn-right span.ui-icon {
	background: none;
	-webkit-border-radius: none;
	border-radius: none;
}
#upcoming-meeting .ui-btn-right.ui-btn-hover-a,
#meeting-detail .ui-btn-right.ui-btn-up-a {
	border: 0;
	background: url(images/right_action.png) no-repeat left center transparent;
	text-shadow: none;
}
#upcoming-meeting .ui-btn-right.ui-btn-up-a,
#meeting-detail .ui-btn-right.ui-btn-hover-a {
	border: 0;
	background: url(images/right_action.png) no-repeat left center transparent;
	text-shadow: none;
}
#issue-detail .ui-btn-right.ui-btn-up-a,
#proposal-detail .ui-btn-right.ui-btn-up-a {
	border: 0;
	background: url(images/edit_action.png) no-repeat left center transparent;
	text-shadow: none;
}
#issue-detail .ui-btn-right.ui-btn-hover-a,
#proposal-detail .ui-btn-right.ui-btn-hover-a {
	border: 0;
	background: url(images/edit_action.png) no-repeat left center transparent;
	text-shadow: none;
}
#issue-list .ui-btn-right.ui-btn-up-a {
	border: 0;
	background: url(images/plus_action.png) no-repeat left center transparent;
	text-shadow: none;
}
#issue-list .ui-btn-right.ui-btn-hover-a {
	border: 0;
	background: url(images/plus_action.png) no-repeat left center transparent;
	text-shadow: none;
}
#meeting-list a.ui-btn-right,
#members-list a.ui-btn-right,
#create-proposal a.ui-btn-right,
#login-page a.ui-btn-right,
#login-page a.ui-btn-left,
#issue-create a.ui-btn-right {
	display: none;
}
#meeting-list a.ui-link-inherit {
    padding-right: 1em;
}

#community-list .ui-btn-left.ui-btn-up-a,
#meeting-detail .ui-btn-left.ui-btn-up-a,
#issue-list .ui-btn-left.ui-btn-up-a,
#upcoming-meeting .ui-btn-left.ui-btn-up-a,
#meeting-list .ui-btn-left.ui-btn-up-a {
	border: 0;
	background: url(images/left_action.png) no-repeat right center transparent;
	text-shadow: none;
}
#community-list .ui-btn-left.ui-btn-hover-a,
#meeting-detail .ui-btn-left.ui-btn-hover-a,
#issue-list .ui-btn-left.ui-btn-hover-a,
#upcoming-meeting .ui-btn-left.ui-btn-hover-a,
#meeting-list .ui-btn-left.ui-btn-hover-a {
	border: 0;
	background: url(images/left_action.png) no-repeat right center transparent;
	text-shadow: none;
}
#issue-detail .ui-btn-left.ui-btn-up-a,
#proposal-detail .ui-btn-left.ui-btn-up-a,
#members-list .ui-btn-left.ui-btn-up-a,
#issue-create .ui-btn-left.ui-btn-up-a {
	border: 0;
	background: url(images/left_arrow_action.png) no-repeat right center transparent;
	text-shadow: none;
}
#issue-detail .ui-btn-left.ui-btn-hover-a,
#proposal-detail .ui-btn-left.ui-btn-hover-a,
#members-list .ui-btn-left.ui-btn-hover-a,
#issue-create .ui-btn-left.ui-btn-hover-a {
	border: 0;
	background: url(images/left_arrow_action.png) no-repeat right center transparent;
	text-shadow: none;
}
#main_header a.ui-btn-corner-all {
	-webkit-border-radius: 0;
	border-radius: 0;
}
#main_header span.ui-btn-inner span.ui-icon {
	width: 32px;
	height: 32px;
	background-color: transparent;
}
#main_header span.ui-btn-inner span.ui-icon-bars {
	background-position: 0;
}
#main_header span.ui-btn-inner {
	border: 0;
}
#main_header.ui-bar-a {
    border-bottom: 0;
}
.ui-btn-hover-a {
    border: 0;
    background: transparent;
    text-shadow: none;
    background-image: none;
}
#meeting-detail .ui-content {
    padding: 0 0 15px 0;
}
.ui-content ul.content_fix.ui-listview {
    margin: 0;
}
form.ui-listview-filter {
    margin: 0;
}
.ui-grid-solo .ui-bar, .ui-body {
    padding: 0;
}
.ui-grid-solo .ui-btn {
    margin: 0;
}
.ui-grid-solo .ui-btn-corner-all {
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-grid-solo .ui-btn {
    text-align: right;
}
.ui-btn-up-a {
    border: 0;
    border-top: 1px solid #555555;
    background: #194e5c;
    text-shadow: none;
    background-image: none;
    -webkit-border-radius: .5em;
	border-radius: .5em;
}
.ui-btn-hover-a {
    border: 0;
    border-top: 1px solid #555555;
    background: #194e5c;
    background-image: none;
    -webkit-border-radius: .5em;
	border-radius: .5em;
}
.select-meeting .ui-btn-inner {
    border-top: 1px solid #555555;
}
.select-meeting {
    float:right;
    height:68px;
    width:70%
}
.meeting-header a.select-meeting p {
	overflow: hidden;
	text-overflow: ellipsis;
}
.select-meeting .ui-btn-inner {
    padding-right: 25%;
    padding-bottom: 6px;
    background: url(images/date-grid-icon.png) no-repeat 92% 50%;
    border-left: 1px dashed #8f9698;
    padding-left: 2%;
}
.show-participants {
    float: right;
    width:30%;
    height:100%;
}
a.show-participants span.ui-btn-inner {
	padding-right: .6em;
	padding-left: 0;
	border-top-color: #194e5c;
}
div.users {
/*    float: right;
    width: 100%;*/
    height: 48px;
    background: url(images/users.png) no-repeat right 50%;
    padding: 0 50% 0 0;
}
.ui-grid-solo .ui-btn-icon-right > .ui-btn-inner > .ui-btn-text div.users span {
/*    width: auto;*/
    font-size: 24px;
    border-left: 0;
    line-height: 43px;
}
.ui-grid-solo .ui-btn-icon-right > .ui-btn-inner > .ui-icon {
    background: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-grid-solo .ui-btn-icon-right > .ui-btn-inner > .ui-icon-shadow {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.ui-grid-solo .ui-btn-icon-right > .ui-btn-inner > .ui-icon-arrow-d {
    background-position: 0;
}
.ui-grid-solo .ui-btn-icon-right > .ui-btn-inner > .ui-btn-text p {
    margin: 0;
    width: 100%;
    float: right;
    font-size: 18px;
    font-weight: normal;
}
.ui-collapsible-inset {
    margin-top: 0;
}
.ui-collapsible-content {
    padding: 15px;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #dddedf /*{a-bar-background-start}*/), to( #fcfcfc /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #dddedf /*{a-bar-background-start}*/, #fcfcfc /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #dddedf /*{a-bar-background-start}*/, #fcfcfc /*{a-bar-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #dddedf /*{a-bar-background-start}*/, #fcfcfc /*{a-bar-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #dddedf /*{a-bar-background-start}*/, #fcfcfc /*{a-bar-background-end}*/); /* Opera 11.10+ */
    background-image: linear-gradient( rgb(221, 222, 223) /*{a-bar-background-start}*/, #fcfcfc /*{a-bar-background-end}*/);
}
.ui-collapsible-inset .ui-collapsible-content {
    border-left: 0;
    border-right: 0;
}
li.agenda .ui-icon-arrow-l {
    background-position: 0;
}
li.agenda .ui-icon {
    background: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}
li.agenda .ui-icon-shadow {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.agenda_items p {
    display: inline-block;
    max-height: 3em;
    max-width: 81%;
    font-size: 15px;
    padding-right: 25px;
    margin-top: .6em;
    color: #6c6c6e;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.agenda_items p:last-child {
	margin-top: 0;
}

li.sub_agenda .ui-icon {
    display: none;
}
p.summary {
    margin: 0;
    max-height: 4em;
    font-size: 15px;
    overflow: hidden;
/*  white-space: nowrap;*/
    text-overflow: ellipsis;
/* Not working .... */
}
ul.agenda_itemlist.ui-listview-inset {
    margin: 1em;
}
li.sub_agenda.ui-li {
    border-top: 1px solid #ceced0;
    border-right: 1px solid #ceced0;
    border-left: 1px solid #ceced0;
}
li.sub_agenda.ui-li:last-child {
    border-bottom: 1px solid #b4b4b6;
}
ul.agenda_itemlist.ui-shadow {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
li.sub_agenda.ui-btn-up-c {
    text-shadow: none;
    background: #fff;
    background-image: none;
}
li.sub_agenda.ui-btn-hover-c {
    text-shadow: none;
    background: #fff;
    background-image: none;
}
ul.community_home.ui-listview {
    margin: .4em 0 0 0;
}
#main_header.ui-header h1.ui-title {
    margin: .6em 15% .8em;
}
ul.community_home.ui-listview a.ui-link-inherit,
ul.content_fix .ui-li .ui-btn-inner a.ui-link-inherit {
    padding-right: 1em;
}
body.ui-mobile-viewport.ui-overlay-c .ui-page {
    padding-top: 45px !important;
}
.h1top {
    color: #76ddf9;
}
#meeting-panel-screen.ui-popup-screen.in {
	opacity: 0;
	filter: Alpha(Opacity=0);
}
#meeting-panel-popup.ui-popup-container.slidedown.in.ui-popup-active {
	top: 3.5em !important;
	right: 0;
	
}
#meeting-panel.ui-popup.ui-overlay-shadow.ui-corner-all.ui-body-c {
	border: 0;
}
#meeting-panel-popup a.ui-link-inherit {
	color: #fff;
	font-weight: normal;
	padding-right: 10px;
	padding-left: 30px;
	overflow: visible;
}
#meeting-panel-popup li.ui-btn-up-c,
#meeting-panel-popup li.ui-btn-hover-c {
	background: #3d3c3c;
	background-image: none;
	border-color: #666;
}
#community-list a.ui-btn-right,
#meeting-panel-popup span.ui-icon.ui-icon-arrow-l.ui-icon-shadow {
	display: none;
}
#upcoming-meeting .ui-content,
#community-list .ui-content,
#issue-detail .ui-content,
#proposal-detail .ui-content,
#issue-list .ui-content {
	padding: 0;
}
#issue-detail .ui-content {
	overflow: hidden;
}
#members-list .ui-content {
	padding: 15px;
}
#issue-detail .ui-li-icon {
	position: relative;
	top: auto;
	float: left;
	margin-right: 10px;
}
#issue-detail img.ui-li-icon {
	position: absolute;
	top: 40%;
	float: none;
	margin: 0;
}
.page_title {
	font-size: 30px;
	text-align: center;
	color: #4a4949;
	padding: 5px 0;
	font-weight: bold;
}
span.search {
	font-size: 18px;
	font-weight: bold;
	float: right;
	height: 27px;
	padding: 10px 0;
	margin-right: 1em;
}
#issue-list form.ui-bar-c {
	background: transparent;
	margin-left: 1em;
}
#issue-list form .ui-input-search.ui-body-c {
	background: #ffffff;
}
#issue-list form .ui-input-search.ui-icon-searchfield:after {
	left: 7px;
	right: auto;
}
#issue-list form .ui-input-clear {
	left: auto;
	right: 0;
}
#issue-list form .ui-input-search {
	padding-right: 35px;
}
#issue-list form .ui-input-search input.ui-input-text {
	padding: .3em 0;
	font-size: 18px;
	font-weight: normal;
}
#issue-list form .ui-input-search input::-webkit-input-placeholder {
	color: #000000;
}
.ui-content ul.content_in {
	margin: 1em;
}
#issue-list ul.content_in li span.ui-icon {
	display: none;
}
table.issue-table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 2px;
	min-height: 49px;
}

.issue_date {
	width: 42px;
	padding: 10px;
	font-weight: normal;
	color: #ffffff;
	background: #3d3c3c;
	text-align: center;
	text-shadow: none;
}
.issue_title {
	overflow: hidden;
	max-height: 3em;
	background: #448698;
	white-space: normal;
}
.issue-table tbody tr td.issue_title {
	padding: 10px 10px 10px 30px;
	background: url(images/arrow-left.png) #448698 no-repeat 10px 50%;
	word-break: break-all;
}
.issue-table tbody tr td.issue_title a.ui-link {
/*	line-height: 20px;*/
}
.issue-table tbody tr td a.ui-link {
	text-decoration: none;
	text-shadow: none;
	color: #fff !important;
	font-size: 18px;
	font-weight: normal;
	display: block;
	max-height: 2em;
	overflow: hidden;
	line-height: 1;
}
#issue-list ul.content_in li {
	border: 0;
	margin-bottom: .1em;
	background: #448698;
}
#issue-list ul.content_in .ui-li {
	border-top: 0;
}
#issue-list ul.content_in a.ui-link-inherit {
	padding: .2em 15px;
}
/* Hide existing left icon to go next */
#issuespanel li span.ui-icon,
#meeting-list li span.ui-icon,
#issue-detail li span.ui-icon,
#meetings li span.ui-icon,
#participants li span.ui-icon,
#community-list li span.ui-icon {
	display: none;
}
/* End Hide existing left icon to go next */
#meeting-list .ui-content {
	padding: 0 15px 15px 15px;
}
#meeting-list .ui-content ul.ui-listview {
	margin-top: 10px;
}
/* li items */
#meeting-list .ui-content ul.ui-listview li,
#agenda-container ul.ui-listview li,
#available-agenda ul.ui-listview li,
#issue-detail .ui-content .issue_proposal ul.ui-listview li,
#community-list .ui-content ul.ui-listview li {
	border: 0;
	margin-bottom: .1em;
	background: #448698;
	margin-right: 10px;
	margin-left: 10px;
}
#issue-detail .ui-content ul.ui-listview li {
	border: 0;
	margin-bottom: .1em;
	background: #fff;
	margin-right: 10px;
	margin-left: 10px;
}
span.comment-inner {
	color: #333;
	text-shadow: none;
	font-weight: normal;
	font-size: 13px;
}

span.comment-inner blockquote {
	color: #333;
	text-shadow: none;
	font-weight: normal;
}
#meeting-list .ui-content ul.ui-listview a.ui-link-inherit,
#agenda-container ul.ui-listview a.ui-link-inherit,
#available-agenda ul.ui-listview a.ui-link-inherit,
#issue-detail .ui-content ul.ui-listview a.ui-link-inherit,
#community-list .ui-content ul.ui-listview a.ui-link-inherit {
	color: #fff;
	text-shadow: none;
	font-weight: normal;
}
/* End li items */
p.sub-title {
	text-align: center;
	font-weight: bold;
	font-size: 18pt;
	margin-top: 0;
	margin-bottom: 5px;
}
#issue-detail .ui-content p.sub-title {
/*	text-align: right;
	margin-right: 15px;*/
}
#issue-detail .ui-content .issuecomments h4 {
	margin-right: 15px;
}
#issue-complete .narrow .ui-btn-up-b,
#issue-complete .narrow .ui-btn-hover-b {
	border: 0;
	border-top: 1px solid #555555;
	background: #194e5c;
	text-shadow: none;
	background-image: none;
	-webkit-border-radius: .5em;
	border-radius: .5em;
}
#upcoming-meeting .meeting-info,
#proposal-detail .proposal-info,
#issue-detail .proposal-info {
	padding: 15px;
	border-top: 1px solid #d8d8d9;
	border-bottom: 1px solid #d8d8d9;
	background: #fcfcfc;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #e7e7e8 ), to( #fcfcfc )); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( top, #e7e7e8 , #fcfcfc ); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( top, #e7e7e8 , #fcfcfc ); /* FF3.6 */
    background-image:     -ms-linear-gradient( top, #e7e7e8 , #fcfcfc ); /* IE10 */
    background-image:      -o-linear-gradient( top, #e7e7e8 , #fcfcfc ); /* Opera 11.10+ */
    background-image: linear-gradient( top, rgb(231, 231, 232) , #fcfcfc );
}
#proposal-detail .proposal-info p {
	word-break: break-all;
}
.proposal-info.no-margin p,
#meeting-detail .no-margin p {margin:0}
#upcoming-meeting .meeting-info p {
	margin: 0;
	font-size: 12pt;
}
.proposal-info.no-margin p a.ui-link {
	word-break: break-all;
}
#upcoming-meeting .meeting-info p span {
	font-size: 12pt;
}
#agenda-container.agenda-list,
.issue_proposal,
#available-agenda.agenda-list {
	margin: 5px 15px 15px 15px;
}
#agenda-container.agenda-list h4,
#members-list h4,
#issue-detail h4,
#proposal-detail .proposal h4,
#available-agenda.agenda-list h4 {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 18pt;
	font-weight: bold;
	word-break: break-all;
}
#proposal-detail .proposal h4.abstract {
	margin-left: 15px;
}
#proposal-detail .proposal h4.assihned_to {
	font-weight: normal;
}

#agenda-container .ui-li-link-alt span.ui-btn-inner,
#available-agenda .ui-li-link-alt span.ui-btn-inner {
	display: none;
}
#agenda-container .ui-li-link-alt {
	background: url(images/minus_action.png) no-repeat 50% 50%;
}
#available-agenda .ui-li-link-alt {
	background: url(images/plus_action.png) no-repeat 50% 50%;
}
.draggable-devider {
	margin: 20px 15px 12px 15px;
	width: auto;
	height: 20px;
	background: #eaeaea;
	background-repeat: no-repeat;
	background-image: url(images/drag-devider.png);
    background-image: url(images/drag-devider.png), -webkit-gradient(linear, left top, left bottom, from( #f9f9f9 ), to( #dcdddd )); /* Saf4+, Chrome */
    background-image: url(images/drag-devider.png), -webkit-linear-gradient( top, #f9f9f9 , #dcdddd ); /* Chrome 10+, Saf5.1+ */
    background-image: url(images/drag-devider.png), -moz-linear-gradient( top, #f9f9f9 , #dcdddd ); /* FF3.6 */
    background-image: url(images/drag-devider.png), -ms-linear-gradient( top, #f9f9f9 , #dcdddd ); /* IE10 */
    background-image: url(images/drag-devider.png), -o-linear-gradient( top, #f9f9f9 , #dcdddd ); /* Opera 11.10+ */
    background-image: url(images/drag-devider.png), linear-gradient( top, rgb(249, 249, 249) , #dcdddd );
    background-position: 50% 50%;
	border: 1px solid #b7b7b8;
	border-radius: 3px;
}
ul#available.ui-listview {
	margin: -9px;
}
#available a.ui-link-inherit {
/*	margin-right: 41px;*/
	margin-right: 0;
}
#issue-detail .issue_proposal li a.ui-link-inherit {
	margin-right: 20px;
	padding-right: 0;
}
#issue-detail .ui-content  ul.ui-listview li.add-comment {
	background: transparent;
	padding: 0;
}
#comments li {
	padding: 15px;
}
span.comment-inner blockquote {
	margin-bottom: 0;
}
span.comment-inner blockquote ul {
	padding: 10px 15px;
}
#comments span.comment-inner blockquote ul li {
	padding: 3px 0;
}
/* WYSIWYG top bar */
.mce-container.mce-panel.mce-first.mce-stack-layout-item {
	background: #3d3c3c;
	padding: 5px;
}
.mce-container.mce-panel.mce-first.mce-stack-layout-item .mce-widget {
	box-shadow: none;
}

.mce-statusbar {
	display: none !important;
}
.mce-btn-group {
	margin: 0 10px !important;
}
.mce-btn {
	border: 0 !important;
	background: transparent !important;
	-webkit-box-shadow: 0 0 0 !important;
	-moz-box-shadow: 0 0 0 !important;
	box-shadow: 0 0 0 !important;
}
.mce-btn-small .mce-ico {
	color: #f5f5f5 !important;
	text-shadow: none !important;
}
span.edit-comment push:focus {
	outline: 0;
}
.edit-comment.push .ui-btn {
	border: 0;
	background: url(images/comment_edit_action.png) no-repeat;
}
.delete-comment.push .ui-btn,
.cancel-edit-comment.push .ui-btn {
	border: 0;
	background: url(images/comment_delete_action.png) no-repeat 50% 20%;
}
.edit-comment.push .ui-btn .ui-btn-inner,
.cancel-edit-comment.push .ui-btn .ui-btn-inner,
.delete-comment.push .ui-btn .ui-btn-inner {
	display: none;
}
.edit-comment.push .ui-shadow,
.cancel-edit-comment.push .ui-shadow,
.delete-comment.push .ui-shadow {
	-moz-box-shadow: 0 0 0;
	-webkit-box-shadow: 0 0 0;
}
#issue-detail .abstract,
#proposal-detail .abstract {
	margin: 0 15px 0 0;
}
#issue-detail .issue-by,
#proposal-detail .issue-by {
	padding: 10px 0;
	border-top: 1px solid #d8d8d9;
	border-bottom: 1px solid #d8d8d9;
	background: #fcfcfc;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #e7e7e8 ), to( #fcfcfc )); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( top, #e7e7e8 , #fcfcfc ); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( top, #e7e7e8 , #fcfcfc ); /* FF3.6 */
    background-image:     -ms-linear-gradient( top, #e7e7e8 , #fcfcfc ); /* IE10 */
    background-image:      -o-linear-gradient( top, #e7e7e8 , #fcfcfc ); /* Opera 11.10+ */
    background-image: linear-gradient( top, rgb(231, 231, 232) , #fcfcfc );
}
#comments form.edit-issue-form {
	width:90%;
}
#issue-detail .form-popup.ui-body-c {
	border-radius: 0;
}
#issue-detail .form-popup.ui-body-c .ui-header {
	background: #448698;
}
#issue-detail .ui-bar-a a.close-dialog.ui-shadow,
#issue-list .ui-bar-a a.close-dialog.ui-shadow {
	-moz-box-shadow: 0 0 0;
	-webkit-box-shadow: 0 0 0;
	box-shadow: 0 0 0;
}
#issue-list a.close-dialog..ui-btn-icon-notext .ui-btn-inner .ui-icon,
#issue-detail a.close-dialog.ui-btn-icon-notext .ui-btn-inner .ui-icon {
	float: left;
	background: url(images/delete_action.png) no-repeat 50% 50%;
}
#issue-list a.close-dialog.ui-btn-up-a,
#issue-list a.close-dialog.ui-btn-hover-a,
#issue-detail a.close-dialog.ui-btn-up-a,
#issue-detail a.close-dialog.ui-btn-hover-a {
	width: auto;
	background: transparent;
	border: 0;
}
#issue-detail .form-popup.ui-popup .ui-title,
#issue-issue .form-popup.ui-popup .ui-title,
#participants .ui-dialog-contain .ui-title,
#meetings .ui-dialog-contain .ui-title {
	margin-left: 0;
	margin-right: 0;
	width: 90%;
}
#issue-detail form .ui-input-text {
	width: 95%;
	border-radius: 0;
}
#issue-detail .dialog-content label.control-label {
	font-size: 18px;
	font-weight: bold;
}
#issue-detail .ui-select .ui-btn {
	border-radius: 0;
	width: auto;
}
#issue-list a.close-dialog.ui-btn-icon-notext .ui-btn-inner,
#issue-detail a.close-dialog.ui-btn-icon-notext .ui-btn-inner {
	border: 0;
}
#issue-detail a.close-dialog.ui-btn-icon-notext .ui-btn-inner .ui-icon-shadow {
	-moz-box-shadow: 0 0 0;
	-webkit-box-shadow: 0 0 0;
}
#proposal-detail .ui-btn-icon-right > .ui-btn-inner > .ui-icon {
	background: url(images/arrow-right.png) no-repeat;
}
#proposal-detail .ui-content a.ui-btn-up-c,
#proposal-detail .ui-content a.ui-btn-hover-c {
	border: 0;
	margin-bottom: .1em;
	background: #448698;
	margin-right: 10px;
	margin-left: 10px;
	color: #fff;
	text-shadow: none;
	font-weight: normal;
}
#proposal-detail .ui-icon-shadow,
#meetings .ui-btn-inner .ui-icon-shadow,
#meetings .ui-bar-a .ui-shadow,
#participants .ui-btn-inner .ui-icon-shadow,
#participants .ui-bar-a .ui-shadow,
#meeting-detail a.show-participants.ui-shadow {
	-moz-box-shadow: 0 0 0;
	-webkit-box-shadow: 0 0 0;
	box-shadow: 0 0 0;
}
#proposal-detail .proposal {
	margin: 15px 0 0 0;
}
#meetings .ui-dialog-contain,
#participants .ui-dialog-contain {
	border-radius: 0;
}
#meetings .ui-dialog-contain .ui-header,
#issue-list .ui-popup-container .ui-bar-a,
#participants .ui-dialog-contain .ui-header {
/*	background: #448698;*/
	background-image: url(images/title_bg.png);
}
#meetings .ui-header .ui-btn-right,
#participants .ui-header .ui-btn-right {
	width: auto;
	right: auto;
	left: 5px;
}
#meetings .ui-btn-icon-notext .ui-btn-inner .ui-icon,
#participants .ui-btn-icon-notext .ui-btn-inner .ui-icon {
	float: left;
}
#meetings .ui-btn-icon-notext .ui-btn-inner,
#participants .ui-btn-icon-notext .ui-btn-inner {
	border: 0;
}
#meetings .ui-btn-right.ui-btn-up-a,
#meetings .ui-btn-right.ui-btn-hover-a,
#participants .ui-btn-right.ui-btn-up-a,
#participants .ui-btn-right.ui-btn-hover-a {
	background: url(images/delete_action.png) no-repeat left center transparent;
	background-size: 24px;
}
#meetings .ui-content,
#participants .ui-content {
	padding: 0;
}
#meetings ul.ui-listview li,
#participants ul.ui-listview li {
	border: 0;
	margin-bottom: .1em;
	background: #448698;
	margin-right: 0;
	margin-left: 0;
	padding-right: 15px;
	color: #fff;
	text-shadow: none;
	font-weight: normal;
}
#participants ul.ui-listview li a.ui-link-inherit {
	padding-right: 15px;
	color: #fff;
	text-shadow: none;
	font-weight: normal;
}
#meetings ul.ui-listview li a.ui-link-inherit {
	font-size: 14px;
	padding-right: 0;
	color: #fff;
	text-shadow: none;
	font-weight: normal;
}
#meetings .ui-dialog-contain .ui-content .ui-listview,
#participants .ui-dialog-contain .ui-content .ui-listview {
	margin: 0;
}
#members-list .members-name {
	padding: 15px;
	border: 1px solid #d8d8d9;
	background: #fcfcfc;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #e7e7e8 ), to( #fcfcfc )); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( top, #e7e7e8 , #fcfcfc ); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( top, #e7e7e8 , #fcfcfc ); /* FF3.6 */
    background-image:     -ms-linear-gradient( top, #e7e7e8 , #fcfcfc ); /* IE10 */
    background-image:      -o-linear-gradient( top, #e7e7e8 , #fcfcfc ); /* Opera 11.10+ */
    background-image: linear-gradient( top, rgb(231, 231, 232) , #fcfcfc );
}
#members-list ul.ui-listview li.members {
	border: 0;
	margin-bottom: .1em;
	background: #448698;
	margin-right: 10px;
	margin-left: 10px;
	padding: 10px 20px;
	color: #fff;
	text-shadow: none;
	font-weight: normal;
}
.add-member {
	margin-top: 15px;
}
#invitations form.delete-invitation .ui-btn-up-e,
#invitations form.delete-invitation .ui-btn-hover-e {
	border: 0;
	background: url(images/delete_action.png) no-repeat center;
}
#invitations form.delete-invitation .ui-btn-inner {
	display: none;
}
#invitations form.delete-invitation .ui-shadow {
	-moz-box-shadow: 0 0 0;
	-webkit-box-shadow: 0 0 0;
	box-shadow: 0 0 0;
}
#invitations li.add-member {
	padding-right: 15px;
}
#invite-form .ui-btn-corner-all,
#invite-form .ui-corner-all {
	border-radius: 0;
}
#invite-form label.control-label {
	font-size: 1.17em;
	font-weight: bold;
}
#invitations.ui-listview {
	background: #fcfcfc;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #e7e7e8 ), to( #fcfcfc )); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( top, #e7e7e8 , #fcfcfc ); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( top, #e7e7e8 , #fcfcfc ); /* FF3.6 */
    background-image:     -ms-linear-gradient( top, #e7e7e8 , #fcfcfc ); /* IE10 */
    background-image:      -o-linear-gradient( top, #e7e7e8 , #fcfcfc ); /* Opera 11.10+ */
    background-image: linear-gradient( top, rgb(231, 231, 232) , #fcfcfc );
}
#invite-form div.ui-input-text,
#invite-form textarea {
	background: #fff;
}
#issue-list .dialog-header a.close-dialog {
	width: auto;
}
#issue-detail #comments .comment-inner blockquote p.ui-li-desc {
	white-space: normal;
	overflow: visible;
	color: #333;
	word-break: break-all;
	font-size: 15px;
}
.hidden {
	display: none;
}

/* Hidden Proposal type none */
#issue-detail #div_id_proposal-type select#id_proposal-type.select option:first-child {
	display: none;
}
/* Hidden On load only (TODO# better) */
#issue-detail #div_id_proposal-assigned_to,
#issue-detail #div_id_proposal-due_by {
	display: none;
}
/* Hide right action icon in meeting-detail */
#meeting-detail #main_header a.ui-btn-right.ui-btn-up-a {
	display: none;
}
#upcoming-meeting .dialog-content form .form-actions {
	position: relative;
	text-shadow: none;
	background-image: none;
	-webkit-border-radius: .5em;
	border-radius: .5em;
	text-align: center;
}
#upcoming-meeting .dialog-content form .form-actions input#submit-id-submit {
	background: #194e5c;
	display: block;
	padding: .6em 20px;
	font-size: 16px;
	color: #fff;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	zoom: 1;
	border: 0;
	font-weight: bold;
	width: 100%;
	cursor: pointer;
}
/* To check that nothing else effected beside input's & labels inside forms */
.ui-field-contain div.ui-input-text {
	width: auto;
	display: block;
}
.ui-field-contain label.ui-input-text {
	display: block;
	width: auto;
}
#issue-detail .issue_proposal ul.prop-table {
	display: table;
	width: 100%;
	margin: 0;
	border: 1px solid #d8e0df;
	background: #ffffff;
	position: relative;
}
#issue-detail .issue_proposal ul:last-child.prop-table {
	margin-bottom: 15px;
}
#issue-detail .issue_proposal ul.proposals li.drag-icon {
	display: table-cell;
	width: 40px;
	margin: 0;
	padding: 0;
	background: url(images/drag-icon.png) no-repeat center #cacccd;
}
#issue-detail .issue_proposal ul.proposals li.prop-title {
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #ffffff;
}
#issue-detail .issue_proposal ul.proposals li.prop-title a {
	color: #6c6c6e;
	font-size: 15px;
	font-weight: bold;
	padding: .7em 15px 0 15px;
	margin: 0;
	background: none;
	white-space: normal;
	word-break: break-all;
}
#issue-detail .issue_proposal ul.proposals li.prop-content {
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #ffffff;
}
#issue-detail .issue_proposal ul.proposals li.prop-content p {
	color: #6c6c6e;
	font-size: 15px;
	font-weight: normal;
	padding: 0 15px .7em 15px;
	margin: 0;
	display: block;
	white-space: normal;
	word-break: break-all;
}
.clear {clear: both;}
.nohal {
	position: absolute;
	top: 1px;
	left: 9px;
	width: 13px;
	height: 17px;
	background: url(images/nohal.png) no-repeat;
}
.task {
	position: absolute;
	top: 1px;
	left: 5px;
	width: 22px;
	height: 11px;
	background: url(images/task.png) no-repeat;
}
/* suppose to fix flickering issue
.ui-page { -webkit-backface-visibility: hidden !important; }
*/
