/*##################################################################*/
/* Tablet - portrait ###############################################*/
/*##################################################################*/

@media (min-width:480px) and (max-width: 767px) {
    .tlt {
        letter-spacing: 2px;
        font-size: 48px;
        line-height:50px;
    }
    blockquote p {
        font-size: 22px;
        line-height: 29em;
    }

    blockquote p.first {
		font-size: 42px;
		line-height: 1.5em;
    }
    #tool_boxes .tool_box ul li span {
		font-size: 0.7em;
	}
	#tool_boxes .tool_box ul li {
		height: 200px;
	}

}
@media (min-width:768px) {
    blockquote p.first {
		font-size: 42px;
		line-height: 1.5em;
    }
}
@media (max-width:767px) {
    #home .top-video iframe {
        max-width: 100%;
        height: auto;
        margin-top: 20px;
    }
    #tool_boxes .tool_box_video iframe {
        max-width: 100%;
        height: auto;
    }
}
@media (min-width:768px) and (max-width: 992px) {


    .service_box p {
        width:220px;
        margin: 0 auto;
    }

    #service_boxes ul {
        width:220px;

    }

    .animbox {
        width: 220px;
    }
    #tool_boxes .tool_box ul li span {
		font-size: 0.7em;
	}
	#tool_boxes .tool_box ul li {
		height: 200px;
	}
}


/*##################################################################*/
/* Smartphone - portrait ###########################################*/
/*##################################################################*/

@media (max-width: 479px) {
    .tlt {
        letter-spacing: 0px;
        font-size: 25px;
        line-height:30px;
    }

    h2 {
        font-size: 35px;
        line-height:52px;
    }

    h3 {
        font-size: 25px;
        line-height:37px;
    }

    blockquote p.first {
        font-size: 28px;
        line-height: 1.5em;
    }

    blockquote p {
        font-size: 22px;
        line-height: 29px;
    }
    #tool_boxes .tool_box ul li {
		width: 90%;
		height: auto;
	}

    #home {
        height:auto;
        background-color: #0070aa;
    }

    #tool_boxes .tool_box_video iframe {
        max-width: 100%;
        height: auto;
    }

    #home blockquote {
        margin-top:115px;
    }

    #clients {
        height:450px;
    }

    #clients .client_logo {
        border-width:2px;
    }
    .md-content {
    padding-top:10px;
    }
    .md-content h3, .md-content p{
    margin-bottom:10px;
    margin-top:10px;
    width:90%;
    }

    .flex-direction-nav li .next {right: 20px}
    .flex-direction-nav li .prev {left: 20px}

    .contact_details p{
    margin-top:20px;
    margin-bottom: 50px;
    }
    .social_icons {
    margin-top:25px;
    }
    #tool_boxes #player_display {
        width: 298px !important;
        height: auto !important;
    }
    #tool_boxes #player_carousel {
        width: 298px !important;
        top: 170px !important;
    }
    #tool_boxes #player_carousel_wrap {
        width: 100% !important;
        left: 0 !important;
    }
    #tool_boxes #player_carousel_list {
        width: 100% !important;
    }
    #tool_boxes #player_playlist {
        top: 172px !important;
    }
    #player_carousel ul li {
        width: 64px;
        margin-left: 10px !important;
    }
    #tool_boxes #player {
        width: 298px !important;
        height: 422px !important;
    }
    #player_carousel_navleft,
    #player_carousel_navright {
        display: none !important;
    }
    #player_carousel ul li a img {
        width: 100%;
        height: auto;
    }
}



/*##################################################################*/
/* Retina - desktop + tablet #######################################*/
/*##################################################################*/

@media all and (-webkit-min-device-pixel-ratio: 2), all and (-moz-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 2), all and (-o-min-device-pixel-ratio: 2/1) {
    #home {

    }

    #clients {
        background: url(../images/clients_bg_402x.jpg);
        background-size: 1000px 500px;
        background-position:top;
        background-repeat:no-repeat;
    }



}


/*##################################################################*/
/* Retina - smartphone #############################################*/
/*##################################################################*/

@media (max-width: 479px) and (-webkit-min-device-pixel-ratio: 2), all and (-moz-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 2), all and (-o-min-device-pixel-ratio: 2/1) {
  #home {

  }
}
