{% extends 'base.html' %}
{% load i18n %}

{% block title %}
<title>{% trans "DemOS 404" %}</title>
{% endblock %}

{% block extrahead %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL}}css/404.css" />
{% endblock %}

{% block content %}
<div class="section_1">
	<img src="{{ STATIC_URL }}images/404.png" >
	<div id="t1">
		{% trans "Oops..." %}
	</div>
	<div id="t2">
		{% trans "We couldn't find the requested community" %}.
		<br>
		<a id="backBtn">{% trans "You can go to" %} <a id="ct1" href="https://www.demos.org.il/">{% trans "Main page" %}</a>. </a>
	</div>
</div>
<br>
<div class="section_2">
	<img src="{{ STATIC_URL }}images/404.png" >
	<div id="t1">
		{% trans "Oops..." %}
	</div>
	<div id="t2">
		{% trans "We couldn't find the requested issue" %}.
		<br>
		<a id="backBtn">{% trans "You can go to" %} <a id="ct1" href="https://www.demos.org.il/">קהילת בלה בלה </a>. </a>

	</div>
</div>
<br>
<div class="section_3">
	<img src="{{ STATIC_URL }}images/404.png" >
	<div id="t1">
		{% trans "Oops..." %}
	</div>
	<div id="t2">
		{% trans "We couldn't find the requested proposal" %}.
		<br>
		<a id="backBtn">{% trans "You can go to" %} <a id="ct1" href="https://www.demos.org.il/">נושא בלה בלה</a>. </a>
	</div>
</div>
<br>
<div class="section_3">
	<img src="{{ STATIC_URL }}images/403.png" >
	<div id="t1">
		{% trans "Sorry" %}
	</div>
	<div id="t2">
		{% trans "You don't have permission to view that page" %}
		<br>
		<a id="backBtn"> <a id="ct1" href="https://www.demos.org.il/login/?next=/">{% trans "Login" %}</a>. </a>
	</div>
</div>

{% endblock %}

