{% load i18n %}

<nav class="navbar navbar-default oc_navbar" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle oc_menu pull-left" data-toggle="collapse" data-target=".oc-panel">
			<span class="sr-only">Toggle navigation</span>
		</button>
		<span class="navbar-brand"> {% if community %}
		{{community}}{% if community.board_name %} - {{community.board_name}}{% endif %}
		{% else %}
		{% trans "DemOS" %}
		{% endif %} </span>
	</div>
	<div class="navbar-collapse collapse oc-panel">
		<ul class="nav navbar-nav">
			{% include '_community_panel.html' %}
		</ul>
		{% if community.id %}
		<form class="navbar-form navbar-left" role="search" method="get" action="{% url 'community_search' community.id %}">
			<div class="form-group">
				<input type="text" name="q" class="form-control input-sm" placeholder="{% trans 'General search text...' %}">
			</div>
			<button type="submit" class="btn btn-default btn-sm">
				{% trans "Search" %}
			</button>
		</form>
		{% endif %}
		<ul class="nav navbar-nav navbar-right">
		{% if user.is_authenticated %}
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if user.display_name %}{{user.display_name}}{% else %}{% trans "DemOS" %}{% endif %} <b class="caret"></b></a>
				<ul class="dropdown-menu">
					{% include '_user_panel.html' %}
				</ul>
			</li>
		{% else %}
			<li id="login_navbar">
            	<a href="{% url 'login' %}?next={{ request.path }}">{% trans "Login" %}</a>
			</li>
		{% endif %}
		</ul>
	</div>
</nav>
