{% load i18n %}

<nav class="navbar navbar-default oc_navbar" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle oc_menu" data-toggle="collapse" data-target=".oc-panel">
			<span class="sr-only">Toggle navigation</span>
		</button>
		<span class="navbar-brand"> {% if community %}
		{{community}}
		{% else %}
		{% trans "Open Community" %}
		{% endif %} </span>
	</div>
	<div class="navbar-collapse collapse oc-panel">
		<ul class="nav navbar-nav">
			{% include '_community_panel.html' %}
		</ul>
		<ul class="nav navbar-nav navbar-right">
		{% if user.is_authenticated %}
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if user.display_name %}{{user.display_name}}{% else %}{% trans "Open Community" %}{% endif %} <b class="caret"></b></a>
				<ul class="dropdown-menu">
					{% include '_user_panel.html' %}
				</ul>
			</li>
		{% else %}
			<li id="login_navbar">
            	<a href="{% url 'login' %}?next={{ request.path }}">{% trans "Login" %}</a>
			</li>
		{% endif %}
		</ul>
	</div>
</nav>
