{% load i18n %}

<nav class="navbar navbar-default oc_navbar" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle oc_menu pull-left" data-toggle="collapse" data-target=".oc-panel">
			<span class="sr-only">Toggle navigation</span>
		</button>
		<span class="navbar-brand"> {% if committee %}
			{{ committee.community.name }} - {{ committee.name }}
			{% elif community %}
            {{ community }}
			{% else %}
			{% trans "DemOS" %}
			{% endif %} </span>
	</div>
	<div class="navbar-collapse collapse oc-panel">
		<ul class="nav navbar-nav">
            {% if committee %}
			{% include '_committee_panel.html' %}
            {% else %}
			{% include '_community_panel.html' %}
            {% endif %}
		</ul>
		{% if committee.id or community.id %}
		{% if committee.id %}
        <form class="navbar-form navbar-left search_lg" role="search" method="get" action="{% url 'community_search' committee.community.slug %}">
        {% else %}
        <form class="navbar-form navbar-left search_lg" role="search" method="get" action="{% url 'community_search' community.slug %}">
        {% endif %}
			<div class="form-group">
				<input id="q" type="search" name="q" class="form-control input-sm general-search" placeholder="{% trans 'General search text...' %}" value="{{ query }}">
			</div>
		</form>
		{% endif %}
        <ul class="nav navbar-nav navbar-right">
            {% if committee.id or community.id %}
            <li class="search_sm">
                <span class="search-icon"></span>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="user-icon glyphicon glyphicon-user"></span> <span class="user-name">{% if user.display_name %}{{user.display_name}}{% else %}{% trans "DemOS" %}{% endif %}</span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% include '_user_panel.html' %}
                </ul>
            </li>
            {% else %}
            <li id="login_navbar">
                <a href="{% url 'login' %}?next={{ request.path }}">{% trans "Login" %}</a>
            </li>
            {% endif %}
        </ul>
	</div>
	{% if committee.id or community.id %}
	<div id="toggle-search" class="hidden pull-right">
		{% if committee.id %}
        <form role="search" method="get" action="{% url 'community_search' committee.community.slug %}">
		{% else %}
        <form role="search" method="get" action="{% url 'community_search' community.slug %}">
        {% endif %}
			<div class="form-group">
				<input id="q" type="search" name="q" class="form-control input-sm general-search" placeholder="{% trans 'General search text...' %}" value="{{ query }}">
			</div>
		</form>
	</div>
	{% endif %}
</nav>
