{% load i18n %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}" class="lang-{{LANGUAGE_CODE}}">
    <head>

        <meta charset="utf-8">

        <title>{% trans "Open Community" %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- <link href="{{ STATIC_URL }}css/{% if LANGUAGE_CODE == 'he' %}rtl.{% endif %}bootstrap.css" rel="stylesheet"> -->
        <link href="{{ STATIC_URL }}css/{% if LANGUAGE_CODE == 'he' %}rtl.{% endif %}style.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}fonts/alef/alef.css"  rel="stylesheet" />
        {% block extrahead %}
        {% endblock %}

    </head>

    <body {% block extra-page-id %}{% endblock %}>

        <div id="page">

            <div id="main_header">
                <div class="navbar">
                      <a class="navbar-brand" href="#">
                          {% if community %}
                                {{community}}
                          {% else %}
                                {% trans "Open Community" %}
                          {% endif %}
                      </a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <div class="collapse bs-navbar-collapse">
                          <ul class="nav navbar-nav">
                            {% block startpanel %}
                            {% endblock %}
                            {% block endpanel %}
                            {% endblock %}
                          </ul>
                    </div>
                </div>
            </div>

            <div class="container">
                
            	<div class="row-fluid page_title">
            	    <div class="span12">
                        <h2>{% block page_header %}Page Title{% endblock %}</h2>
                    </div>
               </div>

                {% if messages %}
                    <div class="row-fluid page_title">
                        <div class="span12">
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                   </div>
                {% endif %}

                {% block content %}
                {% endblock %}
            </div>


            <div data-role="popup" id="popup" data-dismissible="true" style="display:none">
                <div data-role="header" data-theme="a" class="ui-bar-a ui-corner-top ui-header">
                    <h3>{% trans "Attention" %}</h3>
                </div>
                <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">

                    <div id="popup-content"></div>

                    <a href="#" data-role="button" data-rel="back" 
                        data-theme="c">{% trans "Close" %}</a>
                </div>
            </div>

        </div>

        <div id="mypopups" style="display:none">
            
        </div>

        {% block dialogs %}
        {% endblock %}


        <script src="{{ STATIC_URL }}jquery-1.9.1.min.js"></script>
        <script src="{{ STATIC_URL }}js/csrf.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
        <!-- <script src="{{ STATIC_URL }}js/jquery.form.js"></script> -->
        <!-- <script src="{{ STATIC_URL }}js/forms.js"></script> -->
        <!-- <script src="{{STATIC_URL}}tinymce/jquery.tinymce.min.js"></script> -->
        <!-- <script>
        tmce_url = '{{STATIC_URL}}tinymce/tinymce.min.js';
        </script> -->
        {% block scripts %}

        {% endblock %}

    </body>
</html>


