{% load i18n %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}" class="lang-{{LANGUAGE_CODE}}">
    <head>

        <meta charset="utf-8">

        <title>{% trans "Open Community" %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap{% if LANGUAGE_CODE == 'he' %}-rtl{% endif %}.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}style{% if LANGUAGE_CODE == 'he' %}-rtl{% endif %}.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}fonts/alef/alef.css"  rel="stylesheet" />
        {% block extrahead %}
        {% endblock %}

    </head>

    <body {% block extra-page-id %}{% endblock %}>
		{% include '_navbar.html' %}
        <div class="container">
            <div class="row">
                {% if messages %}
                <div class="col-xs-12">
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
               </div>
                {% endif %}
                <div class="col-xs-12">
                    <h1 class="text-center">
                        {% block page_header %}Page Title{% endblock %}
                    </h1>
                    <div class="btn-group btn-group-justified">
                        {% block pagemenu %}{% endblock %}
                    </div>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
		</div>
            <div data-role="popup" id="popup" data-dismissible="true" style="display:none">
                <div data-role="header" data-theme="a" class="ui-bar-a ui-corner-top ui-header">
                    <h3>{% trans "Attention" %}</h3>
                </div>
                <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">

                    <div id="popup-content"></div>

                    <a href="#" data-role="button" data-rel="back"
                    data-theme="c">{% trans "Close" %}</a>
                </div>
            </div>

        <div class="modal fade" id="modal-form">
        </div>

        {% block dialogs %}
        {% endblock %}

        <script src="{{ STATIC_URL }}jquery-1.9.1.min.js"></script>
        <script>
        </script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
        <script src="{{ STATIC_URL }}js/csrf.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.form.js"></script>
        <script src="{{ STATIC_URL }}js/forms.js"></script>
        <script src="{{STATIC_URL}}tinymce/jquery.tinymce.min.js"></script>
        <script>
            tmce_url = '{{STATIC_URL}}tinymce/tinymce.min.js';
        </script>

        {% block scripts %}

        {% endblock %}

    </body>
</html>
