{% load i18n %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}" class="lang-{{LANGUAGE_CODE}}">
    <head>

        <meta charset="utf-8">

        <title>{% trans "Open Community" %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="{{ STATIC_URL }}m/{% if LANGUAGE_CODE == 'he' %}rtl.{% endif %}jquery.mobile-1.3.0.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}m/style.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}m/{% if LANGUAGE_CODE == 'he' %}rtl.{% endif %}style.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}fonts/alef/alef.css"  rel="stylesheet" />
        {% block extrahead %}
        {% endblock %}

    </head>

    <body {% block extra-page-id %}{% endblock %}>
    <body>
    
    <div id="fb-root"></div>
<script>
  
  
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=251222371580490";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

        <div id="loading" style="z-index: 100; background:white; position:absolute; top:0; left:0; right:0; bottom:0">
            &nbsp;
        </div>

        <div data-role="page">

            <div id="main_header" data-role="header" data-position="fixed">
                {% block header-start %}
                    <a href="#"></a>
                {% endblock %}
                <h1>
                    <span class="h1top">
                        {% if community %}
                            {{community}}
                        {% else %}
                            {% trans "Open Community" %}
                        {% endif %}
                    </span>
                    <br/>
                    {% block page_header %}Page Title{% endblock %}
                </h1>
                {% block header-end %}
                <a href="#" data-icon="arrow-l" data-iconpos="notext" data-rel="back"></a>
                {% endblock %}
            </div>

            <div data-role="content">
                {% block content %}
                {% endblock %}
            </div>

            {% block startpanel %}
            {% endblock %}

            {% block endpanel %}
            {% endblock %}


        </div>

        {% block dialogs %}
        {% endblock %}

        <script src="{{ STATIC_URL }}jquery-1.9.1.min.js"></script>
        <script>
            $(document).on("mobileinit", function(){
                $.mobile.ajaxEnabled = false;
                $.mobile.popup.prototype.options.overlayTheme = 'a';
                $.mobile.popup.prototype.options.transition = 'slidedown';
            });
            $(function() {
                $('#loading').hide();
                $('.dateinput').attr('type','date');
                $('.timeinput').attr('type','time');
                $('.datetimeinput').attr('type','datetime-local');
                $('.crequired input,.crequired select,.crequired textarea').attr('required','required');
            });
        </script>
        <script src="{{ STATIC_URL }}m/{% if LANGUAGE_CODE == 'he' %}rtl.{% endif %}jquery.mobile-1.3.0.js"></script>
        <script src="{{ STATIC_URL }}js/csrf.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.form.js"></script>

        {% block scripts %}

        {% endblock %}

    </body>
</html>


