{% load i18n %}

<div class="modal-dialog">
    <form method="post">

        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title"> {% block page_header %}Page Title{% endblock %} </h4>
            </div>

            <div class="modal-body">
                {% block content %}
                {{form}}
                {% endblock %}
            </div>
            {% block nofooter %}
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                <input type="submit" class="btn btn-oc" value="{% block btn_text %}{% trans "Save" %}{% endblock %}">
            </div>
            {% endblock %}
        </div>
    </form>
</div>

{% block page_scripts %}
{% endblock %}

{% block scripts %}
    <script>
        initForm($('#modal-form'));
    </script>
{% endblock %}
