{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block extra-page-id %}
	id="login-page"
{% endblock %}

{% block page_header %}
    {% trans "Login" %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <form role="form" method="post" action="{% url 'ocd.views.login_user' %}">
                {% csrf_token %}
                <div class="form-group">
                {{ form }}
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="remember_me">{% trans "Remember me" %}
                    </label>
                </div>
                <a href="{% url "password_reset" %}">{% trans "forgot password" %}?</a>
                <div class="narrow">
                    <input type="submit" class="btn btn-oc btn-block" value="{% trans "Login" %}" />
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/128073540?portrait=0" width="555" height="416" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

<script>
    $(function() {
        $('#id_username').attr('type','email');
        $('#id_username').addClass('form-control');
        $('#id_password').addClass('form-control');
    });
</script>

{% endblock %}
