{% load i18n %}

<div{% if LANGUAGE_CODE == 'he' %} dir="rtl"{% endif %}
    style="font-family: Arial, Helvetica, sans-serif{% if LANGUAGE_CODE == 'he' %};direction:rtl{% endif %}">

    <div style="border: 1px solid black">
    
    	{% if community.logo %}
    	<div style="width: 100%">
    		<center>
    		<img src="{{base_url}}{{MEDIA_URL}}{{ community.logo }}" style="max-width: 100%;height: auto;" />
    		</center>
    	</div>
    	{% endif %}
        <h1 style="margin:0 0 1em 0; text-align: center; padding: 4px">
            {{community}}{% if community.official_identifier %} {{ community.official_identifier }}{% endif %}
        </h1> 
        <h1 style="margin:0; background: #ddd;padding: 4px">
            {% if title %}
              {{title}} -
            {% endif %}
            {{title_type}}
        </h1>

        <div style="padding:3px 6px">
            {% if community.allow_links_in_emails %}
            <p>
                <a href="{{base_url}}{{url}}">{% trans "View online" %}</a>
            </p>
            {% endif %}

            <div style="border: solid 1px #ccc; margin: 4px 0;padding: 0"> 
                <h2 style="margin:0; background: #ddd;padding: 4px">{% trans "Meeting Details" %}</h2>

                <div style="margin:0; padding: 4px">
                    <b>{% trans "Scheduled at" %}:</b>
                    {{ scheduled_at|default:_("Not set yet") }}
                    <br/>
                    <b>{% trans "Location" %}:</b>
                    {{ location|default:_("Not set yet") }}
                    {% if summary %}
                        <br/>
                        <b>{% trans "Summary" %}:</b>    
                        <div>
                            {{summary|safe}}
                        </div>
                    {% endif %}
                </div>
            </div>
    
            {% if participants or guests %}
            <div style="border: solid 1px #ccc; margin: 4px 0;padding: 0"> 
                <h2 style="margin:0; background: #ddd;padding: 4px">{% trans "Participants" %}</h2>
    
                <div style="margin:0; padding: 4px">
                    {% for u in participants %}
                        {{ u }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                    {% if guests %}
                        <p>
                            <b>{% trans "Guests" %}:</b>
                            {% for x in guests %}
                                {{ x }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    
        <h2 style="margin:12px 0 0 0; background:#eee; padding:6px 3px 3px">
            {% trans "Issues & Decisions" %}
        </h2>
    
        <div style="padding:12px 6px">
    
            {% for a in agenda %}
                <article style="border: solid 1px #ccc; margin-top: 12px;">
    
                    <h3 style="margin:0; background: #ddd;padding: 4px; font-size: 20px;">
                        {% if community.allow_links_in_emails %}
                        <a href="{{base_url}}{{a.issue.get_absolute_url}}">
                            {{a.issue.title}}
                        </a>
                        {% else %}
                            {{a.issue.title}}
                        {% endif %}
                    </h3>

                    {% if a.comments.count or a.issue.attachments.count %}
                      <h4 style="margin:0; background: #eee; padding: 2px">
                          {% trans "Discussion Summary" %}
                      </h4>

                      {% if a.issue.attachments.count %}
                         <div class="issue_attachments">
                         <p>{% trans 'Related files' %}:</p>
                         <ul>
                         {% for att in a.issue.attachments.all %}
                            <li>                      
                                <a href="{{base_url}}{{ att.get_absolute_url }}" class="file_ext"><img height="16" src="{{base_url}}{{ STATIC_URL }}images/icons/{{ att.get_icon }}.png" /> {{att.title}}</a>
                            </li>
                         {% endfor %}
                         </ul>
                         </div>
                      {% endif %}

                      {% if a.comments.count %}
                        {% for c in a.comments.all %}
                            <p style="padding:0; margin: 3px;">
                                {{c.content|safe}}
                                {% comment %}
                                <i style="font-size: smaller">
                                    ({{c.created_by}} {% trans "at" %} {{c.created_at}})
                                </i>
                                {% endcomment %}
                            </p>
                        {% endfor %}
                      {% endif %}
                      
                    {% endif %}

                    {% if a.proposals %}
                        {% if a.accepted_proposals %}  
                            <h4 style="margin:0; background: #eee; padding: 2px">
                                {% trans "Accepted Proposals" %}
                            </h4>
                            <ul>
                                {% for p in a.accepted_proposals.all %}
                                    <li style="padding:2px 0">
                                        {% if community.allow_links_in_emails %}
                                        <a href="{{base_url}}{{p.get_absolute_url}}">
                                            {% if p.type != 3 %}
                                                {{ p.get_type_display }}:
                                            {% endif %}
                                            {{p.title}}
                                        </a>
                                        {% else %}
                                            {{p.title}} 
                                        {% endif %}
                                        {% if p.assigned_to %}
                                            &nbsp;
                                            <b>{% trans "Assigned to" %}</b>: {{p.assigned_to}}
                                        {% endif %}
                                        {% if p.due_by %}
                                            &nbsp;
                                            <b>{% trans "Due by" %}</b>: {{p.due_by}}
                                        {% endif %}
                                        {% if p.content %}
                                            <div class="proposal_content">
                                                {{p.content|safe}}
                                            </div>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if a.rejected_proposals %}
                            <h4 style="margin:0; background: #eee; padding: 2px">
                                {% trans "Rejected Proposals" %}
                            </h4>
                            <ul>
                                {% for n in a.rejected_proposals.all %}
                                    <li style="padding:2px 0">
                                        {% if community.allow_links_in_emails %}
                                        <a href="{{base_url}}{{n.get_absolute_url}}">
                                            {{n.title}}
                                        </a>
                                        {% else %}
                                              {{n.title}}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% else %}
                        <p>
                            <b>{% trans "No Accepted Proposals" %}</b>
                        </p>

                    {% endif %}
                </article>
    
            {% endfor %}
    
        </div>
    </div>

</div>

<style>
    .proposal_content p, .issue_attachments p { margin: 0.2em 0;}
    .issue_attachments ul {
        margin: 4px 0;
        list-style-type: none;
    }
    .file_ext {
        padding-right: 30px;
        background-size: 22px 20px;
        background-position: right;
        background-repeat: no-repeat;
    }
    
</style>
