{% load i18n %}
{% load opencommunity community_tags %}
<div{% if LANGUAGE_CODE == 'he' %} dir="rtl"{% endif %}
    style="font-family: Arial, Helvetica, sans-serif{% if LANGUAGE_CODE == 'he' %};direction:rtl{% endif %}"
>

{% block content %}
    <div style="border: 1px solid black">
    	{% if committee.logo %}
    	<div style="width: 100%; text-align: center;">
    		<img src="{{base_url}}{{MEDIA_URL}}{{ committee.logo }}"/>
    	</div>
    	{% endif %}
        <h1 style="margin:0 0 1em 0; text-align: center; padding: 4px">
            {{committee.community}} - {{ committee.name }} {% if committee.official_identifier %} <br/> {{ committee.official_identifier }}{% endif %}
        </h1>
        <h1 style="margin:0; background: #ddd;padding: 4px">
            {% if committee.no_meetings_community and committee.upcoming_meeting_title %}
                {{committee.upcoming_meeting_title}}
            {% else %}
            {% trans "Agenda" %}
            {% if committee.upcoming_meeting_title %}
              -
              {{committee.upcoming_meeting_title}}
            {% endif %}
            {% endif %}

        </h1>

        <div style="padding:3px 6px">
            <p style="float:left">
                <i>
                    {% if committee.upcoming_meeting_is_published %}
                        {% trans "Published at" %} {{committee.upcoming_meeting_published_at}}
                        ({% trans "Version" %} {{committee.upcoming_meeting_version}})
                    {% else %}
                        {% trans "Draft" %}
                    {% endif %}
                </i>
            </p>
            <p style="height: 18px;">
                {% if committee.allow_links_in_emails %}
                  {% if committee.straw_voting_enabled and can_straw_vote %}
                  <a href="{{base_url}}{{committee.get_absolute_url}}"><strong>{% trans "Enter site and vote on proposals" %}</strong></a>
                  {% else %}
                      <a href="{{base_url}}{{committee.get_absolute_url}}">{% trans "View online" %}</a>
                  {% endif %}
                {% endif %}
            </p>

            {% if not committee.no_meetings_community %}
            <div style="border: solid 1px #ccc; margin: 4px 0;padding: 0">
                <h2 style="margin:0; background: #ddd;padding: 4px">{% trans "Meeting details" %}</h2>

                <div style="margin:0; padding: 4px">
                        <b>{% trans "Scheduled at" %}:</b>
                        {{committee|display_upcoming_time}}
                        <br/>
                        <b>{% trans "Location" %}:</b>
                        {{committee.upcoming_meeting_location|default:_("Not set yet")}}
                        {% if committee.upcoming_meeting_comments %}
                            <div>
                                {{committee.upcoming_meeting_comments|safe}}
                            </div>
                        {% endif %}
                </div>
            </div>
            {% endif %}
        </div>

            {% if not committee.no_meetings_community %}
            <h2 style="margin:12px 0 0 0; background:#eee; padding:6px 3px 3px">{% trans "Issues " %}</h2>
            {% endif %}
            <div style="padding:12px 6px">
                {% if committee.allow_links_in_emails %}
                    <p>({% trans "click links for more details. to vote on proposals from the mail just click for/against buttons under the proposal" %})</p>
                {% endif %}

                {% for obj in issue_container %}
                    <article style="border: solid 1px #ccc; margin-top: 12px;">

                        <h3 style="margin:0; background: #ddd;padding: 4px; font-size: 20px;">
                        {% if committee.allow_links_in_emails %}
                            <a href="{{base_url}}{{obj.issue.get_absolute_url}}">
                                {{obj.issue.title}}{% if obj.issue.is_confidential %} [{% trans "Confidential" %} - {{ obj.issue.confidential_reason }}]{% endif %}
                            </a>
                        {% else %}
                            {{obj.issue.title}}
                        {% endif %}
                            {% if obj.issue.length_in_minutes %}
                              ({{obj.issue.length_in_minutes|minutes}})
                            {% endif %}
                        </h3>
                        {% if obj.issue.abstract %}
                            <div style="padding:3px;">
                                {{obj.issue.abstract|safe}}
                            </div>
                        {% endif %}

                        {% if obj.issue.current_attachments.count and committee.allow_links_in_emails %}
                         <div class="issue_attachments">
                            <p>{% trans 'Related files' %}:</p>
                            <ul>
                            {% for att in obj.issue.current_attachments.all %}
                                <li>
                                    <a href="{{base_url}}{{ att.get_absolute_url }}" class="file_ext"><img height="16" src="{{base_url}}{{ STATIC_URL }}images/icons/{{ att.get_icon }}.png" /> {{att.title}}</a>
                                </li>
                            {% endfor %}
                            </ul>
                         </div>
                        {% endif %}

                        {% if obj.proposals.open.count %}
                            <h4 style="margin:0; background: #eee; padding: 2px">
                                {% trans "Proposals" %}
                            </h4>
                            <ul>
                                {% for p in obj.proposals.open|dictsort:"created_at" %}
                                    <li style="padding:2px 0">
                                        {% if committee.allow_links_in_emails %}
                                            <a href="{{base_url}}{{p.get_absolute_url}}">
                                                {% if p.type != 3 %}
                                                    {{ p.get_type_display }}:
                                                {% endif %}
                                              {{p.title}}{% if p.is_confidential and not obj.issue.is_confidential %} [{% trans "Confidential" %} - {{ p.confidential_reason }}]{% endif %}
                                            </a>
                                        {% else %}
                                              {{p.title}}{% if p.is_confidential and not obj.issue.is_confidential %} [{% trans "Confidential" %} - {{ p.confidential_reason }}]{% endif %}
                                        {% endif %}

                                        {% if p.assigned_to %}
                                            &nbsp;
                                            <b>{% trans "Assigned to" %}</b>: {{p.assigned_to}}
                                        {% endif %}
                                        {% if p.due_by %}
                                            &nbsp;
                                            <b>{% trans "Due by" %}</b>: {{p.due_by}}
                                        {% endif %}
                                        {% if p.content %}
                                            <div class="proposal_content">
                                                {{p.content|safe}}
                                            </div>
                                        {% endif %}
                                        {% if committee.straw_voting_enabled and can_straw_vote %}
                                        <div>
                                            <a href="{{base_url}}{{p.get_email_vote_url}}?val=pro" style="color: #ffffff;background-color: #a4cb53;border-color: #a4cb53;text-decoration: none;display: inline-block;padding: 0px 5px;margin-bottom: 0;font-size: 13px;font-weight: normal;line-height: 1.428571429;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;border: 1px solid transparent;border-radius: 4px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;">{% trans "For" %}</a>
                                            <a href="{{base_url}}{{p.get_email_vote_url}}?val=con" style="color: #ffffff;background-color: #952722;border-color: #952722;text-decoration: none;display: inline-block;padding: 0px 5px;margin-bottom: 0;font-size: 13px;font-weight: normal;line-height: 1.428571429;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;border: 1px solid transparent;border-radius: 4px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;">{% trans "Against" %}</a>
                                        </div>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </article>

                {% endfor %}

            </div>
        </div>
    </div>



{% endblock %}

</div>

<style>
    .proposal_content p { margin: 0.2em 0;}
</style>
