{% load i18n %}

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {% trans "Committees" %} <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        {% for c in committee.community.get_committees %}
        <li><a href="{% url 'committee' committee.community.slug c.slug %}">{{ c.name }}</a></li>
        {% endfor %}
        <li role="separator" class="divider"></li>
        <li><a href="{{ committee.community.get_absolute_url }}">{{ committee.community.name }}</a></li>
    </ul>
</li>
<li class="just_slash hidden-xs">/</li>
<!-- <li class="hidden-xs" style="width: 50px;height: 40px;"></li> -->

{% comment "Navbar issues - remove from navbar for now" %}
{% if 'viewopen_issue' in cperms %}
<li>
    <a {% if pill == 'issues' %}class="active"{% endif %} href="{% url 'issues' committee.community.slug committee.slug %}">
    {% if LANGUAGE_CODE == 'he' and committee.no_meetings_community %}{% trans "No meetings issues" %}{% else %}{% trans "Issues" %}{% endif %}</a>
</li>
<li class="just_slash hidden-xs">/</li>
{% endif %}
{% endcomment %}

{% if committee %}
{% if 'viewupcoming_community' in cperms %}
<li>
    <a {% if pill == 'upcoming' %}class="active"{% endif %} href="{% url 'committee' committee.community.slug committee.slug %}">
    {% if LANGUAGE_CODE == 'he' and committee.no_meetings_community %}{% trans "Updates" %}{% else %}{% trans "Meetings" %}{% endif %}</a>
</li>
{% endif %}
{% endif %}

{% comment %}
{% if cperms.meetings.view_meeting and committee.meetings.count %}
<li class="just_slash hidden-xs">/</li>
<li>
    <a href="{% url 'history' committee.community.slug committee.slug %}">{% trans "History" %}</a>
</li>
{% endif %}
{% endcomment %}

{% if committee %}
{% if 'viewopen_issue' in cperms %}
{% if not committee.no_meetings_community %}
<li class="just_slash hidden-xs">/</li>
<li>
    <a href="{% url 'procedures' committee.community.slug committee.slug %}">{% trans "Rules" %}</a>
</li>
<li class="just_slash hidden-xs">/</li>
<li>
    <a href="{% url 'assignments' committee.community.slug committee.slug %}">{% trans "Tasks" %}</a>
</li>
{% endif %}
{% endif %}
{% endif %}
