{% load i18n %}

<li>
    <a href="{{ community.get_absolute_url }}">{{ community }}</a>
</li>
{% if community.get_committees %}
<li class="just_slash hidden-xs">/</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {% trans "Committees" %} <b class="caret"></b>
    </a>
        <ul class="dropdown-menu">
            {% for c in community.get_committees %}
            <li><a href="{% url 'committee' community.slug c.slug %}">{{ c.name }}</a></li>
            {% endfor %}
        </ul>
</li>
{% endif %}
{% if 'invite_member' in cperms %}
<li class="just_slash hidden-xs">/</li>
<li>
    <a href="{% url 'members' community.slug %}">{% trans "Members" %}</a>
</li>
{% endif %}
