{% load i18n %}
{% if cperms.issues.viewopen_issue %}
    <li{% if pill == 'issues' %} class="active"{% endif %}>
        <a href="{% url 'issues' community.id %}">{% trans "Issues" %}</a>
    </li>
{% endif %}

{% if cperms.communities.viewupcoming_community %}
    <li{% if pill == 'upcoming' %} class="active"{% endif %}>
        <a href="{% url 'community' community.id %}">{% trans "Upcoming Meeting" %}</a>
    </li>
{% endif %}

{% if cperms.meetings.view_meeting %}
    <li{% if pill == 'history' %} class="active"{% endif %}>
        <a href="{% url 'history' community.id %}">{% trans "History" %}</a>
    </li>
{% endif %}

{% if cperms.community.invite_member %}
    <li>
        <a href="{% url 'members' community.id %}">{% trans "Members" %}</a>
    </li>
{% endif %}

{% if user.is_staff %}
    <li>
        <a href="{% url 'admin:index' %}">{% trans "Admin" %}</a>
    </li>
{% endif %}

<li data-role="list-divider">
    {% if user.is_authenticated %}{{user.display_name}}{% else %}{% trans "Open Community" %}{% endif %}
</li>

<li>
    <a href="{% url 'home' %}">{% trans "All Communities" %}</a>
</li>

{% if user.is_authenticated %}
    <li>
        <a href="{% url 'logout' %}">{% trans "Log out" %}</a>
    </li>
{% else %}
    <li>
        <a href="{% url 'login' %}">{% trans "Login" %}</a>
    </li>
{% endif %}
