{% load i18n %}
<div data-role="popup" id="issuespanel">
    <ul data-role="listview">
        <li{% if pill == 'issues' %} class="active"{% endif %}>
            <a href="{% url 'issues' community.id %}">{% trans "Issues" %}</a>
        </li>
        <li{% if pill == 'upcoming' %} class="active"{% endif %}>
            <a href="{% url 'upcoming_meeting' community.id %}">{% trans "Upcoming Meeting" %}</a>
        </li>
        <li{% if pill == 'history' %} class="active"{% endif %}>
            <a href="{% url 'history' community.id %}">{% trans "History" %}</a>
        </li>
    </ul>
</div>
