{% load i18n %}

{% if user.is_authenticated %}
    <a class="list-group-item active disable" href="#">
        {{user.display_name}}{% else %}{% trans "Open Community" %}
    </a>
{% endif %}

{% if user.is_staff %}
    <a class="list-group-item" href="{% url 'admin:index' %}">{% trans "Admin" %}</a>
{% endif %}

<a class="list-group-item" href="{% url 'home' %}">{% trans "All Communities" %}</a>

{% if user.is_authenticated %}
    <br/>
    <a class="list-group-item" href="{% url 'logout' %}">{% trans "Log out" %}</a>
{% else %}
    <a class="list-group-item" href="{% url 'login' %}">{% trans "Login" %}</a>
{% endif %}
