{% extends "base.html" %}
{% load i18n %}
{% load opencommunity highlight %}


{% block title %}
    <title>{{ object }}</title>
{% endblock %}

{% block page_header %}
    <a href="{% url 'role:list' community.slug %}">{{ community }} {% trans "Roles" %}</a>
    &gt; {{ object.title }}
{% endblock %}

{% block content %}

    {% if object.based_on %}
        <b>{% blocktrans %}Based on{% endblocktrans %}:</b>
        {{ object.get_based_on_display }}
    {% endif %}
    <h4>{% trans 'Permission list' %}</h4>
    <ul>
        {% for p in object.all_perms_titles %}
            <li>
                {{ p }}
            </li>
        {% endfor %}
    </ul>
    <a class="btn btn-oc" data-rel="form" href="{% url 'role:edit' community.slug object.id %}">{% trans "Edit" %}</a>

{% endblock %}
